<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Witamy</title>
    <!-- <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon"> -->
    <style>
        body {
            padding:0;margin:0;width:100%;min-height:100vh;position:relative;
        }
    </style>
</head>

<iframe
        style="
   width:100%;height:100%;position: absolute;
    "
        src="https://enelsenior.pl/dom-opieki-jak-dobrze-wybrac" frameborder="0"></iframe>