.comments-container {
    margin: 0 0 15px;
    width: auto
}

.comments-container h1 {
    font-size: 36px;
    color: #283035;
    font-weight: 400
}

.comments-container h1 a {
    font-size: 18px;
    font-weight: 700
}

.comments-list {
    position: relative;
    padding-left: 0;
    list-style: none;
}

.comments-list:before,
.reply-list li:before {
    content: '';
    width: 2px;
    height: 100%;
    background: #c7cacb;
    position: absolute;
    left: 32px;
    top: 0
}

.comments-list:after {
    content: '';
    position: absolute;
    background: #c7cacb;
    bottom: 0;
    left: 29px;
    width: 8px;
    height: 8px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%
}

.reply-list:after,
.reply-list:before {
    display: none
}

.reply-list li:before {
    width: 60px;
    height: 2px;
    top: 25px;
    left: -55px
}

.comments-list li {
    margin-bottom: 15px;
    display: block;
    position: relative
}

.reply-list {
    padding-left: 88px;
    clear: both;
    margin-top: 15px
}

.comments-list .comment-avatar {
    width: 65px;
    height: 65px;
    position: relative;
    z-index: 99;
    float: left;
    overflow: hidden;
    background-color: #e2edf5
}

.comments-list .comment-avatar img {
    width: 100%;
    height: 100%;
    opacity: .25;
    padding: 10px
}

.reply-list .comment-avatar {
    width: 50px;
    height: 50px
}

.comment-main-level:after,
.comments-list li:after {
    content: '';
    width: 0;
    height: 0;
    display: block;
    clear: both
}

.comments-list .comment-box {
    width: calc(100% - 90px);
    float: right;
    position: relative;
    border: 1px solid #e5e5e5
}

.comments-list .comment-box:after,
.comments-list .comment-box:before {
    content: '';
    height: 0;
    width: 0;
    position: absolute;
    display: block;
    border-style: solid
}

.comments-list .comment-box:after {
    border-width: 10px 12px 10px 0;
    border-color: transparent #fcfcfc;
    top: 8px;
    left: -11px
}

.comments-list .comment-box:before {
    border-width: 11px 13px 11px 0;
    border-color: transparent #e5e5e5;
    left: -12px;
    top: 7px
}

.reply-list .comment-box {
    width: calc(100% - 75px)
}

.comment-box .comment-head {
    background: #fcfcfc;
    padding: 10px 12px;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    -webkit-border-radius: 4px 4px 0 0;
    -moz-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0
}

.comment-box .comment-head i {
    float: right;
    margin-left: 14px;
    position: relative;
    top: 2px;
    color: #a6a6a6;
    cursor: pointer;
    -webkit-transition: color .3s ease;
    -o-transition: color .3s ease;
    transition: color .3s ease
}

.comment-box .comment-head i:hover {
    color: #03658c
}

.comment-box .comment-name {
    color: #283035;
    font-size: 14px;
    font-weight: 700;
    float: left;
    margin: 0 10px 0 0;
    font-family: 'Source Sans Pro', sans-serif
}

.comment-box .comment-name a {
    color: #283035
}

.comment-box .comment-head>span {
    float: left;
    color: #999;
    font-size: 13px;
    position: relative;
    top: 0;
    margin-right: 10px
}

.comment-box .comment-content {
    background: #fff;
    padding: 12px;
    font-size: 14px;
    color: #595959;
    -webkit-border-radius: 0 0 4px 4px;
    -moz-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px
}

.comment-box .comment-name.by-author,
.comment-box .comment-name.by-author a {
    color: #0f70b7
}

.comment-box .comment-name.by-author:after {
    content: 'author';
    background: #0f70b7;
    color: #fff;
    font-size: 12px;
    padding: 3px 5px;
    font-weight: 700;
    margin-left: 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

.addComment {
    margin-top: 30px;
    border-top: 1px solid #e5e5e5;
    padding-top: 30px
}

.addComment h3 {
    margin-top: 0;
    margin-bottom: 15px
}

.addComment .btn {
    background-color: #f9951a
}

.addComment form .form-group:last-child {
    margin-bottom: 0
}

.addComment input[type=text],
.addComment textarea {
    -webkit-box-shadow: none;
    box-shadow: none;
    transition: 150ms all linear
}

.addComment input[type=text]:focus,
.addComment textarea:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    background: #e9f6ff
}

.addComment textarea {
    min-height: 150px
}

@media screen and (max-width:767px) {
    .comment-box .comment-head>span {
        display: block;
        width: 100%;
        clear: both
    }
    .comment-box .comment-head i {
        float: left;
        margin-left: 0;
        margin-right: 15px;
        margin-top: 15px
    }
}

@media screen and (max-width:479px) {
    .comment-box .comment-content {
        font-size: 11px
    }
    .reply-list .comment-box {
        width: calc(100% - 0px);
        float: none;
        clear: both
    }
    .reply-list .comment-avatar {
        margin-bottom: 15px
    }
    .reply-list.comments-list .comment-box:before {
        left: 15px;
        top: -17px;
        transform: rotate(90deg)
    }
    .reply-list.comments-list .comment-box:after {
        top: -15px;
        left: 16px;
        transform: rotate(90deg)
    }
}