@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Merriweather:400,700|Source+Sans+Pro:400,400i,700,700i&amp;subset=latin-ext);
body {
    padding-top: 50px;
    font-family: "Source Sans Pro", sans-serif;
    font-size: 14px;
    line-height: 1.45
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Merriweather", serif;
    line-height: 1.25
}

p {
    margin-bottom: 15px
}

p.lead {
    margin-bottom: 15px
}

hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media (min-width:768px) {
    p {
        font-size: 1.5em;
        margin-bottom: 15px
    }
    p.lead {
        font-size: 1.75em;
        margin-bottom: 15px
    }
}

@media (max-width:767px) {
    p {
        font-size: 1.25em;
        margin-bottom: 15px
    }
    p.lead {
        font-size: 1.5em;
        margin-bottom: 15px
    }
}

*>:last-child {
    margin-bottom: 0
}

.navbar-brand-wrap {
    display: flex;
    align-items: center;
}

.navbar-brand-wrap .userLocation {
    line-height: 0;
    font-size: 22px;
}

.navbar-brand-wrap .userLocation .flag-icon {
    border-radius: 50%;
    overflow: hidden;
    top: auto;
    margin-right: 10px;
}

nav.navbar-default {
    background-color: #05375a;
    border: 0
}

nav.navbar-default .navbar-nav>li>a {
    color: #fff;
    transition: 150ms all linear
}

nav.navbar-default .navbar-nav>li>a:hover {
    color: #8ba8c1
}

.navbar-default .navbar-nav>li:not(.active)>a {
    position: relative;
    overflow: hidden
}

.navbar-default .navbar-nav>li:not(.active)>a:after {
    content: "";
    display: block;
    border-radius: 50%;
    background: rgba(255, 255, 255, .1);
    transition: 150ms all ease-in-out;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform: scale(0);
    opacity: .5
}

.navbar-default .navbar-nav>li:not(.active)>a:hover:after {
    transform: scale(1.5);
    opacity: 1
}

@media (min-width:768px) {
    nav.navbar-default .navbar-nav>li {
        border-right: 1px solid rgba(255, 255, 255, .15)
    }
}

nav.navbar-default .navbar-toggle {
    border-color: rgba(255, 255, 255, .15)
}

nav.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff
}

nav.navbar-default .navbar-toggle:focus,
nav.navbar-default .navbar-toggle:hover {
    background-color: #0f70b7
}

nav .navbar-brand img {
    max-height: 20px
}

.navbar-default .navbar-nav>.active>a {
    background: #0f70b7;
    color: #d3e7f5
}

.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background: #0f70b7;
    color: #d3e7f5
}

#mainNav .navbar-form {
    position: relative
}

#mainNav .navbar-form input {
    border-color: #fff;
    box-shadow: none;
    transition: 150ms all linear;
    padding-right: 50px
}

#mainNav .navbar-form input:focus {
    border-color: #fff;
    box-shadow: none;
    background: #e9f6ff
}

#mainNav .navbar-form button {
    position: absolute;
    right: 15px;
    border-radius: 0 4px 4px 0;
    background: #0f70b7;
    color: #fff;
    border-color: #0f70b7
}

@media (min-width:768px) {
    #mainNav .navbar-form button {
        top: 0
    }
}

@media (max-width:767px) {
    #mainNav .navbar-form button {
        top: 10px
    }
}

@media (min-width:1200px) {
    .navbar-form .form-control {
        min-width: 360px
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .navbar-form .form-control {
        min-width: 374px
    }
}

@media (min-width:768px) and (max-width:991px) {
    .navbar-form .form-control {
        min-width: 200px
    }
}

@media (max-width:767px) {
    .navbar-form .form-group {
        margin-bottom: 0
    }
}

footer,
header {
    background: #efefef
}

header h1 {
    margin: 0 0 15px;
    /*max-width: 750px*/
}

header .articleDetails {
    margin: 0;
    font-size: 1.25em
}

header .articleDetails .articleAuthor {
    margin-right: 15px
}

header .articleDetails .articleDate {
    margin-right: 15px;
    color: #0f70b7;
    white-space: nowrap
}

header .articleDetails .articleShared {
    margin-right: 15px;
    color: #888;
    white-space: nowrap
}

header .articleDetails .sharing {
    white-space: pre
}

header .articleDetails .sharing a {
    margin-right: 10px;
    opacity: 1;
    transition: 150ms opacity linear
}

header .articleDetails .sharing a:hover {
    opacity: .75
}

header .articleDetails .sharing a .fa-facebook-f {
    color: #264ad4
}

header .articleDetails .sharing a .fa-twitter {
    color: #54bcff
}

header .articleDetails .sharing a .fa-envelope {
    color: #92b0b8
}

header .articleDetails .sharing a .fa-rss {
    color: #e88413
}

header .articleDetails>span {
    display: inline-block;
    margin-bottom: 10px
}

@media (min-width:768px) {
    header {
        padding: 45px 0 20px
    }
}

@media (max-width:767px) {
    header {
        padding: 30px 0 10px
    }
}

@media (min-width:768px) {
    header h1 {
        font-size: 4.5rem
    }
}

@media (max-width:767px) {
    header h1 {
        font-size: 3rem
    }
}

@media (min-width:768px) {
    article {
        padding: 20px 0
    }
}

@media (max-width:767px) {
    article {
        padding: 20px 0
    }
}

article a {
    text-decoration: underline
}

article a:hover,
aside .greyContainer .relatedStory .relatedStoryHeadline:hover {
    text-decoration: none
}

main {
    counter-reset: articleno
}

main h2 {
    color: #0f70b7;
    margin: 45px 0 30px;
    border-bottom: 1px solid #efefef;
    padding-bottom: 15px
}

main h2:before {
    counter-increment: articleno;
    content: counter(articleno) " — "
}

main .articleImgTitle {
    margin-bottom: 30px;
    border: 1px solid #cecece;
    padding: 10px;
    background: #fff
}

main .articleImgTitle img {
    width: 100%
}

main .inlineQuote {
    font-style: italic
}

@media (min-width:768px) {
    main h2 {
        font-size: 3.5rem
    }
}

@media (max-width:767px) {
    main h2 {
        font-size: 2.5rem
    }
}

.articleSteps {
    font-size: 1.5em;
    margin-bottom: 5px;
    border: 1px solid #cecece;
    padding: 30px 30px 15px
}

.articleSteps .articleStep {
    margin-bottom: 15px
}

.articleSteps .articleStep .articleStepHeading {
    display: block;
    font-size: 1.25em;
    color: #0f70b7;
    font-family: 'Merriweather', serif
}

aside .greyContainer {
    background: #efefef;
    padding: 25px 30px 30px;
    border-top: 5px solid #05375a
}

aside .greyContainer h3 {
    margin: 0 0 15px;
    color: #05375a
}

aside .greyContainer .relatedStory:not(:last-of-type) {
    border-bottom: 1px solid #cecece;
    margin-bottom: 15px;
    padding-bottom: 15px
}

aside .greyContainer .relatedStory img {
    width: 85px;
    height: auto;
    float: left;
    margin-right: 10px;
    margin-top: 5px
}

aside .greyContainer .relatedStory .relatedStoryHeadline {
    display: block;
    font-size: 1.25em;
    text-decoration: underline;
    line-height: 1.3;
    margin-bottom: 5px
}

aside .bannerContainer {
    width: 100%;
    margin-top: 30px
}

@media (min-width:992px) {
    aside #stickyItem .articleSteps {
        margin-bottom: 0
    }
}

@media (max-width:991px) {
    aside .greyContainer {
        margin-top: 30px
    }
}

section.comments {
    border-top: 1px solid #cecece
}

section.comments h2 {
    margin: 0 0 25px;
    color: #05375a;
    font-size: 2.25em
}

@media (min-width:768px) {
    section.comments {
        padding: 20px 0
    }
}

@media (max-width:767px) {
    section.comments {
        padding: 15px 0
    }
}

footer img.img-responsive {
    max-width: 160px;
    opacity: .25
}

footer .footerLinks a {
    color: #cecece;
    display: inline-block;
    text-decoration: underline
}

footer .footerLinks a:hover {
    opacity: .8;
    text-decoration: none
}

footer .copyright {
    color: #cecece
}

@media (min-width:768px) {
    footer {
        padding: 45px 0
    }
}

@media (max-width:767px) {
    footer {
        padding: 30px 0
    }
    footer .footerLinks {
        border-top: 1px solid #cecece;
        padding-top: 30px
    }
    footer img.img-responsive {
        margin-bottom: 30px
    }
}

@media (min-width:768px) {
    footer .footerLinks a {
        margin: 0 20px 0 0
    }
}

@media (max-width:767px) {
    aside {
        display: none;
    }
    .navbar-brand-wrap .userLocation .flag-icon {
        margin-right: 0;
        margin-left: 10px;
    }
    footer .footerLinks a {
        margin: 0 20px 20px 0
    }
}

/* Pixel 2XL landscape & iPhone X landscape */

@media (min-width: 800px) and (max-width: 825px) and (max-height: 500px) and (orientation: landscape) {
    .bannerContainer {
        display: none;
    }
}

/* For Alt Version */

.comments-list li {
    display: none;
    list-style: none;
}

.comments-list li.active-comment {
    display: block;
}