body {
    overflow-x: hidden;
    margin-top: 0;
    padding: 90px
}

img {
    display: inline;
    padding: 100px
}

a {
    cursor: pointer;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out
}

a:hover,
a:focus {
    outline: none;
    text-decoration: none
}

.m-t-25 {
    margin-top: 25px !important
}

.m-b-30 {
    margin-bottom: 30px !important
}

.m-b-8 {
    margin-bottom: 8px !important
}

.m-b-5 {
    margin-bottom: 5px !important
}

.m-b-steps {
    margin-left: 5px !important;
    float: left;
    font-size: 90px;
    text-align: center;
    font-weight: 700
}

.p-l-0 {
    padding-left: 0 !important
}

.p-b-0 {
    padding-bottom: 0 !important
}

.p-r-5 {
    padding-right: 5px !important
}

.p-l-5 {
    padding-left: 5px !important
}

.no-border-top {
    border-top: none !important
}

@media only screen and (max-width: 767px) {
    .p-l-15-mobile {
        padding-left: 15px !important
    }
}

.navbar {
    margin-bottom: 0
}

.navbar-default {
    background-image: none;
    border-radius: 0;
    border: none;
    background: #fff
}

.navbar-default .container {
    display: flex;
    align-items: center;
}

.navbar-brand {
    padding: 2px 10px
}

.navbar-brand img {
    width: 150%;
    max-width: 150px
}

.navbar-nav {
    float: left
}

.navbar-nav>li {
    text-align: center
}

.navbar-default .navbar-nav>li>a {
    font-family: Arial;
    text-shadow: none;
    color: #333;
    font-size: 13px;
    font-weight: 700
}

.navbar-default .navbar-nav>li>a:hover,
.navbar-default .navbar-nav>li>a:focus {
    text-shadow: 0 2px 2px #777;
    color: #fff
}

@media only screen and (max-width: 767px) {
    .navbar-nav {
        display: block;
        width: auto;
        float: none
    }
    .navbar-nav>li {
        display: block
    }
    .navbar-default .navbar-toggle {
        border-color: #000;
        background: 0 0;
        color: #000;
        float: right
    }
    .navbar-default .navbar-toggle:hover,
    .navbar-default .navbar-toggle:focus {
        background: 0 0;
        color: #fff;
        border-color: #fff
    }
    .navbar-header {
        text-align: center
    }
    .navbar-brand {
        padding: 5px 10px;
        margin: 0 auto;
        display: block;
        float: left;
        width: 120px
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .navbar-default .navbar-nav>li>a {
        font-size: 16px;
        padding: 15px 8px
    }
}

.content-box {
    background: #fff
}

.content h1 {
    font-family: OpenSans-Bold;
    margin: 30px 0 16px;
    color: #222;
    font-size: 46px
}

.content .img-responsive {
    margin: 0 auto 5px
}

.content p {
    font-family: Verdana;
    margin: 0 0 20px;
    line-height: 26px;
    font-size: 17px;
    color: #222
}

.content p.small-text {
    font-size: 15px;
    padding: 15px 5px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    line-height: 23px
}

.content p.pink-text {
    color: #0198bd
}

.content p.update {
    border: 1px dotted #000;
    background: #effff7;
    padding: 4px 9px
}

.content p.update .red-text {
    color: red
}

.content h5 {
    font-family: Georgia;
    color: #222;
    margin: 8px 0 20px;
    font-size: 20px;
    line-height: 28px
}

.content h5.pink-border-bottom {
    color: #666;
    border-bottom: 2px solid #0198bd;
    margin-bottom: 15px
}

.content h4 {
    font-family: OpenSans-Bold;
    font-size: 21px;
    line-height: 28px;
    color: #222;
    margin: 0 0 20px
}

.content p a {
    color: #0198bd
}

.content p a:hover,
.content p a:focus {
    color: #0198bd
}

.content h3 {
    font-family: OpenSans-Bold;
    color: #222;
    margin: 26px 0;
    font-size: 26px
}

.content .top-bottom-border {
    width: 100%;
    height: 13px;
    background: 0 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 30px 0
}

.grey-box {
    padding-top: 15px;
    background: #ccc;
    margin: 0 0 20px
}

.content .grey-box h4 {
    margin-top: 5px
}

.grey-box .box-inner {
    margin-bottom: 20px
}

.content .revival-box {
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #ccc;
    padding-top: 20px;
    padding-bottom: 10px;
    margin-bottom: 15px
}

.content .revival-box2 {
    margin-left: 0;
    margin-right: 0;
    border: 1px solid #ccc;
    background: #f5f9fa;
    padding: 10px;
    margin-bottom: 15px
}

.content .revival-box .button {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px
}

@media only screen and (max-width: 767px) {
    .content .grey-box .img-responsive {
        margin-bottom: 15px
    }
    .content .revival-text {
        text-align: center
    }
    .content .revival-box .rev {
        margin-bottom: 15px
    }
    .content .revival-box .button {
        margin: 0 auto 20px
    }
    .content h1 {
        font-size: 30px
    }
}

.comments {
    background: #fff;
    padding-bottom: 30px
}

.recent {
    margin-left: 0;
    margin-right: 0;
    padding-top: 15px;
    padding-bottom: 20px
}

.recent p,
.recent a {
    font-family: Tahoma;
    font-size: 14px;
    margin: 0;
    line-height: 18px;
    color: #3b5998
}

.recent p {
    font-weight: 700
}

.media {
    margin: 0;
    padding: 8px 0;
    border-top: 1px solid #e2e2e2
}

.media.border-bottom {
    border-bottom: 1px solid #e2e2e2
}

.media-left img {
    margin-top: 6px
}

.myButton {
    box-shadow: inset 0 1px 0 0 #f29c93;
    background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
    background-color: #fe1a00;
    border-radius: 6px;
    border: 1px solid #d83526;
    display: inline-block;
    cursor: pointer;
    color: #fff;
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    padding: 13px 24px;
    text-decoration: none;
    text-shadow: 0 1px 0 #b23e35
}

.myButton:hover {
    background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
    background-color: #ce0100
}

.myButton:active {
    position: relative;
    top: 1px
}

.media-body h4 a {
    font-family: Tahoma;
    font-size: 13px;
    color: #3b5998;
    margin: 0 0 5px;
    line-height: 14px;
    font-weight: 700
}

.media-body h4 a:hover,
.media-body h4 a:focus {
    color: #3b5998
}

.media-body p {
    font-family: Tahoma;
    font-size: 12px;
    color: #1a1a1a;
    line-height: 15px;
    margin: 0 0 5px
}

.media-body p.bottom {
    color: #3b5998
}

.media-body p.bottom .like {
    margin-left: 8px
}

.media-body p.bottom .time {
    color: gray;
    border-bottom: 1px dotted gray
}

.comments p.small {
    font-family: Tahoma;
    font-size: 11px;
    color: #3b5998;
    margin: 10px 0
}

.footer {
    width: 100%;
    height: 100px;
    background: #000;
    text-align: center;
    padding-top: 30px
}

.footer a {
    color: DimGray
}

.timer {
    position: fixed;
    width: 100%;
    background: #333;
    bottom: 0;
    padding: 8px 0
}

.timer p {
    font-family: Opensans-Regular;
    margin: 0;
    color: #fff
}

.timer p #countdown {
    font-weight: 700
}

.timer .btn {
    font-family: Opensans-Regular;
    margin-top: 3px
}

#advertisement {
    text-align: center;
    color: DarkGrey;
    font-size: 10px;
    font-family: Arial
}

.col-md-4 {
    padding-top: 30px
}

img.checkmark {
    border: 0;
    display: block;
    float: left;
    height: 29px;
    margin: 10px 0 0 12px;
    width: 30px
}

div.steps {
    float: left;
    font-size: 22px;
    font-weight: 700;
    padding: 22px 0 0
}

a.offer:link,
a.offer:visited {
    color: #00e;
    text-decoration: underline
}

a.offer:active,
a.offer:hover {
    text-decoration: none
}

div.warning {
    color: #434343;
    font-family: OpenSans-Bold;
    padding: 22px 12px 0;
    text-align: center
}

@media only screen and (max-width: 992px) {
    .col-md-4 {
        display: none
    }
}

/* Screen 320px */

@media (max-width: 479px) {
    .navbar {
        min-height: 0;
    }
    .navbar-brand {
        width: auto;
        height: auto;
        padding: 10px 10px 0;
    }
    .content h1 {
        font-size: 22px;
        margin: 15px 0 10px;
    }
}