body,
html {
    height: 100%;
    width: 100%;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    /*  font-family: 'Roboto Slab', serif;*/
    background: #eee;
    overflow-x: hidden;
    min-width: 300px;
}

m img {
    border: none;
    max-width: 100%;
    display: block;
}

ul,
li {
    list-style: none;
}

a {
    color: #000;
    text-decoration: none;
    outline: 0;
}

a:hover {
    transition: .2s;
}

.clear:after {
    content: '.';
    display: block;
    clear: both;
    visibility: hidden;
    height: 0;
}

.wrapper {
    max-width: 1050px;
    margin: 0 auto;
}

.top {
    background: #000;
    height: 30px;
    line-height: 30px;
    text-align: justify;
    padding: 0 45px;
    /* Включаем в работу последнюю строку*/
    text-align-last: justify;
}

.top:after,
.header:after {
    width: 100%;
    height: 0px;
    visibility: hidden;
    overflow: hidden;
    content: '';
    display: inline-block;
}

.date-info {
    display: inline-block;
    vertical-align: top;
    font-size: 10px;
    color: #fff;
    font-weight: 100;
}

.register-links {
    display: inline-block;
    vertical-align: top;
}

.register-links li {
    display: inline-block;
    vertical-align: top;
    font-weight: 100;
    font-size: 10px;
}

.register-links span {
    color: #fff;
    padding-left: 5px;
}

.register-links a {
    color: #fff;
}

.register-links a:hover {
    color: #e5dbdb;
}

.header {
    padding: 0 45px;
    background: #fff;
    text-align: justify;
    border-right: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
}

.header-descript {
    display: inline-block;
    vertical-align: top;
    max-width: 145px;
    font-size: 14px;
    font-weight: 300;
    color: #0a0a0a;
    margin-top: 30px;
}

.logo {
    display: inline-block;
    vertical-align: top;
    margin-top: 19px;
}

.soc-icon {
    display: inline-block;
    vertical-align: top;
    font-size: 0;
    margin-top: 26px;
}

.soc-icon li {
    display: inline-block;
    vertical-align: top;
    margin: 0 3px 6px;
}

svg:hover .g,
svg:hover .fb,
svg:hover .tw {
    fill: #c8c8c8;
}

.navigation {
    padding: 0 45px;
    background: #fff;
    height: 50px;
    line-height: 50px;
    font-size: 0;
    border: 1px solid #c8c8c8;
}

.navigation li:first-child {
    border-right: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
}

.navigation li {
    display: inline-block;
    vertical-align: top;
    border-right: 1px solid #c8c8c8;
}

.navigation a {
    display: block;
    padding: 0 20px;
    font-size: 17px;
    font-weight: 300;
    color: #4e4e4e;
}

.navigation a:hover {
    color: #fff;
    background: #939393;
}

.container {
    background: #fff;
    padding: 40px 362px 30px 45px;
    border-right: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
}

.content {
    float: left;
    max-width: 640px;
    width: 100%;
}

.main-title {
    font-size: 27px;
    color: #131313;
    font-family: 'Roboto Slab', serif;
}

.main-title span {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
    margin-top: 7px;
    display: inline-block;
    vertical-align: top;
    background: #e6711b;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
}

.main-title-descript {
    font-size: 18px;
    color: #939393;
    margin-top: 5px;
}

.content-separ {
    height: 3px;
    border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
    margin: 10px 0;
}

.content-menu {
    font-size: 0;
    margin-bottom: 12px;
}

.content-menu li {
    display: inline-block;
    vertical-align: top;
}

.content-menu li:first-child img {
    padding-right: 15px;
}

.content-menu span {
    margin-top: 5px;
    display: inline-block;
    vertical-align: top;
    font-size: 14px;
    color: #6b6b6b;
    padding: 0 15px;
}

.content-menu a {
    margin-top: 6px;
    font-size: 14px;
    color: #6b6b6b;
    display: inline-block;
    vertical-align: top;
}

.content-menu a:hover {
    text-decoration: underline;
}

.content-text {
    font-size: 15px;
    text-align: justify;
}

.content-text a {
    color: #1b8be9;
    text-decoration: underline;
}

.title {
    font-family: 'Roboto Slab', serif;
    font-size: 18px;
    color: #131313;
}

.image-box {
    background: #f4fcff;
    border: 1px solid #e9e9e9;
}

.image-box img {
    max-width: 100%;
}

.image-box i {
    display: block;
    color: #404040;
    font-weight: normal;
    padding: 15px;
}

.image-box-right {
    float: right;
    max-width: 240px;
    margin: 0 0 5px 10px;
}

.image-box-right p {
    font-size: 14px;
    font-weight: 300;
    font-style: italic;
    color: #131313;
    padding: 20px 15px;
}

.note {
    padding: 15px;
    background: #f4fcff;
    font-size: 18px;
    color: #606060;
    font-style: italic;
}

.note-i {
    float: left;
    margin: 0 15px 50px;
    width: 33px;
    height: 24px;
}

.content-list {
    padding: 20px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.content-list h2 {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    font-size: 30px;
    color: #606060;
    margin-bottom: 23px;
}

.content-list li {
    font-size: 15px;
    color: #606060;
    padding-left: 10px;
    margin-bottom: 25px;
}

.content-list a {
    font-weight: bold;
    color: #499ac8;
}

.content-list a:hover {
    text-decoration: underline;
}

.content-button {
    font-family: 'Roboto Slab', serif;
    text-align: center;
    display: block;
    height: 53px;
    line-height: 53px;
    border-radius: 30px;
    padding: 0 45px;
    font-size: 18px;
    max-width: 400px;
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    color: #fff !important;
    border-right: 5px solid #994609;
    border-left: 5px solid #994609;
    background: #fd8b37;
    background: -moz-linear-gradient(top, #fd8b37 0%, #db6106 100%);
    background: -webkit-linear-gradient(top, #fd8b37 0%, #db6106 100%);
    background: linear-gradient(to bottom, #fd8b37 0%, #db6106 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd8b37', endColorstr='#db6106', GradientType=0);
}

.content-button:hover {
    text-decoration: none !important;
}

.comment {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
}

.comment-block a {
    text-decoration: none;
}

.comment-title {
    font-size: 15px;
    color: #464646;
    padding-bottom: 3px;
    margin-bottom: 20px;
    border-bottom: 1px solid #e1e1e1;
}

.comment form {
    padding-left: 64px;
}

.comment img {
    float: left;
    margin-left: -64px;
}

.comment textarea {
    max-width: 576px;
    width: 100%;
    border: 1px solid #e1e1e1;
    min-height: 56px;
    padding: 5px 8px;
    color: #ccc;
}

/*begin sidebar*/

.sidebar {
    width: 280px;
    float: right;
    margin-right: -320px;
}

.sponsers {
    font-family: 'Roboto Slab', serif;
}

.sponser-box {
    margin-bottom: 30px;
}

.sponser-title {
    background: #ecf0f6;
    height: 23px;
    line-height: 23px;
    font-size: 11px;
    font-weight: bold;
    color: #7b889c;
    text-transform: uppercase;
    text-align: center;
}

.sponser-box h4 {
    font-size: 16px;
}

.side-separ {
    height: 3px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

.side-content {
    margin-bottom: 30px;
}

.side-c-r {
    text-align: right;
}

.side-c-l {
    text-align: left;
}

.float-l {
    float: left;
    margin: 0 10px 4px 0;
}

.float-r {
    float: right;
    margin: 0 0 4px 10px;
}

.side-content h4 {
    font-family: 'Roboto Slab', serif;
    font-size: 15px;
    color: #524545;
    margin-bottom: 25px;
}

.side-content p {
    font-size: 13px;
    color: #524545;
}

.side-list-title {
    font-size: 15px;
    margin-bottom: 15px;
    color: #524545;
    font-family: 'Roboto Slab', serif;
}

.side-list a {
    font-size: 13px;
    color: #524545;
}

.side-list li {
    margin-bottom: 15px;
    padding-left: 10px;
    background: url(side-list.jpg) no-repeat left 8px;
}

.side-button {
    display: block;
    text-align: center;
    height: 38px;
    line-height: 38px;
    border-radius: 20px;
    padding: 0 20px;
    font-size: 13px;
    text-transform: uppercase;
    color: #fff;
    border-right: 3px solid #994609;
    border-left: 3px solid #994609;
    background: #fd8b37;
    background: -moz-linear-gradient(top, #fd8b37 0%, #db6106 100%);
    background: -webkit-linear-gradient(top, #fd8b37 0%, #db6106 100%);
    background: linear-gradient(to bottom, #fd8b37 0%, #db6106 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fd8b37', endColorstr='#db6106', GradientType=0);
}

.comm-box {
    margin-bottom: 15px;
    padding-left: 70px;
    max-width: 600px;
}

.comm-image {
    margin-left: -70px;
    float: left;
    margin-top: 4px;
}

.user-name {
    font-size: 16px;
    color: #b1b1b1;
    font-weight: 300;
    margin-bottom: 3px;
}

.user-name a {
    color: #3b5998;
    font-weight: bold;
}

.comm-text {
    font-size: 15px;
    font-weight: 300;
    color: #424242;
    margin-bottom: 5px;
}

.comm-like {
    font-weight: 300;
}

.comm-like a {
    font-size: 14px;
    color: #3b5998;
}

.comm-like a span {
    display: inline-block;
    vertical-align: top;
    height: 14px;
    padding-left: 20px;
    background: url(like.jpg) no-repeat;
}

.time-add {
    display: inline-block;
    vertical-align: top;
    margin-left: 2px;
    font-size: 14px;
    color: #b1b1b1;
}

.footer {
    padding: 40px 5px;
    text-align: center;
    border-right: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
}

.footer-nav {
    font-size: 0;
    text-transform: uppercase;
}

.footer-nav ul {
    margin-bottom: 25px;
}

.footer-nav li {
    display: inline-block;
    vertical-align: top;
    font-size: 16px;
}

.footer-nav a {
    color: #4e4e4e;
}

.footer-nav a:hover {
    text-decoration: underline;
}

.footer-nav span {
    padding: 0 10px;
    color: #8f8f8f;
}

.footer-nav p {
    font-size: 14px;
    color: #9c9c9c;
}

.center {
    max-width: 1050px;
    margin: 0 auto;
}

@media all and (max-width: 900px) {
    .header,
    .navigation,
    .top {
        padding: 0 10px;
    }
    .container {
        padding: 20px 10px;
    }
    .sidebar {
        display: none;
    }
    .content {
        max-width: 100%;
    }
    .image-box-right {
        max-width: 240px !important;
    }
    .image-box {
        max-width: 640px;
        margin: 10px auto;
    }
}

@media all and (max-width: 700px) {
    .header {
        text-align: center;
    }
    .header-descript,
    .soc-icon {
        display: none;
    }
    .navigation {
        height: 30px;
        line-height: 30px;
        overflow: hidden;
    }
    .navigation a {
        padding: 0 10px;
        font-size: 14px;
    }
    .logo img {
        max-width: 100%;
    }
    .main-title {
        font-size: 26px;
    }
    .main-title span {
        font-size: 15px;
        margin-top: 2px;
    }
}

@media all and (max-width: 480px) {
    .main-title {
        font-size: 20px;
    }
    .main-title span {
        font-size: 13px;
        height: 23px;
        line-height: 23px;
        margin-top: 2px;
    }
    .image-box-right {
        float: none;
    }
    .content-list h2 {
        font-size: 20px;
    }
    .content-button {
        height: 45px;
        line-height: 45px;
        font-size: 13px;
    }
}