@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:700|Open+Sans:400,600,700&subset=latin-ext');
abbr,
article,
aside,
b,
body,
div,
em,
figcaption,
figure,
footer,
h1,
h2,
h5,
header,
html,
i,
img,
label,
li,
nav,
ol,
p,
section,
span,
table,
tbody,
td,
tr,
ul {
    background: 0 0;
    border: 0;
    font-size: 100%;
    margin: 0;
    outline: 0;
    padding: 0;
    vertical-align: baseline
}

body {
    line-height: 1
}

article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
    display: block
}

nav ul {
    list-style: none
}

a {
    background: 0 0;
    font-size: 100%;
    margin: 0;
    padding: 0;
    vertical-align: baseline
}

table {
    border-collapse: collapse;
    border-spacing: 0
}

input {
    vertical-align: middle
}

main {
    display: block
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: #fff;
    box-sizing: border-box;
    color: #141414;
    margin-top: 50px;
    padding: 0;
    transition: margin-top 125ms linear;
    width: 100%
}

body main {
    position: relative
}

body.article-page {
    background-color: #f1f1f1
}

[data-mod] {
    min-height: 1px
}

@media all and (min-width:728px) {
    body {
        margin-top: 64px
    }
}

@media all and (min-width:1024px) {
    body {
        margin-top: 90px;
        transition: none
    }
}

@media all and (min-width:1240px) {
    body {
        margin-top: 90px
    }
    main {
        margin: 0 auto;
        z-index: 1
    }
}

.icon {
    border-radius: 50%;
    box-sizing: content-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    text-indent: 100%;
    white-space: nowrap
}

.icon:before {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-font-smoothing: antialiased;
    font-family: icomoon;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 1;
    text-indent: 0;
    text-transform: none
}

.icon:after {
    border-radius: 50%;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%
}

.section-theme-background-indicator:after,
.section-theme-background-indicator:before {
    background: #626262 !important
}

.publication-theme {
    color: #626262 !important
}

.publication-theme-highlight {
    background-color: #626262 !important;
    color: #fff
}

.publication-theme-border,
.publication-theme-border:before {
    border-color: #626262 !important
}

.publication-theme-icon:before {
    content: '';
    height: 25px;
    left: 0;
    position: absolute;
    top: 0;
    width: 25px
}

#logo {
    height: 50px;
    width: 150px;
    background-size: 100% 100%
}

@media all and (min-width:728px) {
    #logo {
        height: 60px;
        width: 180px
    }
}

@media all and (min-width:1024px) {
    #logo {
        height: 70px;
        width: 210px
    }
}

@media all and (min-width:1240px) {
    #logo {
        height: 80px;
        width: 240px
    }
}

.article-body li a,
.article-body p a {
    color: #626262
}

.article-body>a {
    color: #626262
}

@media all and (min-width:1240px) {
    main {
        background-color: #fff
    }
}

footer {
    background: #efefef;
    margin-top: 75px;
    padding: 48px 12px 56px;
    position: relative;
    z-index: 1
}

footer p {
    font-size: 0.6em;
    font-weight: normal;
    line-height: 1.25;
    color: rgb(168, 168, 168);
}

@media all and (min-width:728px) {
    footer {
        padding-bottom: 24px;
        padding-left: 32px;
        padding-right: 32px
    }
}

@media all and (min-width:1240px) {
    footer {
        padding-left: 0;
        padding-right: 0
    }
    footer div {
        margin: 0 auto;
        width: 1156px
    }
}

.mod-header:not([data-expanded]) #hamburger:after,
.mod-header:not([data-expanded]) #hamburger:before,
.mod-header:not([data-expanded]) #hamburger>span {
    border-radius: 3px;
    background: #fff;
    content: '';
    height: 3px;
    left: 7px;
    position: absolute;
    width: 20px
}

#logo {
    height: 50px;
    width: 150px;
    background-size: 100% 100%;
    display: block;
    margin-left: 38px;
    overflow: hidden;
    position: absolute;
    text-indent: 100%
}

#hamburger {
    cursor: pointer;
    display: block;
    height: 50px;
    left: 0;
    margin-top: 0;
    overflow: hidden;
    position: absolute;
    text-indent: 100%;
    top: 0;
    white-space: nowrap;
    width: 38px
}

.mod-header * {
    box-sizing: border-box
}

.mod-header:not([data-expanded]) #hamburger:before {
    top: 17px;
    transform: none
}

.mod-header:not([data-expanded]) #hamburger:after {
    top: 29px
}

.mod-header:not([data-expanded]) #hamburger>span {
    display: block;
    top: 23px
}

.mod-header .has-children>.toggle {
    display: none
}

.mod-header>.primary {
    clear: both;
    background: #626262;
    height: 50px;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 4
}

.mod-header>.primary:after {
    clear: both;
    content: '.';
    display: block;
    height: 0;
    visibility: hidden
}

.mod-header>.primary nav {
    display: none
}

.mod-header .footer {
    display: none
}

@media all and (min-width:728px) {
    #logo {
        height: 60px;
        width: 180px;
        margin-left: 55px
    }
    .mod-header:not([data-expanded]) #hamburger {
        height: 60px;
        opacity: 1;
        width: 55px
    }
    .mod-header:not([data-expanded]) #hamburger:before {
        left: 15px;
        top: 21px;
        width: 25px
    }
    .mod-header:not([data-expanded]) #hamburger:after {
        left: 15px;
        top: 35px;
        width: 25px
    }
    .mod-header:not([data-expanded]) #hamburger>span {
        left: 15px;
        top: 28px;
        width: 25px
    }
    .mod-header>.primary {
        height: 60px
    }
}

@media all and (min-width:1024px) {
    #logo {
        height: 70px;
        width: 210px;
        float: left;
        margin-left: 0;
        position: static
    }
    #hamburger {
        display: none
    }
    .mod-header>.primary {
        height: 70px
    }
    .mod-header>.primary nav {
        display: block;
        float: left
    }
    .mod-header>.primary [data-level='1'] {
        clear: both;
        margin-left: 10px
    }
    .mod-header>.primary [data-level='1']:after {
        clear: both;
        content: '.';
        display: block;
        height: 0;
        visibility: hidden
    }
    .mod-header>.primary [data-level='1']>li {
        float: left
    }
    .mod-header>.primary [data-level='1']>li>a {
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        font-weight: 400;
        box-sizing: border-box;
        font-weight: 600;
        height: 70px;
        padding: 29px 8px 0
    }
    .mod-header>.primary [data-level='1']>li>a:hover {
        color: #e0e0e0
    }
    .mod-header>.primary [data-level='1'] a {
        font-family: 'Open Sans', sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #fff;
        display: block;
        font-weight: 400;
        position: relative;
        text-decoration: none;
        text-transform: uppercase
    }
    .mod-header>.primary [data-level='1'] .toggle {
        display: none
    }
    .mod-header>.primary [data-level='1'] .has-children {
        position: relative
    }
    .mod-header>.primary [data-level='1'] .has-children:after {
        border-color: #fff transparent transparent;
        border-style: solid;
        border-width: 5px 5px 0;
        content: '';
        font-size: 0;
        height: 0;
        position: absolute;
        right: 10px;
        top: 34px;
        width: 0
    }
    .mod-header>.primary [data-level='1'] .has-children:hover>a {
        color: #e0e0e0
    }
    .mod-header>.primary [data-level='1'] .has-children:hover:after {
        border-color: #e0e0e0 transparent transparent
    }
    .mod-header>.primary [data-level='1'] .has-children>ul {
        border-radius: 2px;
        background: #fff;
        border: solid 1px #e0e0e0;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, .1);
        display: none;
        padding: 24px;
        position: absolute;
        width: 240px
    }
    .mod-header>.primary [data-level='1'] .has-children>a {
        padding-right: 25px
    }
}

@media all and (min-width:1240px) {
    #logo {
        height: 80px;
        width: 240px
    }
    .mod-header>.primary {
        height: 80px
    }
    .mod-header>.primary [data-level='1']>li>a {
        font-size: 16px;
        height: 80px;
        padding-top: 34px
    }
    .mod-header>.primary [data-level='1'] .has-children:after {
        top: 40px
    }
}

.article-page main {
    background-color: #fff;
    padding-top: 20px
}

.related-column>* {
    display: none
}

.article-wrapper {
    margin-top: 20px
}

.article-wrapper::after {
    clear: both;
    content: ' ';
    display: table
}

.article-main {
    box-sizing: border-box;
    position: relative
}

.article-main>h1 {
    font-size: 36px;
    color: #141414;
    letter-spacing: -1px;
    line-height: 1.2;
    margin-bottom: 20px;
    padding: 0 12px;
    position: relative
}

.article-main h1+p {
    color: #626262;
    font-size: 1.5rem;
    line-height: 1.6;
    margin-bottom: 20px;
    padding: 0 12px
}

@media all and (min-width:728px) {
    .article-main h1+p {
        padding: 0
    }
}

@media all and (min-width:1024px) {
    .article-main h1+p {
        font-size: 18px
    }
}

@media all and (min-width:1240px) {
    .article-main h1+p {
        font-size: 20px
    }
}

.article-body li a,
.article-body p a {
    color: #626262;
    font-weight: 700;
    text-decoration: underline
}

.article-body li a:hover,
.article-body p a:hover {
    opacity: .75
}

.article-body h2,
.article-body h5 {
    color: #141414;
    margin: 40px 0 20px;
    padding: 0 12px
}

.article-body h2 {
    font-family: 'Open Sans', sans-serif;
    font-size: 31px;
    font-weight: 600
}

.article-body h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;
    font-weight: 400;
    font-weight: 700
}

.article-body h5 {
    font-size: 16px
}

.article-body a {
    text-decoration: none
}

.article-body a:hover {
    opacity: 1;
    text-decoration: underline
}

.article-body .read-more-links h5 {
    margin-top: 0
}

.article-body>a {
    color: #626262;
    font-weight: 700;
    text-decoration: underline
}

.article-body>a:hover {
    opacity: .75
}

.article-body p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.15rem;
    font-weight: 400;
    color: #141414;
    line-height: 1.7;
    margin-bottom: 20px;
    padding: 0 12px
}

.article-body ul {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-weight: 300;
    margin: 0 0 20px;
    padding: 0 12px
}

.article-body ul li {
    line-height: 2;
    padding-bottom: 10px;
    position: relative
}

.article-body ul {
    list-style: disc
}

.article-body ul li {
    margin-left: 20px
}

@media all and (min-width:728px) {
    .article-page main {
        padding: 20px 0 16px
    }
    .article-page article {
        margin-left: 15px;
        margin-right: 15px
    }
    .article-wrapper {
        margin-top: 15px
    }
    .article-main>h1 {
        font-size: 72px;
        padding: 0
    }
    .article-body h2,
    .article-body h5,
    .article-body p,
    .article-body ul {
        padding: 0
    }
    .article-body p {
        line-height: 1.6
    }
}

@media all and (min-width:1024px) {
    .article-wrapper {
        position: relative
    }
    .article-wrapper:before {
        background-color: #f1f1f1;
        content: ' ';
        height: 100%;
        position: absolute;
        right: 332px;
        top: 0;
        width: 3px
    }
    .article-wrapper .related-column {
        float: right;
        width: 300px
    }
    .article-wrapper .related-column>* {
        display: block;
        overflow: hidden;
        position: relative
    }
    .article-wrapper .related-column>:not(:empty) {
        margin-bottom: 48px
    }
    .article-wrapper .content-column {
        float: left;
        width: calc(100% - 367px)
    }
    .article-main>h1 {
        font-size: 50px;
        padding: 0
    }
}

@media all and (min-width:1240px) {
    .article-page main {
        box-sizing: border-box;
        max-width: 1240px;
        padding: 24px 0
    }
    .article-page article {
        margin-left: 32px;
        margin-right: 32px
    }
    .article-wrapper {
        margin-top: 23px
    }
    .article-main>h1 {
        font-size: 53px
    }
    .article-main>h1:before {
        background-color: #626262;
        content: '';
        height: calc(100% - 25px);
        left: -32px;
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: 8px
    }
}

.breadcrumbs {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    font-weight: 700;
    display: none;
    margin: 0 12px 10px
}

.breadcrumbs a {
    color: #494949;
    display: inline-block;
    margin-left: 10px;
    margin-right: 9px;
    position: relative;
    text-decoration: none
}

.breadcrumbs a:hover {
    text-decoration: underline
}

.breadcrumbs ol {
    list-style-type: none
}

.breadcrumbs li {
    display: inline-block;
    vertical-align: middle
}

.breadcrumbs li:not(:first-child):before {
    border-top-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-color: transparent !important;
    border: 4px solid #626262;
    border-right-width: 0;
    content: '';
    display: inline-block
}

@media all and (min-width:1024px) {
    .breadcrumbs {
        display: block
    }
}

@media all and (min-width:1240px) {
    .breadcrumbs {
        margin: 0 32px 10px
    }
}

.byline {
    align-items: center;
    box-sizing: border-box;
    display: block;
    padding: 0 12px;
    width: 100%
}

.byline ul li {
    list-style-type: none
}

@media all and (min-width:728px) {
    .byline {
        border-bottom: 1px solid #e0e0e0;
        border-top: 1px solid #e0e0e0;
        display: flex;
        padding: 6px 0
    }
}

@media all and (min-width:1240px) {
    .byline {
        padding: 10px 0
    }
}

.article-information {
    color: #494949;
    display: block;
    text-transform: uppercase;
    vertical-align: middle
}

.article-information .author-information-container {
    overflow: hidden
}

.article-information .author,
.article-information .author-label {
    margin-right: 4px
}

.article-information .author-label {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 400;
    text-transform: capitalize
}

.article-information .author {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    font-weight: 600;
    display: inline-block;
    line-height: 1.3;
    text-transform: capitalize
}

.article-information .author:after {
    content: ','
}

.article-information .author:last-child:after {
    display: none
}

.article-information .author a {
    text-decoration: underline
}

.article-information a {
    color: #494949
}

.article-information .time-info li {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
    border-left: 1px solid #e0e0e0;
    display: inline-block;
    margin-left: 4px;
    padding-left: 8px
}

.article-information .time-info li:first-child {
    border-left: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 8px
}

@media all and (min-width:728px) {
    .article-information {
        border-left: 1px solid #e0e0e0;
        flex-grow: 1;
        padding: 0 16px;
        position: relative
    }
    .article-information .author-information-container {
        margin-top: 6px
    }
    .article-information .time-info {
        bottom: 3px;
        position: relative
    }
}

@media all and (min-width:1240px) {
    .article-information {
        position: relative
    }
    .article-information .time-info {
        bottom: 3px;
        position: relative
    }
    .article-information .time-info li {
        font-size: 11px
    }
    .article-information .author-information-container {
        margin-top: 6px
    }
}

@media all and (min-width:728px) {
    .byline ul {
        margin-top: 3px
    }
    .byline .article-information {
        margin-top: -2px
    }
}

.in-article-image {
    margin-bottom: 23px
}

.in-article-image figcaption {
    background-color: #f1f1f1;
    line-height: 1.4;
    padding: 11px 12px
}

.in-article-image figcaption .caption {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    font-weight: 400;
    font-weight: 700;
    color: #2c2c2c
}

.in-article-image figcaption .credit {
    font-family: 'Open Sans', sans-serif;
    font-size: 11px;
    font-weight: 400;
    color: #141414;
    margin-left: 2px
}

.in-article-image figcaption span:first-child {
    margin-left: 0
}

@media all and (min-width:728px) {
    .in-article-image figcaption {
        padding-left: 10px
    }
}

@media all and (min-width:1024px) {
    .in-article-image figcaption {
        padding-left: 12px
    }
}

@media all and (min-width:1240px) {
    .in-article-image figcaption {
        padding-left: 17px
    }
}

.read-more-links {
    background-color: #f1f1f1;
    border: 1px solid #e0e0e0;
    margin-bottom: 23px;
    margin-top: 39px;
    position: relative
}

.read-more-links h5 {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-weight: 700;
    background-color: #141414;
    border-color: #626262;
    border-left-width: 29px;
    border-style: solid;
    color: #fff;
    font-size: 14px;
    left: 9px;
    line-height: 29px;
    margin: 0;
    padding: 0 9px;
    position: absolute;
    text-transform: uppercase;
    top: -15px
}

.read-more-links h5:before {
    height: 27px;
    left: -28px;
    top: 1px;
    width: 27px
}

.read-more-links ul {
    list-style-type: none;
    margin: 0;
    padding: 8px 0 0
}

.read-more-links ul li {
    border-top: 1px solid #e0e0e0;
    line-height: 1;
    margin: 0;
    padding: 17px 24px
}

.read-more-links ul li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 24px;
    line-height: 1.7;
    font-weight: 400;
    color: #141414;
    line-height: 26px;
    position: relative;
    text-decoration: none
}

.read-more-links ul li a:hover {
    opacity: 1;
    text-decoration: underline
}

.read-more-links ul li a:before {
    border: 6px solid transparent;
    border-left: 6px solid #141414;
    content: ' ';
    display: inline-block;
    height: 0;
    left: -12px;
    line-height: 0;
    position: absolute;
    top: 6px;
    width: 0
}

.read-more-links ul li:first-child {
    border-top: 0
}

.section-theme-background-indicator:after,
.section-theme-background-indicator:before {
    background: #e90e0e !important
}

.publication-theme {
    color: #e90e0e !important
}

.publication-theme-highlight {
    background-color: #e90e0e !important;
    color: #fff
}

.publication-theme-border,
.publication-theme-border:before {
    border-color: #e90e0e !important
}

.publication-theme-icon:before {
    content: 'M';
    height: 25px;
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    top: 0;
    width: 25px
}

#logo {
    background: url(logo.png);
    height: 50px;
    width: 133.125px;
    background-size: 100% 100%
}

@media all and (min-width:728px) {
    #logo {
        height: 60px;
        width: 159.75px
    }
}

@media all and (min-width:1024px) {
    #logo {
        height: 70px;
        width: 186.375px
    }
}

@media all and (min-width:1240px) {
    #logo {
        height: 80px;
        width: 213px
    }
}

.publication-font {
    font-family: 'Open Sans Condensed', sans-serif !important;
    font-weight: 700
}

.article-body li a,
.article-body p a {
    color: #e90e0e
}

.article-body>a {
    color: #e90e0e
}

.mod-header>.publication-theme-highlight {
    background: #141414 !important
}

.article-body img {
    max-width: 100%
}

aside.read-more-links.instruction {
    padding: 30px 15px 15px 15px
}

.btn {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 30px 10px;
    color: rgba(255, 255, 255, 1);
    font-size: 26px;
    line-height: 26px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px
}

.btn--orange {
    background: #e90e0e;
    color: #fff !important;
    text-decoration: none !important
}

.btn--animate-grow {
    transition-duration: .3s;
    transition-property: transform
}

.btn--animate-grow:hover {
    transform: scale(1.1);
    cursor: pointer
}

.related-column.sidebar img {
    max-width: 100%
}

.fb--container label {
    cursor: pointer;
    color: #666;
    font-weight: 700;
    vertical-align: middle
}

.fb--container label input {
    font-weight: 400
}

.fb--container textarea {
    max-width: 100%
}

.fb--container button,
.fb--container input,
.fb--container label,
.fb--container td,
.fb--container textarea {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 12px
}

.fb--container a {
    color: #365899;
    cursor: pointer;
    text-decoration: none
}

.fb--container button {
    margin: 0
}

.fb--container a:hover {
    text-decoration: underline
}

.fb--container img {
    border: 0
}

.fb--container abbr {
    border-bottom: none;
    text-decoration: none
}

.fb--container .clearfix::after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden
}

.fb--container .clearfix {
    zoom: 1
}

.fb--container ::-webkit-input-placeholder {
    color: #90949c
}

.fb--container :focus::-webkit-input-placeholder {
    color: #bec2c9
}

.fb--container ._42ft {
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    white-space: nowrap
}

.fb--container ._42ft:hover {
    text-decoration: none
}

.fb--container ._42fr {
    cursor: default
}

.fb--container .lfloat {
    float: left
}

.fb--container .rfloat {
    float: right
}

.fb--container .fss {
    font-size: 9px
}

.fb--container .fsm {
    font-size: 12px
}

.fb--container .fwn {
    font-weight: 400
}

.fb--container .fcg {
    color: #90949c
}

.fb--container a._p {
    display: block
}

.fb--container ._4jy0 {
    border: 1px solid;
    border-radius: 2px;
    box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: 700;
    padding: 0 8px;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: middle
}

.fb--container ._4jy0::before {
    content: "";
    display: inline-block;
    height: 20px;
    vertical-align: middle
}

.fb--container ._4jy0 .img {
    bottom: 1px;
    position: relative;
    vertical-align: middle
}

.fb--container ._517h {
    background-color: #f6f7f9;
    border-color: #ced0d4;
    color: #4b4f56
}

.fb--container ._517h:hover {
    background-color: #e9ebee
}

.fb--container ._517h:active {
    background-color: #dddfe2;
    border-color: #bec2c9
}

.fb--container ._4jy1 {
    color: #fff
}

.fb--container ._4jy1 {
    background-color: #4267b2;
    border-color: #4267b2
}

.fb--container ._4jy1:hover {
    background-color: #365899;
    border-color: #365899
}

.fb--container ._4jy1:active {
    background-color: #29487d;
    border-color: #29487d
}

.fb--container ._4jy1._42fr {
    background-color: #9cb4d8;
    border-color: #9cb4d8
}

.fb--container ._4jy3,
.fb--container ._4jy3._42fr:active {
    line-height: 22px
}

.fb--container ._50f3 {
    font-size: 12px;
    line-height: 16px
}

.fb--container ._50f7 {
    font-weight: 700
}

.fb--container ._5kx5 {
    font-weight: 400
}

.fb--container ._50f8 {
    color: #90949c
}

.fb--container ._42ef {
    overflow: hidden
}

.fb--container ._51mz {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0
}

.fb--container ._51mx:first-child>._51m- {
    padding-top: 0
}

.fb--container ._51mx:last-child>._51m- {
    padding-bottom: 0
}

.fb--container ._51mz ._51mw {
    padding-right: 0
}

.fb--container ._51mz ._51m-:first-child {
    padding-left: 0
}

.fb--container ._8o,
.fb--container ._8o .img {
    display: block
}

.fb--container ._8r {
    margin-right: 5px
}

.fb--container ._8s {
    margin-right: 8px
}

.fb--container ._6a {
    display: inline-block
}

.fb--container ._6b {
    vertical-align: middle
}

.fb--container ._ohe {
    float: left
}

.fb--container ._ohf {
    float: right
}

.fb--container ._4qba {
    font-style: normal
}

.fb--container ._3-8m {
    margin-bottom: 4px;
    margin-top: 4px
}

.fb--container ._3-8y {
    margin-top: 12px
}

.fb--container ._3-8 {
    margin-right: 4px
}

.fb--container ._3-96 {
    margin-bottom: 12px
}

.fb--container ._3-99 {
    margin-left: 4px
}

.fb--container ._2ph- {
    padding: 8px
}

.fb--container ._2pi3 {
    padding-bottom: 8px;
    padding-top: 8px
}

.fb--container ._2pi8 {
    padding-left: 8px;
    padding-right: 8px
}

.fb--container ._2pis {
    padding-left: 8px
}

.fb--container .sp_Zf93eLkohoS {
    display: inline-block;
    height: 12px;
    width: 12px
}

.fb--container .sp_Zf93eLkohoS.sx_97c3ab {
    width: 14px;
    height: 14px;
    background-position: -19px -182px
}

.fb--container ._2agf {
    word-wrap: normal
}

.fb--container ._55pe {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    white-space: nowrap
}

.fb--container a.uiLinkSubtle {
    color: #90949c
}

.fb--container .uiInputLabel {
    position: relative
}

.fb--container .uiInputLabelInput {
    margin: 0;
    padding: 0;
    position: absolute
}

.fb--container .uiInputLabel .uiInputLabelLabel {
    display: inline-block;
    margin-left: 17px;
    vertical-align: baseline
}

.fb--container .UFIInputContainer {
    position: relative
}

.fb--container .UFICommentAttachmentButtons {
    bottom: 0;
    height: 24px;
    position: absolute;
    right: 0
}

.fb--container .UFICommentActorName {
    font-weight: 700
}

.fb--container ._5v47 {
    display: inline;
    white-space: nowrap
}

.fb--container ._5uzb {
    padding-right: 3px
}

.fb--container .sp_-J_-HgF_hOz {
    background-size: auto;
    background-repeat: no-repeat;
    display: inline-block;
    height: 16px;
    width: 16px
}

.fb--container .sp_-J_-HgF_hOz.sx_0beb10 {
    background: url(like.png);
    width: 16px;
    height: 15px;
    background-repeat: no-repeat;
}

.fb--container .sp_LOJ2j-KswDP {
    display: inline-block;
    height: 16px;
    width: 16px
}

.fb--container .sp_LOJ2j-KswDP.sx_1e62d4 {
    width: 12px;
    height: 12px;
    background-position: -365px -220px
}

.fb--container .sp_LOJ2j-KswDP.sx_32ff1f {
    width: 9px;
    height: 8px;
    background-position: -207px -196px
}

.fb--container ._56q9 {
    font-size: 14px;
    line-height: 1.358;
    word-break: break-word;
    word-wrap: break-word
}

.fb--container ._44ri {
    border-left: 1px dotted #d3d6db
}

.fb--container ._2vq9 {
    font-size: 12px;
    line-height: 1.358;
    padding-top: 2px
}

.fb--container ._2vq9 a {
    color: #4267b2
}

.fb--container ._2vq9 .livetimestamp,
.fb--container ._2vq9 .uiLinkSubtle {
    color: #90949c
}

.fb--container ._4iy4 {
    bottom: -2px;
    position: relative
}

.fb--container ._4q1v {
    color: #90949c;
    display: inline
}

.fb--container ._4q1v a {
    color: #90949c
}

.fb--container ._5mdd {
    word-wrap: break-word
}

.fb--container ._5mdd ._5v47 {
    font-size: 14px
}

.fb--container ._5mdd a {
    color: #4267b2
}

.fb--container ._2392 {
    margin-bottom: 24px
}

.fb--container ._4uyl ._1cb {
    border: 1px solid #d3d6db;
    word-wrap: break-word
}

.fb--container ._1zz8 ._1u9t {
    min-height: 40px
}

.fb--container ._1u9t {
    box-sizing: border-box;
    vertical-align: top;
    width: 100%
}

.fb--container ._4uyl ._1u9t {
    font-size: 14px;
    padding: 12px 8px
}

.fb--container ._5tr6 {
    background: #f6f7f9;
    text-align: right
}

.fb--container ._5tr6 ._42fr:active,
.fb--container ._5tr6 button {
    font-size: 14px;
    white-space: normal
}

.fb--container ._4uym {
    border-width: 0 1px 1px;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-color: #d3d6db;
    border-bottom-color: #d3d6db;
    border-left-color: #d3d6db;
    border-image: initial;
    border-top-style: initial;
    border-top-color: initial
}

.fb--container ._2ern {
    font-size: 12px
}

.fb--container ._1u0n {
    line-height: 24px
}

.fb--container ._5lm5 {
    border-top: 1px solid #e9ebee;
    font-size: 11px
}

.fb--container ._491z {
    border-bottom: 1px solid #e9ebee;
    line-height: 25px;
    margin-bottom: 24px;
    padding: 8px 0
}

.fb--container ._pup {
    color: #4b4f56
}

.fb--container ._5o4h ._1gl3 {
    background: #4080ff;
    border: none;
    box-sizing: border-box;
    color: #fff;
    font-size: 14px;
    margin-top: 24px;
    padding: 12px;
    text-shadow: none;
    width: 100%
}

.fb--container ._1ci {
    height: 48px;
    width: 48px
}

.fb--container ._1cj {
    height: 36px;
    width: 36px
}

.fb--container ._5yct {
    background-color: #f6f7f9;
    color: #365899
}

.fb--container ._55sg {
    vertical-align: baseline
}

.fb--container .uiInputLabel ._55sg+.uiInputLabelLabel {
    margin-left: 23px
}

.fb--container ._kv1 {
    position: relative
}

.fb--container .uiInputLabelInput._kv1 {
    position: absolute
}

/* Screen 736px */

@media (max-width: 767px) {
    .article-main>h1 {
        font-size: 30px;
        margin-bottom: 10px;
    }
    .article-main h1+p {
        font-size: 1rem;
        margin-bottom: 10px;
    }
    .article-wrapper {
        margin-top: 15px;
    }
    .article-body p {
        font-size: 1rem;
    }
    .read-more-links ul li a {
        font-size: 17px;
    }
    .in-article-image figcaption .caption {
        font-size: 15px;
    }
    .article-body h2 {
        font-size: 25px;
    }
    .btn {
        font-size: 18px;
    }
    .article-body h2,
    .article-body h5 {
        margin-top: 30px;
    }
}