
.img__with-title {
    position: relative;
    display: block;
}

.img__group {
    position: absolute;
    margin: 0;
    background: black;
    z-index: 9;
    bottom: 0;
    width: calc(100% - 20px);
    padding: 10px;
}

.img_title__span {
    font-family: Roboto;
    font-size: 10px;
    line-height: 12px;
    color: #ffffff;
    display: block;
    margin-bottom: 8px;
}

.img_source__span {
    font-family: Roboto;
    font-weight: 200;
    font-size: 8px;
    line-height: 9px;
    color: #ffffff;
    display: block;
}

.gretings-traveller {
    font-size: 22px;
    color: #141414;
    letter-spacing: -0.025em;
    line-height: 1.3;
    margin-bottom: 20px;
    padding: 0 12px;
    position: relative;
    text-align: center;
}

.des-hod {
    max-height: 300px;
}

.des-hod-2-aside {
    /* margin-bottom: 45%; */
}

@media (max-width: 727px) {
    .extra-testimonials {
        margin: 0;
    }
}

@media (max-width: 510px) {
    .des-hod-2-aside {
        /* margin-bottom: 55%; */
    }
}

@media (max-width: 410px) {
    .des-hod-2-aside {
        /* margin-bottom: 75%; */
    }
}

@media (max-width: 350px) {
    .des-hod-2-aside {
        /* margin-bottom: 85%; */
    }
}

@media (max-width: 415px) {
    .footerLegal {
        display: none;
    }
}

.aboutPlatform {
    margin-bottom: 15px;
}

.article-body > a {
    border-radius: 24px;
}

.faq b > p {
    font-weight: bold;
}

.article-body p.data-end {
    font-family: Roboto;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    color: #127CB3;
    margin-top: 20px;
    margin-bottom: 20px;
}

/*@media screen and (max-width: 1023px) and (min-width: 501px) {*/
/*.sharebar.share-icons {*/
/*justify-content: space-between;*/
/*}*/
/*.article-information {*/
/*justify-content: space-between;*/
/*}*/
/*}*/

.block-bold p {
    font-weight: bold;
}

.color-blue,
.color-blue p {
    color: #127CB3!important;
}