@charset "UTF-8";
@import url('css.css');

abbr,
article,
aside,
b,
body,
div,
em,
figcaption,
figure,
footer,
h1,
h2,
h4,
h5,
header,
html,
i,
iframe,
img,
label,
li,
nav,
ol,
p,
section,
span,
table,
tbody,
td,
tr,
ul {
	background: 0 0;
	border: 0;
	font-size: 100%;
	margin: 0;
	outline: 0;
	padding: 0;
	vertical-align: baseline
}

body {
	line-height: 1
}

article,
aside,
figcaption,
figure,
footer,
header,
nav,
section {
	display: block
}

nav ul {
	list-style: none
}

a {
	background: 0 0;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline
}

table {
	border-collapse: collapse;
	border-spacing: 0
}

input {
	vertical-align: middle
}

main {
	display: block
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	font-weight: 400;
	background: #fff;
	box-sizing: border-box;
	color: #141414;
	margin: 0;
	padding: 0;
	transition: margin-top 125ms linear;
	width: 100%
}

body main {
	position: relative
}

body.article-page {
	background-color: #fff;
}

.hidden {
	display: none !important
}

[data-mod] {
	min-height: 1px
}

@media all and (min-width:1024px) {
	body {
		transition: none
	}
}

@media all and (min-width:1240px) {
	main {
		margin: 0 auto;
		z-index: 1
	}
}

[data-smooth-scroll] {
	-webkit-overflow-scrolling: touch
}

.icon {
	border-radius: 50%;
	box-sizing: content-box;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	overflow: hidden;
	position: relative;
	text-decoration: none;
	text-indent: 100%;
	white-space: nowrap
}

.icon:before {
	position: absolute;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	-webkit-font-smoothing: antialiased;
	font-family: 'Roboto', sans-serif;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 1;
	text-indent: 0;
	text-transform: none
}

.icon:after {
	border-radius: 50%;
	content: '';
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%
}

.facebook {
	background-color: #315c97
}

.facebook:before {
	content: ""
}

.instagram {
	background-color: #517fa3
}

.instagram:before {
	content: ""
}

.pinterest {
	background-color: #cd1d1f
}

.pinterest:before {
	content: ""
}

.twitter {
	background-color: #39a9e0
}

.twitter:before {
	content: ""
}

.icon.facebook:before {
	left: 55%
}

@keyframes sonarEffect {
	0% {
		opacity: .3
	}

	40% {
		box-shadow: 0 0 0 2px rgba(44, 44, 44, .1), 0 0 8px 8px #fff, 0 0 0 8px rgba(44, 44, 44, .2);
		opacity: .5
	}

	100% {
		box-shadow: 0 0 0 2px rgba(44, 44, 44, .1), 0 0 8px 8px #fff, 0 0 0 8px rgba(44, 44, 44, .2);
		opacity: 0;
		transform: scale(1.4)
	}
}

.section-theme-highlight {
	background-color: #626262 !important;
	color: #fff
}

.section-theme-background-indicator:after,
.section-theme-background-indicator:before {
	background: #626262 !important
}

.publication-theme {
	color: #626262 !important
}

.publication-theme-highlight {
	color: #fff
}

.publication-theme-border,
.publication-theme-border:before {
	border-color: #626262 !important
}

.publication-theme-button-highlight {
	background-color: #fff;
	border-color: #e0e0e0
}

.publication-theme-button-highlight:hover {
	background-color: #626262 !important;
	border-color: #626262 !important;
	color: #fff
}

.article-body b a,
.article-body li a,
.article-body p a,
blockquote a,
h3 a{
	color: #626262
}

.article-body>a {
	color: #626262
}

@media all and (min-width:1240px) {
	main {
		background-color: #fff
	}
}

.mod-cookiepolicy {
	background: #141414;
	border-left: 4px solid #626262;
	bottom: 0;
	box-sizing: border-box;
	color: #e0e0e0;
	display: none;
	left: 0;
	position: fixed;
	width: 100%;
	z-index: 3000000
}

.mod-cookiepolicy .inner {
	clear: both;
	border-top: 1px solid #2c2c2c;
	padding: 18px 55px 20px 15px
}

.mod-cookiepolicy .inner:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden
}

.mod-cookiepolicy span {
	float: left
}

.mod-cookiepolicy .close {
	background: #fff;
	color: #141414;
	height: 24px;
	position: absolute;
	right: 15px;
	text-decoration: none;
	top: calc(50% - 12px);
	width: 24px
}

.mod-cookiepolicy .close:before {
	content: ""
}

.mod-cookiepolicy span {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px
}

.mod-cookiepolicy span a {
	color: #fff;
	font-weight: 700
}

footer {
	background: #141414;
	margin-top: 0;
	padding: 48px 12px;
	position: relative;
	z-index: 1
}

@media screen and (max-width:727px) {
	footer {
		padding: 24px 12px;
	}
}

footer li {
	list-style-type: none
}

footer a {
	text-decoration: none
}

footer #section-links {
	clear: both;
	padding-bottom: 40px
}

footer #section-links:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden
}

footer #section-links li {
	float: left;
	width: 50%
}

footer #section-links a {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	color: #f1f1f1;
	display: block;
	font-weight: 600;
	overflow: hidden;
	padding: 10px 15px 10px 0;
	text-overflow: ellipsis;
	text-transform: uppercase;
	white-space: nowrap
}

footer #section-links a:hover {
	text-decoration: underline
}

footer .social-links {
	border-bottom: 4px solid #2c2c2c;
	border-top: 4px solid #2c2c2c;
	padding: 24px 0;
	text-align: center
}

footer .social-links h4 {
	color: #fff;
	font-size: 12px;
	letter-spacing: 1px;
	text-transform: uppercase
}

footer .social-links ul {
	margin-top: 10px;
	text-align: center
}

footer .social-links li {
	display: inline-block
}

footer .social-links a {
	font-size: 18px;
	height: 40px;
	margin: 0 5px;
	width: 40px
}

footer #utility-links {
	padding-top: 24px
}

footer #utility-links li {
	color: #979797;
	display: inline-block;
	font-size: 12px;
	margin-bottom: 10px;
	padding-bottom: 2px;
	padding-top: 2px
}

footer #utility-links a {
	/*border-right: 1px solid #2c2c2c;*/
	color: inherit;
	display: block;
	margin: 0 10px 0 0;
	padding: 2px 10px 2px 0
}

footer #utility-links a:hover {
	color: #fff
}

@media all and (max-width:727px) {
	footer {
		margin-top: 15px;
	}
}

@media all and (min-width:728px) {
	footer {
		padding-left: 32px;
		padding-right: 32px;
	}

	footer #section-links li {
		width: 25%
	}

	footer #section-links li a {
		font-size: 12px
	}
}



@media all and (max-width:1239px) {

	footer div,
	footer ul,
	footer p {
		margin: 0 auto;
		max-width: 760px;
	}
}

@media all and (min-width:1024px) {
	footer #section-links li {
		width: 20%
	}
}

@media all and (min-width:1240px) {
	footer {
		padding-left: 0;
		padding-right: 0;
		margin-top: 75px;
	}

	footer div,
	footer ul,
	footer p {
		margin: 0 auto;
		width: 900px;
	}
}

footer p.footerLegal {
	font-size: 10px;
	font-weight: normal;
	line-height: 1.25;
	color: rgb(177, 177, 177);
	margin: 15px auto 0;
}

.mod-header:not([data-expanded]) #hamburger:after,
.mod-header:not([data-expanded]) #hamburger:before,
.mod-header:not([data-expanded]) #hamburger>span {
	border-radius: 3px;
	background: #fff;
	content: '';
	height: 3px;
	left: 7px;
	position: absolute;
	width: 20px
}

#logo {
	height: 50px;
	width: 150px;
	display: block;
	margin: 0 auto;
	overflow: hidden;
	text-indent: 0;
}

#hamburger {
	cursor: pointer;
	display: block;
	height: 50px;
	left: 0;
	margin-top: 0;
	overflow: hidden;
	position: absolute;
	text-indent: 100%;
	top: 0;
	white-space: nowrap;
	width: 38px;
	transition: 50ms background-color linear;
}

#hamburger:active {
	background-color: rgba(255, 255, 255, 0.15);
}

.mod-header * {
	box-sizing: border-box
}

.mod-header:not([data-expanded]) #hamburger:before {
	top: 17px;
	transform: none
}

.mod-header:not([data-expanded]) #hamburger:after {
	top: 29px
}

.mod-header:not([data-expanded]) #hamburger>span {
	display: block;
	top: 23px
}

.mod-header .has-children>.toggle {
	display: none
}

.mod-header {
	left: 0;
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 50;
}

.mod-header>.primary:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden
}

.mod-header>.primary nav {
	display: none
}

.mod-header .social-sites {
	display: none;
	float: right;
	margin-right: 10px;
	margin-top: 9px
}

.mod-header .social-sites li {
	float: left;
	list-style: none;
	margin: 0 3px;
	padding: 0
}

.mod-header .social-sites a {
	height: 32px;
	position: relative;
	width: 32px
}

.mod-header>.secondary {
	clear: both;
	background: #f1f1f1;
	border-bottom: 1px solid #e0e0e0;
	height: 36px;
	left: 0;
	position: fixed;
	top: 50px;
	transition: top 225ms linear;
	width: 100%;
	z-index: 3
}

.mod-header>.secondary:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden
}

.mod-header>.secondary ul {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap
}

.mod-header>.secondary ul::-webkit-scrollbar {
	display: none
}

.mod-header>.secondary li {
	display: inline-block
}

.mod-header>.secondary li:first-child a {
	padding-left: 16px
}

.mod-header>.secondary a {
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #141414;
	display: block;
	font-weight: 700;
	height: 36px;
	padding: 11px 8px 0;
	text-decoration: none;
	text-transform: uppercase
}

.mod-header .footer {
	display: none
}

@media all and (max-width:727px) {
	.mod-header:not([data-expanded]) #hamburger {
		height: 100%;
		opacity: 1;
		width: 37px;
		border-radius: 0;
	}

	.mod-header:not([data-expanded]) #hamburger:before {
		height: 2px;
		left: 7px;
		top: 9px;
		width: 16px
	}

	.mod-header:not([data-expanded]) #hamburger>span {
		height: 2px;
		left: 7px;
		top: 14px;
		width: 16px
	}

	.mod-header:not([data-expanded]) #hamburger:after {
		height: 2px;
		left: 7px;
		top: 19px;
		width: 16px
	}

	.mod-header>.primary {
		height: 30px
	}
}

@media all and (min-width:728px) {
	.mod-header:not([data-expanded]) #hamburger {
		height: 40px;
		opacity: 1;
		width: 40px;
		border-radius: 0;
	}

	.mod-header:not([data-expanded]) #hamburger:before {
		left: 8px;
		top: 12px;
		width: 24px
	}

	.mod-header:not([data-expanded]) #hamburger>span {
		left: 8px;
		top: 19px;
		width: 24px
	}

	.mod-header:not([data-expanded]) #hamburger:after {
		left: 8px;
		top: 26px;
		width: 24px
	}

	.mod-header>.primary {
		height: 40px
	}

	.mod-header .social-sites {
		display: block;
		margin-top: 14px
	}

	.mod-header>.secondary {
		height: 40px;
		top: 60px
	}

	.mod-header>.secondary a {
		font-size: 14px;
		height: 40px;
		padding-top: 13px
	}
}


#bottom-article-message {
	width: 100% !important
}

#bottom-article-message {
	display: none
}

#bottom-article-message {
	font-family: 'Roboto', sans-serif;
	font-size: 14px
}

#bottom-article-message {
	font-weight: 400;
	background-color: #d62226;
	bottom: 0;
	left: 0;
	position: fixed;
	transition: opacity .5s;
	width: 100%;
	z-index: 3
}

.article-page main {
	background-color: #fff;
	padding-top: 20px
}


.article-wrapper {
	margin-top: 20px
}

.article-wrapper::after {
	clear: both;
	content: ' ';
	display: table
}

.article-main {
	box-sizing: border-box;
	position: relative
}

.article-main>h1 {
	font-size: 22px;
	color: #141414;
	letter-spacing: -0.025em;
	line-height: 1.3;
	margin-bottom: 20px;
	padding: 0 12px;
	position: relative;
	max-width: 1100px;
	text-align: center;
}

.article-main h1+p {
	color: #626262;
	font-size: 16px;
	line-height: 1.6;
	margin-bottom: 20px;
	margin-top: -10px;
	padding: 0 12px;
	font-family: 'Roboto', sans-serif;
	max-width: 1100px;
	text-align: center;
}

@media all and (max-width:727px) {
	.article-main h1+p {
		margin-bottom: 15px;
	}
}

@media all and (min-width:728px) {
	.article-main h1+p {
		padding: 0
	}
}

@media all and (min-width:1024px) {
	.article-main h1+p {
		font-size: 18px
	}
}

@media all and (min-width:1240px) {
	.article-main h1+p {
		font-size: 20px;
	}
}

.article-body b a,
.article-body li a,
.article-body p a {
	color: #626262;
	font-weight: 700;
	/* text-decoration: underline */
}

.article-body b a:hover,
.article-body li a:hover,
.article-body p a:hover,
blockquote a:hover,
h3 a:hover{
	opacity: .75
}

.article-body h2,
.article-body h5 {
	color: #141414;
	line-height: 1.4;
}

.article-body h2+h2 {
	margin: 15px 0 10px
}

.article-body h2 {
	font-family: 'Roboto', sans-serif;
	font-size: 22px;
	font-weight: 900;
	margin: 30px 0 15px;
}

@media screen and (max-width:727px) {
	.article-body h2 {
		margin-top: 20px;
	}
}

.article-body h3 {
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
	margin: 25px 0 15px;
}

@media screen and (max-width:727px) {
	.article-body h3 {
		margin-top: 20px;
	}
}

.article-body h5 {
	font-family: 'Roboto', sans-serif;
	font-size: 26px;
	font-weight: 400;
	margin: 0 0 10px;
}

.article-body h5 {
	font-size: 16px
}

.article-body h2 a {
	/* text-decoration: underline; */
	color: #333;
}

.article-body a {
	text-decoration: none
}

.article-body a:hover {
	opacity: 1;
	text-decoration: underline
}

.article-body .read-more-links h5 {
	margin-top: 0
}

.article-body>a {
	color: #626262;
	font-weight: 700;
	text-decoration: underline
}

.article-body>a:hover {
	opacity: .75
}

.article-body p {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	color: #141414;
	line-height: 1.4;
	margin-bottom: 20px;
}

@media screen and (max-width:767px) {
	.article-body p {
		font-size: 14px;
		margin-bottom: 15px;
	}
}

.article-body p+p {
	margin-top: -5px;
}

.article-body p.lead {
	font-size: 18px;
	line-height: 1.4;
}

@media screen and (max-width:767px) {
	.article-body p.lead {
		font-size: 16px;
	}
}

.article-body blockquote {
	margin: 0;
	padding: 0 0 0 30px;
	position: relative;
}

.article-body blockquote::before {
	content: "";
	display: block;
	position: absolute;
	top: 3px;
	left: 0;
	width: 20px;
	height: 20px;
/*	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='87' height='60.7'%3E%3Cpath d='M0 36.3h20.6L9.4 60.7h18.1l11.3-24.4V0H0zM48.2 0v36.3h20.6L57.6 60.7h18.1L87 36.3V0z' fill='%237c7c7c'/%3E%3C/svg%3E");
*/	background-position: top left;
	background-repeat: no-repeat;
	background-size: contain;
	opacity: .5;
}

.article-body blockquote p {
	/*font-style: italic;*/
}

.article-body ol,
.article-body ul {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-weight: 300;
	margin: 0 0 20px;
	padding: 0 12px
}

.article-body ol li,
.article-body ul li {
	line-height: 2;
	padding-bottom: 10px;
	position: relative
}

.article-body ul {
	list-style: disc
}

.article-body ul li {
	margin-left: 20px
}

.article-body ol {
	counter-reset: li;
	list-style: none
}

.article-body ol li {
	margin-left: 30px
}

.article-body ol li:before {
	content: counter(li) ".";
	counter-increment: li;
	margin-left: -30px;
	position: absolute
}

@media all and (max-width:727px) {
	.article-page main {
		padding-top: 25px;
	}

	.article-page article {
		margin-left: 5px;
		margin-right: 5px
	}

	.article-wrapper {
		padding: 0 12px;
	}
}

@media all and (min-width:728px) {
	.article-page main {
		padding: 16px 0 16px;
		max-width: 800px;
		margin: 0 auto;
	}

	.article-page article {
		margin-left: 15px;
		margin-right: 15px
	}

	.article-wrapper {
		margin-top: 15px
	}

	.article-main>h1 {
		font-size: 32px;
		padding: 0
	}

	.article-body h2,
	.article-body h5,
	.article-body ol,
	.article-body p,
	.article-body ul {
		padding: 0
	}
}

.article-full {
	clear: both;
}

.article-wrapper .related-column {
	padding-bottom: 30px;
}

@media all and (min-width:1024px) {
	.article-wrapper {
		position: relative
	}

	.article-wrapper .article-intro {
		float: left;
		width: calc(100% - 290px);
	}

	.article-wrapper .related-column {
		float: right;
		width: 260px
	}

	.article-wrapper .related-column>* {

		overflow: hidden;
		position: relative
	}

	.article-wrapper .content-column {
		/*float: left;*/
		width: 100%;
		padding-right: 0;
	}

	.article-main>h1 {
		font-size: 36px;
		letter-spacing: -.03em;
	}

	/*.article-wrapper .content-column.main {
		border-right: 2px solid #f1f1f1;
	}*/

	.article-wrapper .content-column .article-body> :last-child {
		margin-bottom: 0;
	}

	.article-wrapper .content-column.comments {
		border-right: none;
		width: 100%;
		margin-top: 30px;
		padding-top: 30px;
		border-top: 5px solid #d0d0d0;
		padding-right: 0;
		padding-left: 0;
		box-sizing: border-box;
	}
}

@media all and (min-width:1240px) {
	.article-page main {
		box-sizing: border-box;
		max-width: 900px;
		padding: 16px 0 24px;
	}

	.article-page article {
		margin-left: 0;
		margin-right: 0;
	}

	.article-wrapper {
		margin-top: 25px
	}

	.article-main>h1 {
		font-size: 42px;
		letter-spacing: -.03em;
	}
}

.article-type {
	font-size: 18px;

	white-space: nowrap
}


.article-type .channel-name {
	color: #fff;
	display: inline-flex;
	padding: 4px 16px;
	text-transform: uppercase;
	border-radius: 3px;
	margin-left: 0;
	box-sizing: border-box;
	height: 100%;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.article-type .channel-name {
	background-color: #626262;
	color: #fff;
	text-decoration: none
}

.article-type .channel-name:hover {
	opacity: .9;
	text-decoration: none
}

@media all and (min-width:728px) {
	.article-type {
		font-size: 20px;
	}

	.article-type .channel-name {
		padding: 4px 12px;
	}
}

@media all and (min-width:1024px) {

	.byline .article-type {
		display: inherit;
		margin: 0;
		overflow: hidden;
		vertical-align: middle
	}

	.byline .article-type .channel-name {
		padding: 6px 12px
	}
}

@media all and (min-width:1240px) {
	.byline .article-type {
		font-size: 24px
	}

	.byline .article-type .channel-name {
		padding: 8px 16px
	}
}

.breadcrumbs {
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	font-weight: 400;
	font-weight: 700;
	display: none;
	margin: 0 12px 10px
}

.breadcrumbs a {
	color: #494949;
	display: inline-block;
	margin-left: 10px;
	margin-right: 9px;
	position: relative;
	text-decoration: none
}

.breadcrumbs a:hover {
	text-decoration: underline
}

.breadcrumbs ol {
	list-style-type: none
}

.breadcrumbs li {
	display: inline-block;
	vertical-align: middle
}

.breadcrumbs li:first-child>a {
	margin-left: 0;
}

.breadcrumbs li:last-child>a {
	margin-right: 0;
}

.breadcrumbs li:not(:first-child):before {
	border-top-color: transparent !important;
	border-right-color: transparent !important;
	border-bottom-color: transparent !important;
	border: 4px solid #626262;
	border-right-width: 0;
	content: '';
	display: inline-block
}

@media all and (min-width:1024px) {
	.breadcrumbs {
		display: block
	}
}

@media all and (min-width:1240px) {
	.breadcrumbs {
		margin: 0 0 10px;
	}
}

.byline {
	box-sizing: border-box;
	display: block;
	padding: 0 12px;
	width: 100%;
	margin-bottom: 15px;
}

.byline ul li {
	list-style-type: none
}

@media all and (min-width:728px) {
	.byline {
		border-bottom: 1px solid #e0e0e0;
		border-top: 1px solid #e0e0e0;
		padding: 6px 0;
	}
}

@media all and (min-width:1240px) {
	.byline {
		padding: 10px 0;
	}
}

.article-information {
	color: #494949;
	display: flex;
	flex-direction: row;
	text-transform: uppercase;
	justify-content: space-between;
	align-items: stretch;
	line-height: 10px;
	/* margin-bottom: 15px; */
}

@media screen and (min-width:501px) and (max-width:1023px) {
	.article-information {
		justify-content: center;
	}

	.article-information>* {
		margin: 0 10px;
	}
}

.article-information .author-information-container {
	overflow: hidden
}

.article-information .author,
.article-information .author-label {
	margin-right: 0
}

.article-information .author-label {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 400;
	text-transform: capitalize
}

.article-information .author {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	font-weight: 700;
	color: #141414;
	display: inline-block;
	line-height: 1.3;
	text-transform: capitalize
}

.article-information .author:after {
	content: ','
}

.article-information .author:last-child:after {
	display: none
}

.article-information .author a {
	text-decoration: underline
}

.article-information a {
	color: #494949
}

.article-information .time-info {
	margin-bottom: 0;
}

.article-information .time-info .dateFull {
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	font-weight: 400;
	border-left: 1px solid #e0e0e0;
	display: inline-block;
	margin-left: 4px;
	padding-left: 8px
}

.article-information .time-info .dateFull:first-child {
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
	padding-right: 8px
}

@media all and (min-width:728px) {
	.article-information {
		/*border-left: 1px solid #e0e0e0;
		flex-grow: 1;
		padding: 0 16px;*/
		position: relative
	}

	.article-information .author-information-container {
		margin-top: 3px;
	}
}

@media all and (min-width:1240px) {
	.article-information {
		position: relative
	}

	.article-information .time-info li {
		font-size: 11px
	}

	.article-information .author-information-container {
		margin-top: 0;
	}
}

.sharebar-icon:after {
	border-radius: 50%;
	content: '';
	height: 100%;
	position: absolute;
	top: 0;
	width: 100%
}

.sharebar-icon:hover:after {
	animation: sonarEffect 450ms ease-out
}

@keyframes sonarEffect {
	0% {
		opacity: .3
	}

	40% {
		box-shadow: 0 0 0 2px rgba(0, 0, 0, .1), 0 0 10px 10px #fff, 0 0 0 10px rgba(0, 0, 0, .2);
		opacity: .5
	}

	100% {
		box-shadow: 0 0 0 2px rgba(0, 0, 0, .1), 0 0 10px 10px #fff, 0 0 0 10px rgba(0, 0, 0, .2);
		opacity: 0;
		transform: scale(1.6)
	}
}

.article-wrapper .sharebar {
	border-bottom: 0;
	display: flex;
	margin: 0 auto
}

.article-wrapper .sharebar li {
	line-height: 1;
	margin-left: 5px
}

.article-wrapper .sharebar li a {
	color: #fff
}

/*.article-wrapper .byline {
	display: flex
}*/

.article-wrapper .side-sharebar {
	display: none
}

.sharebar {
	border-bottom: 1px solid #e0e0e0;
	margin-bottom: 10px;
	margin-right: 0;
	padding-bottom: 10px
}

.sharebar:last-child {
	padding-bottom: 0
}

@media screen and (min-width:728px) {
	.sharebar {
		margin-right: 15px;
	}
}

.sharebar li {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	display: inline-block;
	line-height: 1;
	list-style: none;
	margin-left: 0;
	vertical-align: middle
}

.sharebar li.sharebar-comments {
	border-left: 1px solid #e0e0e0;
	margin-left: 10px
}

.sharebar li:last-child {
	border: 0;
	margin-right: 16px
}

.sharebar .sharebar-provider {
	margin: 0 2px 0 0
}

.sharebar .count-shares {
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	font-weight: 400;
	font-weight: 700;
	box-sizing: border-box;
	display: none;
	margin-left: 5px;
	margin-right: 16px
}

.sharebar .count-shares .count-num {
	color: #141414;
	font-size: 15px
}

.sharebar .count-comments {
	font-family: 'Roboto', sans-serif;
	font-size: 11px;
	font-weight: 400;
	font-weight: 700;
	box-sizing: border-box;
	text-align: left
}

.sharebar .count-comments .count-num {
	color: #009c33;
	font-size: 15px
}

.sharebar .count-comments a {
	text-decoration: none
}

.sharebar .count-num {
	display: block;
	font-size: 15px;
	font-weight: 700;
	margin-bottom: 2px;
	transition: opacity .6s ease-out
}

.sharebar .count-num.hidden {
	opacity: 0
}

.sharebar .count-text {
	color: #494949;
	display: block;
	font-size: 11px;
	font-weight: 400;
	margin-top: 4px;
	text-transform: uppercase;
	transition: transform .4s ease-out
}

.sharebar-icon {
	border-radius: 30px;
	color: #fff;
	display: inline-block;
	height: 30px;
	overflow: visible;
	position: relative;
	width: 30px
}

.side-sharebar .sharebar-icon {
	height: 34px;
	width: 34px
}

.sharebar-icon.icon.facebook {
	background-color: #315c97
}

.sharebar-icon.icon.facebook:before {
	font-size: 15px;
	left: 55%;
	position: absolute;
	top: 50%
}

.sharebar-icon.icon.facebook:hover {
	border: 2px solid #315c97;
	box-sizing: border-box;
	cursor: pointer;
	text-decoration: none;
	transform: scale(1.05);
	transition: transform ease-out .1s, background .2s
}

.sharebar-icon.icon.twitter {
	background-color: #39a9e0
}

.sharebar-icon.icon.twitter:before {
	font-size: 17px;
	left: 50%;
	position: absolute;
	top: 50%
}

.sharebar-icon.icon.twitter:hover {
	border: 2px solid #39a9e0;
	box-sizing: border-box;
	cursor: pointer;
	text-decoration: none;
	transform: scale(1.05);
	transition: transform ease-out .1s, background .2s
}

.sharebar-icon.icon.pinterest {
	background-color: #cd1d1f
}

.sharebar-icon.icon.pinterest:before {
	font-size: 15px;
	left: 50%;
	position: absolute;
	top: 50%
}

.sharebar-icon.icon.pinterest:hover {
	border: 2px solid #cd1d1f;
	box-sizing: border-box;
	cursor: pointer;
	text-decoration: none;
	transform: scale(1.05);
	transition: transform ease-out .1s, background .2s
}

.sharebar-icon.icon.comments {
	background-color: #009c33;
	margin-left: 10px;
	margin-right: 5px
}

.sharebar-icon.icon.comments:before {
	font-size: 24px;
	left: 50%;
	position: absolute;
	top: 53%
}

.sharebar-icon.icon.comments:hover {
	border: 2px solid #009c33;
	box-sizing: border-box;
	cursor: pointer;
	text-decoration: none;
	transform: scale(1.05);
	transition: transform ease-out .1s, background .2s
}

@media all and (min-width:728px) {
	.sharebar .count-shares {
		display: inline-block
	}

	.sharebar li {
		margin-left: 5px
	}

	.sharebar li.sharebar-comments {
		margin-left: 0
	}

	.sharebar .sharebar-icon {
		height: 38px;
		width: 38px
	}

	.sharebar .sharebar-icon.icon.facebook {
		background-color: #315c97
	}

	.sharebar .sharebar-icon.icon.facebook:before {
		font-size: 18px;
		left: 55%;
		position: absolute;
		top: 50%
	}

	.sharebar .sharebar-icon.icon.facebook:hover {
		border: 2px solid #315c97;
		box-sizing: border-box;
		cursor: pointer;
		text-decoration: none;
		transform: scale(1.05);
		transition: transform ease-out .1s, background .2s
	}

	.sharebar .sharebar-icon.icon.twitter {
		background-color: #39a9e0
	}

	.sharebar .sharebar-icon.icon.twitter:before {
		font-size: 20px;
		left: 50%;
		position: absolute;
		top: 50%
	}

	.sharebar .sharebar-icon.icon.twitter:hover {
		border: 2px solid #39a9e0;
		box-sizing: border-box;
		cursor: pointer;
		text-decoration: none;
		transform: scale(1.05);
		transition: transform ease-out .1s, background .2s
	}

	.sharebar .sharebar-icon.icon.pinterest {
		background-color: #cd1d1f
	}

	.sharebar .sharebar-icon.icon.pinterest:before {
		font-size: 18px;
		left: 50%;
		position: absolute;
		top: 50%
	}

	.sharebar .sharebar-icon.icon.pinterest:hover {
		border: 2px solid #cd1d1f;
		box-sizing: border-box;
		cursor: pointer;
		text-decoration: none;
		transform: scale(1.05);
		transition: transform ease-out .1s, background .2s
	}

	.sharebar .sharebar-icon.icon.comments {
		background-color: #009c33;
		margin-left: 16px
	}

	.sharebar .sharebar-icon.icon.comments:before {
		font-size: 29px;
		left: 50%;
		position: absolute;
		top: 51%
	}

	.sharebar .sharebar-icon.icon.comments:hover {
		border: 2px solid #009c33;
		box-sizing: border-box;
		cursor: pointer;
		text-decoration: none;
		transform: scale(1.05);
		transition: transform ease-out .1s, background .2s
	}
}

.side-sharebar {
	border: 0;
	display: none;
	float: left;
	margin-right: -60px;
	width: 50px
}

.side-sharebar .sharebar li {
	border-left: 0;
	display: block;
	margin: 0;
	text-align: center
}

.side-sharebar .sharebar a {
	color: #fff
}

.side-sharebar .sharebar-comments {
	border: 0;
	border-left: 0;
	margin-left: 0;
	margin-top: 10px;
	padding-top: 10px;
	position: relative
}

.side-sharebar .sharebar-comments:before {
	background-color: #e0e0e0;
	content: '';
	height: 1px;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%
}

.side-sharebar .sharebar .count-comments,
.side-sharebar .sharebar .count-shares {
	font-size: 10px;
	margin-bottom: 10px;
	margin-right: 0;
	margin-top: 10px
}

.side-sharebar .sharebar .count-num {
	font-size: 16px
}

.side-sharebar .sharebar .count-comments .count-text {
	display: none
}

.side-sharebar .sharebar .icon.comments {
	margin-left: 0;
	margin-right: 0
}

@media all and (min-width:728px) {
	.sharebar {
		border-bottom: 0;
		flex: 0 0 auto;
		margin-bottom: 0;
		padding-bottom: 0
	}

	.article-wrapper .side-sharebar {
		display: block
	}

	.article-wrapper .side-sharebar~.article-body {
		padding-left: 60px
	}
}

@media all and (min-width:728px) {
	.byline ul {
		margin-top: 3px
	}

	.byline .article-information {
		margin-top: -2px
	}
}

.in-article-image {
	margin-bottom: 23px
}

.in-article-image figcaption {
	background-color: #000;
	line-height: 12px;
	padding: 10px 12px 10px;
	border-radius: 0 0 3px 3px;
}

.in-article-image figcaption .caption {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 400;
	font-weight: 700;
	color: white;
	margin-right: 3px;
}

.in-article-image figcaption .credit {
	font-family: 'Roboto', sans-serif;
	font-size: 10px;
	font-weight: 400;
	color: rgb(209, 209, 209);
	white-space: nowrap;
}

.in-article-image figcaption span:first-child {
	margin-left: 0
}

@media all and (min-width:728px) {
	.in-article-image figcaption {
		padding-left: 10px
	}
}

@media all and (min-width:1024px) {
	.in-article-image figcaption {
		padding-left: 12px
	}
}

@media all and (min-width:1240px) {
	.in-article-image figcaption {
		padding-left: 17px
	}
}

.read-more-links {
	margin-bottom: 23px;
	margin-top: 30px;
	position: relative;
}

.read-more-links h5 {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	background-color: #ffffff;
	border-style: solid;
	color: #141414;
	font-size: 14px;
	left: 10px;
	line-height: 20px;
	margin: 0;
	padding: 1px 11px 0 9px;
	position: absolute;
	text-transform: uppercase;
	top: -10px;
}

.read-more-links h5:before {
	height: 20px;
	left: -20px;
	top: 0px;
	width: 20px;
	background-color: #007bb5;
	border-radius: 10px;
	box-shadow: 0 0 0 10px white
}

.read-more-links ul {
	list-style-type: none;
	margin: 0;
	background: #ffffff;
	border: 1px dashed #007bb5;
	border-radius: 3px;
	padding: 0;
}

.read-more-links ul li {
	/*border-top: 1px solid #e0e0e0;*/
	line-height: 1;
	margin: 0;
	padding: 25px 18px 15px 18px;
}

.read-more-links ul li a {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 400;
	color: #141414;
	position: relative;
	text-decoration: none;
	display: block;
	/*max-width: 700px;*/
	/*font-style: italic;*/
}

@media screen and (max-width:727px) {
	.read-more-links ul li a {
		font-size: 14px;
		line-height: 18px;
	}
}

.read-more-links ul li a .quote-author {
	display: block;
	margin-top: 10px;
	font-size: 12px;
	line-height: 14px;
	font-style: normal;
	text-transform: uppercase;
}

.read-more-links ul li a:hover {
	opacity: 1;
	text-decoration: underline
}

/*.read-more-links ul li a:before {
	border: 4px solid transparent;
    border-left: 4px solid #141414;
    content: ' ';
    display: inline-block;
    height: 0;
    left: -10px;
    line-height: 0;
    position: absolute;
    top: 4px;
    width: 0;
}*/

.read-more-links ul li:first-child {
	border-top: 0
}

.tag-list {
	background-color: #f1f1f1;
	border: 1px solid #e0e0e0;
	margin-bottom: 23px;
	margin-top: 39px;
	padding: 30px 0 12px;
	position: relative
}

.tag-list span {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	font-weight: 400;
	font-weight: 700;
	background-color: #141414;
	border-color: #626262;
	border-left-width: 29px;
	border-style: solid;
	color: #fff;
	font-size: 14px;
	left: 9px;
	line-height: 29px;
	margin: 0;
	padding: 0 9px;
	position: absolute;
	text-transform: uppercase;
	top: -15px
}

.tag-list span:before {
	height: 27px;
	left: -28px;
	top: 1px;
	width: 27px
}

.tag-list ul {
	list-style-type: none;
	margin: 0;
	padding: 0 10px
}

.tag-list ul li {
	display: inline-block;
	line-height: 0;
	margin: 0 8px 8px 0
}

.tag-list ul a {
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	border-radius: 90px;
	color: #000;
	display: inline-block;
	line-height: 1;
	margin-top: 0;
	padding: 7px 14px;
	text-decoration: none;
	text-transform: capitalize
}

.tag-list ul a:hover {
	background-color: #626262;
	border: 1px solid #626262;
	color: #fff;
	text-decoration: none
}

.totaliser .info progress::progress-bar {
	background: #fff;
	color: #fff
}

.totaliser .info progress::progress-value {
	opacity: .7
}

.referendum progress::progress-bar {
	background: #fff
}

#bottom-article-message {
	bottom: 0;
	left: 0;
	position: fixed;
	transition: opacity .5s;
	width: 100% !important;
	z-index: 3
}

#bottom-article-message {
	display: none
}

#bottom-article-message {
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 400;
	background-color: #d62226;
	bottom: 0;
	left: 0;
	position: fixed;
	transition: opacity .5s;
	width: 100%;
	z-index: 3
}

.section-theme-highlight {
	background-color: #007bb5 !important;
	color: #fff;
	font-size: 14px;
}


.publication-theme {
	color: #007bb5 !important
}

.publication-theme-highlight {
	color: #fff
}

.publication-theme-border,
.publication-theme-border:before {
	border-color: #007bb5 !important
}

.publication-theme-button-highlight {
	background-color: #fff;
	border-color: #e0e0e0
}

.publication-theme-button-highlight:hover {
	background-color: #007bb5 !important;
	border-color: #007bb5 !important;
	color: #fff
}

.publication-theme-icon:before {
	content: '';
	height: 25px;
	left: 0;
	right: 0;
	text-align: center;
	position: absolute;
	top: 0;
	width: 25px;
/*	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='87' height='60.7'%3E%3Cpath d='M0 36.3h20.6L9.4 60.7h18.1l11.3-24.4V0H0zM48.2 0v36.3h20.6L57.6 60.7h18.1L87 36.3V0z' fill='%23ffffff'/%3E%3C/svg%3E");
*/	background-position: center;
	background-repeat: no-repeat;
	background-size: 50%;
}

.publication-font {
	font-family: 'Roboto', sans-serif;
	font-weight: 700
}

.article-body b a,
.article-body li a,
.article-body p a,
blockquote a,
h3 a {
	color: #007bb5
}
p[itemprop="description"] a {
	color: #007bb5
}
p[itemprop="description"] a:hover {
	opacity: .75;
}

.article-body>a {
	color: #007bb5
}

.mod-header>.publication-theme-highlight {
	background-color: #007bb5;
	background-image: url(../images/menu_icons_dark-bg.png);
	background-repeat: no-repeat;
	background-size: contain;
	-moz-background-size: contain;
	-webkit-background-size: contain;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width:1240px) {
	.mod-header>.publication-theme-highlight {
		background-position: calc(50% + 424px) 0;
	}
}

@media screen and (max-width:1239px) {
	.mod-header>.publication-theme-highlight {
		background-position: calc(50% + 360px) 0;
	}
}

@media screen and (max-width:1023px) {
	.mod-header>.publication-theme-highlight {
		background-position: calc(100% - 5px) center;
	}
}

.article-body img {
	max-width: 100%;
	display: block;
}

.sharebar-icon.icon.facebook:before {
	content: "";
	width: 38px;
	height: 38px;
	background: url(../images/icon-fb.png);
	background-size: 38px 38px
}

.sharebar-icon.icon.twitter:before {
	content: "";
	width: 38px;
	height: 38px;
	background: url(../images/icon-tw.png);
	background-size: 38px 38px
}

.sharebar-icon.icon.pinterest:before {
	content: "";
	width: 38px;
	height: 38px;
	background: url(../images/icon-pi.png);
	background-size: 38px 38px
}

.sharebar-icon.icon.comments:before {
	content: "";
	width: 38px;
	height: 38px;
	background: url(../images/icon-me.png);
	background-size: 38px 38px
}

.mod-header .social-sites a:before {
	background-size: 32px 32px;
	content: "";
	width: 32px;
	height: 32px
}

.mod-header .social-sites a.facebook:before {
	background-image: url(../images/icon-fb.png)
}

.mod-header .social-sites a.twitter:before {
	background-image: url(../images/icon-tw.png)
}

.mod-header .social-sites a.pinterest:before {
	background-image: url(../images/icon-pi.png)
}

.mod-header .social-sites a.instagram:before {
	background-image: url(../images/icon-gr.png)
}

footer .social-links a:before {
	background-size: 40px 40px;
	content: "";
	width: 40px;
	height: 40px
}

footer .social-links a.facebook:before {
	background-image: url(../images/icon-fb.png)
}

footer .social-links a.twitter:before {
	background-image: url(../images/icon-tw.png)
}

footer .social-links a.pinterest:before {
	background-image: url(../images/icon-pi.png)
}

footer .social-links a.instagram:before {
	background-image: url(../images/icon-gr.png)
}

aside.read-more-links.instruction {
	padding: 30px 15px 15px 15px
}

aside.read-more-links.instruction img {
	width: 100%;
	border: 1px solid #e0e0e0
}

.btn {
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 30px 10px;
	color: rgba(255, 255, 255, 1);
	font-size: 26px;
	line-height: 26px;
	text-align: center;
	text-decoration: none;
	border-radius: 8px
}

.btn--orange {
	background: #007bb5;
	color: #fff !important;
	text-decoration: none !important
}

.btn--animate-grow {
	transition-duration: .3s;
	transition-property: transform
}

.btn--animate-grow:hover {
	transform: scale(1.1);
	cursor: pointer
}

.related-column.sidebar img {
	max-width: 100%
}

.fb--container label {
	cursor: pointer;
	color: #666;
	font-weight: 700;
	vertical-align: middle
}

.fb--container label input {
	font-weight: 400
}

.fb--container textarea {
	max-width: 100%
}

.fb--container button,
.fb--container input,
.fb--container label,
.fb--container td,
.fb--container textarea {
	font-family: 'Roboto', sans-serif;
	font-size: 12px
}

.fb--container a {
	color: #365899;
	cursor: pointer;
	text-decoration: none
}

.fb--container button {
	margin: 0
}

.fb--container a:hover {
	text-decoration: underline
}

.fb--container img {
	border: 0
}

.fb--container abbr {
	border-bottom: none;
	text-decoration: none
}

.fb--container .clearfix::after {
	clear: both;
	content: ".";
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.fb--container .clearfix {
	zoom: 1
}

.fb--container ::-webkit-input-placeholder {
	color: #90949c
}

.fb--container :focus::-webkit-input-placeholder {
	color: #bec2c9
}

.fb--container ._42ft {
	cursor: pointer;
	display: inline-block;
	text-decoration: none;
	white-space: nowrap
}

.fb--container ._42ft:hover {
	text-decoration: none
}

.fb--container ._42fr {
	cursor: default
}

.fb--container .lfloat {
	float: left
}

.fb--container .rfloat {
	float: right
}

.fb--container a._p {
	display: block
}

.fb--container ._4jy0 {
	border: 1px solid;
	border-radius: 2px;
	box-sizing: content-box;
	font-size: 12px;
	-webkit-font-smoothing: antialiased;
	font-weight: 700;
	padding: 0 8px;
	position: relative;
	text-align: center;
	text-shadow: none;
	vertical-align: middle;
}

.fb--container ._517h {
	background-color: #f6f7f9;
	border-color: #ced0d4;
	color: #4b4f56
}

.fb--container ._517h:hover {
	background-color: #e9ebee
}

.fb--container ._517h:active {
	background-color: #dddfe2;
	border-color: #bec2c9
}

.fb--container ._4jy1 {
	color: #fff
}

.fb--container ._4jy1 {
	background-color: #4267b2;
	border-color: #4267b2
}

.fb--container ._4jy1:hover {
	background-color: #365899;
	border-color: #365899
}

.fb--container ._4jy1:active {
	background-color: #29487d;
	border-color: #29487d
}

.fb--container ._4jy1._42fr {
	background-color: #9cb4d8;
	border-color: #9cb4d8
}

.fb--container ._4jy3,
.fb--container ._4jy3._42fr:active {
	line-height: 22px
}

.fb-show-replies {
	font-size: 12px;
	line-height: 16px;
	font-weight: 700;
	background-color: #f6f7f9;
	color: #365899;
	padding: 8px;
	margin-top: 10px
}

.fb--container ._5kx5 {
	font-weight: 400
}

.fb--container ._50f8 {
	color: #90949c
}

.fb--container ._42ef {
	overflow: hidden
}

.fb--container ._51mz {
	border: 0;
	border-collapse: collapse;
	border-spacing: 0
}

.fb--container ._51mx:first-child>._51m- {
	padding-top: 0
}

.fb--container ._51mx:last-child>._51m- {
	padding-bottom: 0
}

.fb--container ._51mz ._51mw {
	padding-right: 0
}

.fb--container ._51mz ._51m-:first-child {
	padding-left: 0
}

.fb--container ._8s {
	margin-right: 8px
}

.fb--container ._6a {
	display: inline-block
}

.fb--container ._6b {
	vertical-align: middle
}

.fb--container ._ohe {
	float: left
}

.fb--container ._ohf {
	float: right
}

.fb--container .fb-comment-group {
	margin-top: 12px;
}

.fb--container .fb-comment-text {
	margin-bottom: 4px;
	margin-top: 4px
}

.fb--container ._3-8y {
	margin-top: 12px;
}

.fb--container ._3-8_ {
	margin-right: 4px
}

.fb--container ._3-99 {
	margin-left: 4px
}

.fb--container ._2ph- {
	padding: 8px
}

.fb--container ._2pi3 {
	padding-bottom: 0;
	padding-top: 8px
}

.fb--container ._2agf {
	word-wrap: normal
}

.fb--container ._55pe {
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	vertical-align: top;
	white-space: nowrap
}

.fb--container a.uiLinkSubtle {
	color: #90949c
}

.fb--container .uiInputLabel {
	position: relative
}

.fb--container .uiInputLabelInput {
	margin: 0;
	padding: 0;
	position: absolute
}

.fb--container .uiInputLabel .uiInputLabelLabel {
	display: inline-block;
	margin-left: 17px;
	vertical-align: baseline
}

.fb--container .UFICommentAttachmentButtons {
	bottom: 0;
	height: 24px;
	position: absolute;
	right: 0
}

.fb--container .fb-user-name {
	font-weight: 700
}

.fb--container ._5v47 {
	display: inline;
	white-space: nowrap
}

.fb--container .fb-like {
	background: url(../images/like.png);
	width: 16px;
	height: 15px;
	bottom: -2px;
	position: relative;
	display: inline-block;
	margin-right: 2px
}

.fb--container ._56q9 {
	font-size: 14px;
	line-height: 1.358;
	word-break: break-word;
	word-wrap: break-word
}

.fb--container .fb-comments-replies {
	border-left: 1px dotted #d3d6db;
	padding-left: 8px;
	margin-bottom: 16px
}

.fb--container .fb-comment-tools {
	font-size: 12px;
	line-height: 1.358;
	padding-top: 2px;
	color: #90949c
}

.fb--container .fb-comment-tools a {
	color: #4267b2
}

.fb--container .fb-comment-tools .livetimestamp,
.fb--container .fb-comment-tools .uiLinkSubtle {
	color: #90949c
}

.fb--container ._4q1v {
	color: #90949c;
	display: inline
}

.fb--container ._4q1v a {
	color: #90949c
}

.fb--container .fb-see-more {
	color: #4267b2;
	font-size: 14px;
	white-space: nowrap
}

.fb--container ._2392 {
	margin-bottom: 24px
}

.fb--container ._4uyl ._1cb {
	border: 1px solid #d3d6db;
	word-wrap: break-word
}

.fb--container ._1zz8 ._1u9t {
	min-height: 40px
}

.fb--container ._1u9t {
	box-sizing: border-box;
	vertical-align: top;
	width: 100%
}

.fb--container ._4uyl ._1u9t {
	font-size: 14px;
	padding: 12px 8px
}

.fb--container ._5tr6 {
	background: #f6f7f9;
	text-align: right
}

.fb--container ._5tr6 ._42fr:active,
.fb--container ._5tr6 button {
	font-size: 14px;
	white-space: normal
}

.fb--container ._4uym {
	border-width: 0 1px 1px;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-right-color: #d3d6db;
	border-bottom-color: #d3d6db;
	border-left-color: #d3d6db;
	border-image: initial;
	border-top-style: initial;
	border-top-color: initial
}

.fb--container ._2ern {
	font-size: 12px
}

.fb--container ._1u0n {
	line-height: 24px
}

.fb--container .fb-plugin {
	border-top: 1px solid #e9ebee;
	font-size: 11px;
	margin-top: 15px;
	padding-top: 5px
}

.fb--container .fb-comments-count {
	border-bottom: 1px solid #e9ebee;
	line-height: 25px;
	margin-bottom: 24px;
	padding: 0 0 8px
}

.fb--container .fb-load-more-comments {
	display: block;
	text-align: center;
	background: #4080ff;
	border: none;
	border-radius: 4px;
	box-sizing: border-box;
	color: #fff;
	font-size: 14px;
	margin-top: 24px;
	padding: 12px;
	text-shadow: none;
	width: 100%
}

.fb--container .fb-user-img {
	height: 48px;
	width: 48px;
	margin-right: 8px
}

.fb--container .fb-user-img-reply {
	height: 36px;
	width: 36px;
	margin-right: 8px
}

.fb--container ._55sg {
	vertical-align: baseline
}

.fb--container .uiInputLabel ._55sg+.uiInputLabelLabel {
	margin-left: 23px
}

.fb--container ._kv1 {
	position: relative
}

.fb--container .uiInputLabelInput._kv1 {
	position: absolute
}

body {
	overflow-x: hidden;
}

.article-body img.hidden-mob {
	display: none;
}

.article-body img.hidden-desk {
	display: block;
	max-width: 100%;
}

@media all and (min-width:1024px) {

	.article-body img.hidden-mob {
		display: block;
		width: 100%;
		max-width: 100%;
	}

	.article-body img.hidden-desk {
		display: none;
	}
}


/* NEW CLASSES AND CUSTOM STYLES */

.article-body p.sidebar-divider {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 12px !important;
	font-weight: 900 !important;
	text-transform: uppercase !important;
	color: #2b2b2b;
	position: relative;
	margin: 30px auto 15px;
}

.article-body p.sidebar-divider:first-child {
	margin-top: 0;
}

.article-body p.sidebar-divider span {
	display: inline-block;
	padding: 0 10px;
	background: #e0e0e0;
	position: relative;
	z-index: 10;
}

.article-body p.sidebar-divider::after {
	content: "";
	display: block;
	position: absolute;
	z-index: 5;
	left: 0;
	top: 0;
	width: 100%;
	height: 1px;
	border-bottom: 2px dotted rgb(224, 224, 224);
	margin-top: -1px;
}

/* Intro headline divider */

.headline-divider {
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 18px !important;
	font-weight: 900 !important;
	text-transform: uppercase !important;
	color: white;
	position: relative;
}

.headline-divider::before {
	content: "\2118";
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	color: #8a0808;
	font-size: 400%;
	transform: translate(-50%, -70%);
	z-index: 0;
}

@media screen and (min-width:1024px) {
	.headline-divider {
		margin: 45px auto 15px;
	}
}

@media screen and (max-width:1023px) {
	.headline-divider {
		margin: 15px auto 15px;
	}
}

@media screen and (max-width:727px) {
	.headline-divider {
		margin: 15px 12px 15px;
	}
}

.headline-divider span {
	display: inline-block;
	padding: 5px 10px;
	background: #8a0808;
	position: relative;
	z-index: 10;
	border-left: 5px solid white;
	border-right: 5px solid white;
}

@media screen and (max-width:727px) {
	.headline-divider {
		font-size: 14px !important;
	}
}

.headline-divider::after {
	content: "";
	display: block;
	position: absolute;
	z-index: 5;
	left: 0;
	top: 50%;
	width: 100%;
	height: 1px;
	border-bottom: 2px dotted rgb(224, 224, 224);
	margin-top: -2px;
}

.media-logos-imgs {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin-bottom: -10px;
}

.media-logos-imgs a {
	padding: 10px;
	box-sizing: border-box;
}

.media-logos-imgs a img {
	width: auto;
	height: auto;
	max-height: 30px;
	max-width: 180px !important;
	display: block;
	margin: 0 auto;
}

.logo-bar {
	text-align: center;
	font-size: 0;
/*	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAO0lEQVQoU2NkIAIwElLz9evX/3gVgRRwc3MzEjQJZBNWRTATYE7BUISuAKdJ6J6Bm4TNBBTr8CkAKQQAkx8X6MROpDcAAAAASUVORK5CYII=) repeat;
*/}

.logo-bar #logo {
	display: inline-block;
}

#logo img {
	max-width: 100%;
	height: auto;
	width: auto;
	max-height: 100%;
	display: block;
	margin: 0 auto;
}

.navbar-container {
	width: 100%;
	margin: 0 auto;
}

@media screen and (min-width: 728px) {
	.navbar-container {
		max-width: 800px;
	}
}

@media screen and (min-width:1240px) {
	.navbar-container {
		max-width: 900px;
	}
}



.ctaBtn {
	background: #007bb5;
	color: #fff !important;
	text-decoration: none !important;
	display: block;
	margin-top: 15px;
	margin-bottom: 15px;
	padding: 20px 10px;
	font-size: 20px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	border-radius: 20px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, .25);
	transition: 50ms linear background;
}

.ctaBtn:hover {
	background: #007bb5;
	color: #fff !important;
	opacity: 0.9 !important;
}

.ctaBtn:active,
.ctaBtn:hover:active {
	background: #007bb5;
	color: #fff !important;
	opacity: 1 !important;
	box-shadow: 0 3px 6px rgba(0, 0, 0, .1), inset 0 2px 4px rgba(0, 0, 0, .25);
}

hr {
	max-width: 200px;
	margin: 45px auto 45px;
	border: 0;
	border-bottom: 2px dashed #03A9F4;
	height: 0;
}

@media screen and (max-width:727px) {
	hr {
		margin: 25px auto 25px;
	}
}

figure img {
	width: 100%;
}

.urgentUpdate {
	padding: 30px;
	border: 1px dotted #d6d6d6;
	border-radius: 5px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width:500px) {
	.urgentUpdate {
		padding: 20px;
	}
}

.urgentUpdate> :first-child {
	margin-top: 0;
}

.urgentUpdate> :last-child {
	margin-bottom: 0;
}

.urgentUpdate>h2 {
	border: 2px solid #007bb5;
	border-radius: 3px;
}

@media screen and (max-width:500px) {
	.urgentUpdate>h2 {
		font-size: 14px;
	}

	.urgentUpdate p {
		font-size: 14px;
	}
}

.urgentUpdate>h2 span {
	display: inline-block;
	background-color: #007bb5;
	color: white;
	padding: 0 0.5em;
	margin-right: 0.25em;
}

.aboutPlatform {
	padding: 0 30px 15px;
	border: 1px solid  #000000;
}

@media screen and (max-width:500px) {
	.aboutPlatform {
		padding: 0 20px 5px;
	}
}

/* SPRITES */

.sprite-icons-comments,
.sprite-icons-share-email,
.sprite-icons-share-fb,
.sprite-icons-share-ig,
.sprite-icons-share-in,
.sprite-icons-share-link,
.sprite-icons-share-tw,
.sprite-icons-shares {
	max-width: 100%;
	background-size: 100%;
	background-image: url('../images/sprite-icons.png');
}

.sprite-icons-comments {
	background-position: 0 0%;
	background-size: 100%;
}

.sprite-icons-share-email {
	background-position: 0 14.285714%;
	background-size: 100%;
}

.sprite-icons-share-fb {
	background-position: 0 28.571429%;
	background-size: 100%;
}

.sprite-icons-share-ig {
	background-position: 0 42.857143%;
	background-size: 100%;
}

.sprite-icons-share-in {
	background-position: 0 57.142857%;
	background-size: 100%;
}

.sprite-icons-share-link {
	background-position: 0 71.428571%;
	background-size: 100%;
}

.sprite-icons-share-tw {
	background-position: 0 85.714286%;
	background-size: 100%;
}

.sprite-icons-shares {
	background-position: 0 100%;
	background-size: 100%;
}

.sharebar.share-icons {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	margin-bottom: 15px;
}

@media screen and (min-width:501px) and (max-width:1023px) {
	.sharebar.share-icons {
		justify-content: center;
	}

	.sharebar.share-icons a {
		margin: 0 5px;
	}
}

.sharebar.share-icons a {
	height: 30px;
	width: 30px;
}

.sharebar.share-icons a:hover {
	opacity: 0.75;
}

.sharebar.share-info {
	font-size: 14px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-between;
	padding-bottom: 0;
}

@media screen and (min-width:501px) and (max-width:1023px) {
	.sharebar.share-info {
		justify-content: center;
	}

	.sharebar.share-info>span {
		padding: 0 10px;
	}
}

@media screen and (min-width:1024px) {
	.sharebar.share-info {
		flex-direction: column;
	}
	.sharebar.share-info .share-info-shares {
		margin-bottom: 10px;
	}
}

@media screen and (max-width:359px) {
	.sharebar.share-info {
		flex-direction: column;
	}
	.sharebar.share-info .share-info-shares {
		margin-bottom: 10px;
	}
}

.sharebar.share-info b {
	margin-right: .25em;
}

.sharebar.share-info a {
	margin-right: 5px;
	height: 18px;
	width: 18px;
}

.sharebar.share-info a:hover {
	opacity: 0.75;
}

.sharebar.share-info .share-info-shares {
	color: #f31947;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.sharebar.share-info .share-info-comments {
	color: #009c33;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
}

.article-body ul.sidebar-hot-news {
	list-style: none;
	margin: 0;
	padding: 0;
}

@media screen and (min-width:501px) and (max-width:1023px) {
	.article-body ul.sidebar-hot-news {
		text-align: left;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}
}

.article-body ul.sidebar-hot-news li {
	position: relative;
	margin-left: 15px;
	margin-bottom: 5px;
	font-size: 12px;
	line-height: 15px;
	flex-basis: 28%;
	box-sizing: border-box;
}

.article-body ul.sidebar-hot-news li a:hover {
	text-decoration: none;
	opacity: .85;
}

.article-body ul.sidebar-hot-news li:last-child {
	margin-bottom: 0;
	padding-bottom: 0;
}

.article-body ul.sidebar-hot-news li::before {
	content: "\00BB";
	position: absolute;
	top: -2px;
	left: -15px;
	font-size: 16px;
}

.extra-testimonials {
	padding: 0;
	margin: 0;
	
	box-sizing: border-box;
	transition: 250ms height ease-in-out, 250ms opacity linear;
	overflow: hidden;
}

@media screen and (max-width:727px) {
	.extra-testimonials {
		margin: 0 12px;
	}
}

.extra-testimonials .testimonials-container {
	margin: 0 auto;
	max-width: 1240px;
	width: calc(100% - 30px);
	transition: 250ms height ease-in-out;
}

@media screen and (min-width:728px) {
	.extra-testimonials .testimonials-container {
		padding: 15px 0;
	}
}

@media screen and (max-width:727px) {
	.extra-testimonials .testimonials-container {
		padding: 15px 0 0;
	}
}

.extra-testimonials h1 {
	font-family: 'Roboto', sans-serif;
	font-size: 24px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-bottom: 1px solid #000;
	padding-bottom: 15px;
	margin: 0 auto 15px;
}


@media screen and (min-width:728px) {
	.extra-testimonials h1 {
		font-size: 24px;
	}
}

@media screen and (max-width:727px) {
	.extra-testimonials h1 {
		font-size: 16px;
	}
}

.extra-testimonials h1 a {
	text-decoration: none;
	background: red;
	width: 1em;
	height: 1em;
	border-radius: 3px;
	text-align: center;
	color: white;
	box-sizing: border-box;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 100ms opacity linear;
	opacity: 1;
}

.extra-testimonials h1 a:hover {
	opacity: .75 !important;
}

.extra-testimonials h1 a svg {
	width: 50%;
	height: auto;
}

.extra-testimonials ul {
	padding: 0;
	list-style: none;
	font-size: 0;
	display: flex;
	flex-direction: row;
	margin: 0 -7px;
}

@media screen and (min-width:728px) {
	.extra-testimonials ul {
		flex-wrap: nowrap;
	}
}

@media screen and (max-width:727px) {
	.extra-testimonials ul {
		flex-wrap: wrap;
	}
}

.extra-testimonials ul li {
	margin: 0;
	font-size: 14px;
	box-sizing: border-box;
}

@media screen and (min-width:728px) {
	.extra-testimonials ul li {
		flex-basis: 25%;
		padding: 0 7px;
	}
}

@media screen and (max-width:727px) {
	.extra-testimonials ul li {
		flex-basis: 50%;
		padding: 0 7px 15px;
	}
}

@media screen and (min-width:728px) {
	.extra-testimonials ul li h2 {
		font-size: 16px;
		margin-bottom: 10px;
	}
}

@media screen and (max-width:727px) {
	.extra-testimonials ul li h2 {
		font-size: 14px;
		margin-bottom: 10px;
	}
}

.extra-testimonials ul li h2 small {
	font-size: 0.75em;
	font-weight: 400;
	display: block;
	padding-top: 5px;
}

.extra-testimonials ul li img {
	width: 100%;
	height: auto;
	display: block;
	box-sizing: border-box;
	/* border: 1px solid #141414; */
}

.extra-testimonials ul li a+h2 {
	margin-top: 0;
    color: #ffffff;
    background: #141414;
    padding: 6px 9px 5px;
    font-size: 14px;
    border-radius: 0 0 3px 3px;
}

.extra-testimonials ul li blockquote {
	padding: 0;
	margin: 0;
	line-height: 1.4;
	font-style: italic;
}

@media screen and (min-width:728px) {
	.extra-testimonials ul li blockquote {
		font-size: 14px;
	}
}

@media screen and (max-width:727px) {
	.extra-testimonials ul li blockquote {
		font-size: 12px;
		margin-top: -5px;
	}
}


/* COOKIES */


.cookieConsentContainer {
	z-index: 999;
	width: 400px;
	min-height: 20px;
	box-sizing: border-box;
	padding: 15px;
	background: rgba(0, 0, 0, 0.9);
	overflow: hidden;
	position: fixed;
	bottom: 15px;
	right: 15px;
	display: none;
	border-radius: 3px;
}

@media screen and (max-width:600px) {
	.cookieConsentContainer {
		z-index: 999;
		width: 100%;
		min-height: 20px;
		box-sizing: border-box;
		padding: 15px;
		background: rgba(0, 0, 0, 0.9);
		overflow: hidden;
		position: fixed;
		bottom: 0;
		right: 0;
		left:0;		
		border-radius: 0;
	}
}

.cookieConsentContainer .cookieTitle {
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 14px;
	display: block;
}

.cookieConsentContainer .cookieDesc p {
	margin: 0;
	padding: 0;
	font-family: 'Roboto', sans-serif;
	color: #FFFFFF;
	font-size: 11px;
	line-height: 13px;
	display: block;
	margin-top: 10px;
}

.cookieConsentContainer .cookieDesc a {
	color: #FFFFFF;
	text-decoration: underline;
}

.cookieConsentContainer .cookieButton a {
	display: inline-block;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: bold;
	margin-top: 12px;
	background: #007bb5;
	box-sizing: border-box;
	padding: 8px 20px;
	text-align: center;
	transition: background 150ms;
	border-radius: 3px;
}

.cookieConsentContainer .cookieButton a:hover {
	cursor: pointer;
	background: #058ece;
}

@media screen and (max-width:1100px){
	.last-li{
		display: none;
	}
}

#logo {
	background: url(../images/logo.png);
	height: 50px;
	width: 133.125px;
	background-size: 100% 100%
}

.mod-header>.publication-theme-highlight {
	background: #141414!important;
	background: url(../images/top-right.png) top right, #141414 !important;
	background-repeat: no-repeat !important;
	background-size: contain !important;
	-moz-background-size: contain !important;
	-webkit-background-size: contain !important;
}


.mod-header:not([data-expanded]) #hamburger:after,
.mod-header:not([data-expanded]) #hamburger:before,
.mod-header:not([data-expanded]) #hamburger>span {
	border-radius: 3px;
	background: #fff;
	content: '';
	height: 3px;
	left: 7px;
	position: absolute;
	width: 20px
}

#logo {
	height: 50px;
	width: 150px;
	background-size: 100% 100%;
	display: block;
	margin-left: 38px;
	overflow: hidden;
	position: absolute;
	text-indent: 100%
}

#hamburger {
	cursor: pointer;
	display: block;
	height: 50px;
	left: 0;
	margin-top: 0;
	overflow: hidden;
	position: absolute;
	text-indent: 100%;
	top: 0;
	white-space: nowrap;
	width: 38px
}

.mod-header * {
	box-sizing: border-box
}

.mod-header:not([data-expanded]) #hamburger:before {
	top: 17px;
	transform: none
}

.mod-header:not([data-expanded]) #hamburger:after {
	top: 29px
}

.mod-header:not([data-expanded]) #hamburger>span {
	display: block;
	top: 23px
}

.mod-header .has-children>.toggle {
	display: none
}

.mod-header>.primary {
	clear: both;
	background: #626262;
	height: 50px;
	left: 0;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 4
}

.mod-header>.primary:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden
}

.mod-header>.primary nav {
	display: none
}

.mod-header .social-sites {
	display: none;
	float: right;
	margin-right: 10px;
	margin-top: 9px
}

.mod-header .social-sites li {
	float: left;
	list-style: none;
	margin: 0 3px;
	padding: 0
}

.mod-header .social-sites a {
	height: 32px;
	position: relative;
	width: 32px
}

.mod-header>.secondary {
	clear: both;
	background: #f1f1f1;
	border-bottom: 1px solid #e0e0e0;
	height: 36px;
	left: 0;
	position: fixed;
	top: 50px;
	transition: top 225ms linear;
	width: 100%;
	z-index: 3
}

.mod-header>.secondary:after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden
}

.mod-header>.secondary ul {
	overflow-x: scroll;
	overflow-y: hidden;
	white-space: nowrap
}

.mod-header>.secondary ul::-webkit-scrollbar {
	display: none
}

.mod-header>.secondary li {
	display: inline-block
}

.mod-header>.secondary li:first-child a {
	padding-left: 16px
}

.mod-header>.secondary a {
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	font-weight: 400;
	color: #141414;
	display: block;
	font-weight: 700;
	height: 36px;
	padding: 11px 8px 0;
	text-decoration: none;
	text-transform: uppercase
}

.mod-header .footer {
	display: none
}

@media all and (min-width:728px) {
	#logo {
		height: 60px;
		width: 180px;
		margin-left: 55px
	}
	.mod-header:not([data-expanded]) #hamburger {
		height: 60px;
		opacity: 1;
		width: 55px
	}
	.mod-header:not([data-expanded]) #hamburger:before {
		left: 15px;
		top: 21px;
		width: 25px
	}
	.mod-header:not([data-expanded]) #hamburger:after {
		left: 15px;
		top: 35px;
		width: 25px
	}
	.mod-header:not([data-expanded]) #hamburger>span {
		left: 15px;
		top: 28px;
		width: 25px
	}
	.mod-header>.primary {
		height: 60px
	}
	.mod-header .social-sites {
		display: block;
		margin-top: 14px
	}
	.mod-header>.secondary {
		height: 40px;
		top: 60px
	}
	.mod-header>.secondary a {
		font-size: 14px;
		height: 40px;
		padding-top: 13px
	}
}

@media all and (min-width:1024px) {
	#logo {
		height: 70px;
		width: 210px;
		float: left;
		margin-left: 0;
		position: static
	}
	#hamburger {
		display: none
	}
	.mod-header>.primary {
		height: 70px
	}
	.mod-header>.primary nav {
		display: block;
		float: left
	}
	.mod-header>.primary [data-level='1'] {
		clear: both;
		margin-left: 10px
	}
	.mod-header>.primary [data-level='1']:after {
		clear: both;
		content: '.';
		display: block;
		height: 0;
		visibility: hidden
	}
	.mod-header>.primary [data-level='1']>li {
		float: left
	}
	.mod-header>.primary [data-level='1']>li>a {
		font-family: 'Open Sans', sans-serif;
		font-size: 15px;
		font-weight: 400;
		box-sizing: border-box;
		font-weight: 600;
		height: 70px;
		padding: 29px 8px 0
	}
	.mod-header>.primary [data-level='1']>li>a:hover {
		color: #e0e0e0
	}
	.mod-header>.primary [data-level='1'] a {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 400;
		color: #fff;
		display: block;
		font-weight: 400;
		position: relative;
		text-decoration: none;
		text-transform: uppercase
	}
	.mod-header>.primary [data-level='1'] .toggle {
		display: none
	}
	.mod-header>.primary [data-level='1'] .has-children {
		position: relative
	}
	.mod-header>.primary [data-level='1'] .has-children:after {
		border-color: #fff transparent transparent;
		border-style: solid;
		border-width: 5px 5px 0;
		content: '';
		font-size: 0;
		height: 0;
		position: absolute;
		right: 10px;
		top: 34px;
		width: 0
	}
	.mod-header>.primary [data-level='1'] .has-children:hover>a {
		color: #e0e0e0
	}
	.mod-header>.primary [data-level='1'] .has-children:hover:after {
		border-color: #e0e0e0 transparent transparent
	}
	.mod-header>.primary [data-level='1'] .has-children>ul {
		border-radius: 2px;
		background: #fff;
		border: solid 1px #e0e0e0;
		box-shadow: 0 0 3px 0 rgba(0, 0, 0, .1);
		display: none;
		padding: 24px;
		position: absolute;
		width: 240px
	}
	.mod-header>.primary [data-level='1'] .has-children>ul ul {
		padding: 0 0 15px 15px
	}
	.mod-header>.primary [data-level='1'] .has-children>ul ul li a {
		padding: 7px 0
	}
	.mod-header>.primary [data-level='1'] .has-children>a {
		padding-right: 25px
	}
	.mod-header>.primary [data-level='2'] li {
		border-top: solid 1px #f1f1f1;
		float: none
	}
	.mod-header>.primary [data-level='2'] li:first-child {
		border-top: 0
	}
	.mod-header>.primary [data-level='2'] a {
		font-family: 'Open Sans', sans-serif;
		font-size: 14px;
		font-weight: 400;
		color: #2c2c2c;
		height: auto;
		padding: 15px 0;
		text-transform: none
	}
	.mod-header>.primary [data-level='2'] a:hover {
		color: #626262
	}
	.mod-header>.primary [data-level='3'] {
		display: none
	}
	.mod-header>.primary [data-level='3'] li {
		border-top: 0
	}
	.mod-header>.primary .has-child-group {
		position: relative
	}
	.mod-header>.primary .has-child-group>a {
		font-weight: 700;
		line-height: 1.3;
		padding-right: 32px
	}
	.mod-header>.primary .has-child-group>a.toggle {
		color: #979797;
		display: block;
		font-size: 10px;
		height: 24px;
		padding: 0;
		position: absolute;
		right: 0;
		top: 13px;
		width: 24px
	}
	.mod-header>.primary .has-child-group>a.toggle:before {
		content: ""
	}
	.mod-header .social-sites {
		margin-top: 19px
	}
	.mod-header>.secondary {
		height: 33px;
		position: absolute;
		top: 70px;
		transition: none
	}
	.mod-header>.secondary a {
		color: #626262;
		font-size: 12px;
		font-weight: 400;
		height: 30px;
		padding-top: 10px
	}
	.mod-header>.secondary a:hover {
		opacity: .85;
		text-decoration: underline
	}
	.mod-header nav.secondary ul {
		float: right;
		overflow: hidden
	}
}


.menu-offset{
	padding-top: 60px;
}


@media all and (min-width:728px) {
	#logo {
		height: 60px;
		width: 159.75px
	}
}

@media all and (min-width:1024px) {
	#logo {
		height: 70px;
		width: 186.375px
	}
}

aside p a.aside-link{
	text-decoration-line: underline;
	color: #127CB3;
}

aside p a.aside-link:hover{
	opacity: .75;
}

hr.hr__solid_big{
	border-bottom: 6px solid rgba(18, 124, 179, 0.5);
	max-width: 100%;
}

.article-body blockquote.blochquote__smaller{
	padding:0 5px;

}

.article-body blockquote.blochquote__smaller p{
	font-size:15px;
}


.byline {
	align-items: center;
	box-sizing: border-box;
	display: block;
	padding: 0 12px;
	width: 100%
}

.byline ul li {
	list-style-type: none
}

@media all and (min-width:728px) {
	.byline {
		border-bottom: 1px solid #e0e0e0;
		border-top: 1px solid #e0e0e0;
		display: flex;
		padding: 6px 0
	}
}

@media all and (min-width:1240px) {
	.byline {
		padding: 10px 0
	}
}

.article-information {
	color: #494949;
	display: block;
	text-transform: uppercase;
	vertical-align: middle
}

.article-information .author-information-container {
	overflow: hidden
}

.article-information .author,
.article-information .author-label {
	margin-right: 4px
}

.article-information .author-label {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 400;
	text-transform: capitalize
}

.article-information .author {
	font-family: 'Open Sans', sans-serif;
	font-size: 15px;
	font-weight: 700;
	color: #141414;
	display: inline-block;
	line-height: 1.3;
	text-transform: capitalize
}

.article-information .author:after {
	content: ','
}

.article-information .author:last-child:after {
	display: none
}

.article-information .author a {
	text-decoration: underline
}

.article-information a {
	color: #494949
}

.article-information .time-info li {
	font-family: 'Open Sans', sans-serif;
	font-size: 10px;
	font-weight: 400;
	border-left: 1px solid #e0e0e0;
	display: inline-block;
	margin-left: 4px;
	padding-left: 8px
}

.article-information .time-info li:first-child {
	border-left: 0;
	margin-left: 0;
	padding-left: 0;
	padding-right: 8px
}

@media all and (min-width:728px) {
	.article-information {
		border-left: 1px solid #e0e0e0;
		flex-grow: 1;
		padding: 0 16px;
		position: relative
	}
	.article-information .author-information-container {
		margin-top: 6px
	}
	.article-information .time-info {
		bottom: 3px;
		position: relative
	}
}

@media all and (min-width:1240px) {
	.article-information {
		position: relative
	}
	.article-information .time-info {
		bottom: 3px;
		position: relative
	}
	.article-information .time-info li {
		font-size: 11px
	}
	.article-information .author-information-container {
		margin-top: 6px
	}
}

@media (max-width:1140px){
	.extra-testimonials ul li h2  {
		font-size:14px;
}
}

@media (max-width:991px){
	.extra-testimonials ul li h2  {
		font-size:12px;
}
}
@media (max-width:450px){
	.extra-testimonials ul li h2  ,.extra-testimonials ul li a+h2{
		font-size:10px;
}
}
@media (max-width:30px){
	.extra-testimonials ul li h2  ,.extra-testimonials ul li a+h2{
		font-size:9px;
}
}

.hurry-up-text{
	font-size: 40px;
	font-weight: bold;
	color:#127CB3 ;
	text-align: center;
}

@media (max-width:375px){
	.hurry-up-text{
		font-size: 22px;
	}
}

