@import url('https://fonts.googleapis.com/css?family=Oswald|PT+Sans&subset=cyrillic,cyrillic-ext,latin-ext,vietnamese');
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/***** Animation *****/

#mh-wrapper,
h1,
h2,
h3,
h4,
h5,
h6,
.search-form input,
.header-sub li a,
.widget-list li,
.cat-item,
.page_item,
.sb-widget .menu-item,
.footer-widgets .menu-item,
.social-nav ul li a,
a,
.button span,
.social-button span,
.main-nav li {
    -moz-transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

/***** Structure *****/

html {
    font-size: 100%;
    -ms-text-size-adjust: none;
    -webkit-text-size-adjust: none;
}

body {
    font-family: "PT Serif", Georgia, Times, "Times New Roman", serif;
    font-size: 16px;
    font-size: 1.0rem;
    line-height: 1.6;
    word-wrap: break-word;
    background: #efefef;
}

body.custom-background {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#mh-wrapper {
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 20px 20px;
    overflow: hidden;
    background: #fff;
}

.wrapper-inner {
    width: 90%;
    max-width: 1180px;
    margin: 0 auto;
}

#main-content {
    display: inline-block;
    width: 67.83%;
    overflow: hidden;
}

.mh-sidebar,
.home-sidebar {
    display: inline-block;
    vertical-align: top;
    width: 31.66%;
}

.mh-right-sb #main-content {
    float: left;
    margin-right: 2.5%;
}

.mh-left-sb #main-content {
    float: right;
    margin-left: 2.5%;
}

.mh-section {
    clear: both;
    padding: 0;
    margin: 0;
}

.mh-separator {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border: 0;
    border-bottom: 1px dotted #cdcdcd;
}

.clear {
    clear: both;
}

.clearfix {
    display: block;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
    margin: 0;
    padding: 0;
}

/***** Typography *****/

h1 {
    font-size: 36px;
    font-size: 2.25rem;
}

h2 {
    font-size: 28px;
    font-size: 1.75rem;
}

h3 {
    font-size: 24px;
    font-size: 1.5rem;
}

h4 {
    font-size: 20px;
    font-size: 1.25rem;
}

h5 {
    font-size: 16px;
    font-size: 1.0rem;
}

h6 {
    font-size: 14px;
    font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.3;
    font-weight: 400;
    color: #1f1e1e;
}

b,
strong {
    font-weight: 900;
}

i,
em {
    font-style: italic;
}

small {
    font-size: 8px;
    font-size: 0.5rem;
}

big {
    font-size: 20px;
    font-size: 1.25rem;
}

pre,
code {
    font-family: "Consolas", Courier New, Courier, monospace;
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
    background: #f7f7f7;
    border: 1px solid #ebebeb;
}

pre {
    padding: 20px;
    padding: 1.25rem;
    white-space: pre-wrap;
    white-space: -o-pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -webkit-pre-wrap;
}

kbd {
    padding: 0px 6px;
    padding: 0rem 0.375rem;
    background-color: #f7f7f7;
    border: 1px solid #aaa;
    border-radius: 0.1875em;
    -moz-border-radius: 0.1875em;
    -moz-box-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.2), 0 0 0 0.125em white inset;
    -webkit-border-radius: 0.1875em;
    -webkit-box-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.2), 0 0 0 0.125em white inset;
    box-shadow: 0 0.0625em 0 rgba(0, 0, 0, 0.2), 0 0 0 0.125em white inset;
    text-shadow: 0 0.0625em 0 #fff;
}

blockquote {
    font-size: 15px;
    font-size: 0.9375rem;
    line-height: 1.6;
    color: #005a8c;
    margin: 10px 20px 20px 20px;
    padding: 20px 20px 0 20px;
    padding: 1.25rem 1.25rem 0 1.25rem;
    border-left: 5px solid #005a8c;
    display: inline-block;
}

sup {
    vertical-align: super;
    font-size: 10px;
    font-size: 0.625rem;
}

sub {
    vertical-align: sub;
    font-size: 10px;
    font-size: 0.625rem;
}

abbr,
acronym {
    border-bottom: 1px dashed;
    cursor: help;
}

cite {
    color: #9a9b97;
}

address {
    font-family: "Courier new";
    line-height: 1.5;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}

a {
    text-decoration: none;
    color: #1f1e1e;
}

a:hover {
    color: #005a8c;
}

/***** Default Google Fonts *****/

.header-nav,
.header-sub,
h1,
h2,
h3,
h4,
h5,
h6,
.breadcrumb,
.footer-bottom,
.widget-list li,
.cat-item,
.page_item,
.menu-item,
.button,
.commentlist .vcard,
.pagination,
.mh-share-buttons {
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
}

/***** Columns *****/

.mh-col {
    display: block;
    float: left;
    margin-left: 2.5%;
}

.mh-col:first-child {
    margin-left: 0;
}

.mh-group:before,
.mh-group:after {
    content: "";
    display: table;
}

.mh-group:after {
    clear: both;
}

.mh-1-2 {
    width: 48.75%;
}

.mh-2-3 {
    width: 65.83%;
}

.mh-1-3 {
    width: 31.66%;
}

.mh-3-4 {
    width: 74.375%;
}

.mh-1-4 {
    width: 23.125%;
}

.home-2,
.home-3 {
    width: 48.07%;
}

.home-3 {
    margin-left: 3.86%;
}

/***** Header *****/

.header-top {
    background: #2f8e4c;
    line-height: 1;
}

.mh-header {
    margin-bottom: 30px;
}

.header-wrap {
    padding: 20px 0;
}

.header-logo-full {
    float: none;
    width: 100%;
}

.logo-title {
    font-size: 42px;
    font-size: 2.625rem;
    color: #005a8c;
    font-weight: 700;
    text-transform: uppercase;
}

.logo-tagline {
    font-size: 16px;
    font-size: 1.0rem;
    text-transform: uppercase;
}

.header-sub {
    display: block;
    padding: 10px;
    text-transform: uppercase;
    overflow: hidden;
    background: #efefef;
}

.header-search {
    float: right;
}

/***** News Ticker *****/

.news-ticker {
    height: 33px;
    font-size: 12px;
    line-height: 33px;
    overflow: hidden;
}

.ticker-title {
    float: left;
    color: #fff;
    padding: 0 10px;
    background: #1f1e1e;
}

.ticker-item {
    display: block;
    padding: 0 10px;
    overflow: hidden;
    display: block;
    overflow: hidden;
    height: 33px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.ticker-item-separator {
    margin: 0 3px;
}

/***** Navigation *****/

.header-nav {
    float: left;
    width: 50%;
    font-size: 12px;
    font-size: 0.75rem;
    text-transform: uppercase;
}

.header-nav li {
    float: left;
    position: relative;
    border-left: 1px solid #424242;
}

.header-nav li:first-child {
    border: none;
}

.header-nav li a {
    display: block;
    color: #fff;
    padding: 10px 15px;
    padding: 0.625rem 0.9375rem;
    text-decoration: none;
}

.header-nav ul li:hover>ul {
    display: block;
    background: #2a2a2a;
    z-index: 9999;
}

.header-nav ul ul {
    display: none;
    position: absolute;
}

.header-nav ul ul li {
    width: 13em;
    border: none;
}

.header-nav ul ul ul {
    left: 100%;
    top: 0;
}

.main-nav {
    background: #2f8e4c;
    text-transform: uppercase;
}

.main-nav li {
    float: left;
    position: relative;
    border-left: 1px solid #424242;
}

.main-nav li:first-child {
    border: none;
}

.main-nav li:hover {
    background: #005a8c;
}

.main-nav li a {
    display: block;
    color: #fff;
    padding: 10px 15px;
    padding: 0.625rem 0.9375rem;
    text-decoration: none;
    font-family: 'Oswald', Helvetica, Arial, sans-serif;
}

.main-nav ul li:hover>ul {
    display: block;
    background: #2a2a2a;
    z-index: 9999;
}

.main-nav ul ul {
    display: none;
    position: absolute;
    font-size: 12px;
    font-size: 0.75rem;
}

.main-nav ul ul li {
    width: 13em;
    border: none;
}

.main-nav ul ul ul {
    left: 100%;
    top: 0;
}

.footer-nav {
    float: right;
    width: 50%;
}

.footer-nav li {
    float: left;
    position: relative;
    padding-left: 10px;
    margin-left: 10px;
    border-left: 1px solid #424242;
}

.footer-nav li:first-child {
    margin: 0;
    padding: 0;
    border: none;
}

.footer-nav li a {
    display: block;
    color: #fff;
    text-decoration: none;
}

.footer-nav ul {
    float: right;
}

.footer-nav ul li:hover>ul {
    display: block;
    background: #2a2a2a;
    z-index: 9999;
}

.footer-nav ul ul {
    display: none;
    position: absolute;
}

.footer-nav ul ul li {
    width: 10em;
}

.footer-nav ul ul ul {
    left: 100%;
    top: 0;
}

/***** Social Navigation *****/

.social-nav {
    float: right;
    width: 50%;
    overflow: hidden;
}

.social-nav .screen-reader-text {
    position: absolute;
    top: -9999rem;
    left: -9999rem;
}

.social-nav .fa-stack {
    font-size: 16px;
    font-size: 1rem;
}

.social-nav .fa-mh-social {
    color: #fff;
}

.social-nav a {
    color: #333;
}

.social-nav a:hover {
    color: #005a8c;
}

.social-nav ul {
    list-style-type: none;
    margin: 0;
    text-align: right;
}

.social-nav ul li {
    display: inline-block;
}

.social-nav li a .fa-mh-social:before {
    content: '\f09e';
}

.social-nav li a[href*="behance.net"] .fa-mh-social:before {
    content: '\f1b4';
}

.social-nav li a[href*="dribbble.com"] .fa-mh-social:before {
    content: '\f17d';
}

.social-nav li a[href*="facebook.com"] .fa-mh-social:before {
    content: '\f09a';
}

.social-nav li a[href*="flickr.com"] .fa-mh-social:before {
    content: '\f16e';
}

.social-nav li a[href*="plus.google.com"] .fa-mh-social:before {
    content: '\f0d5';
}

.social-nav li a[href*="instagram.com"] .fa-mh-social:before {
    content: '\f16d';
}

.social-nav li a[href*="linkedin.com"] .fa-mh-social:before {
    content: '\f0e1';
}

.social-nav li a[href*="pinterest.com"] .fa-mh-social:before {
    content: '\f0d2';
}

.social-nav li a[href*="reddit.com"] .fa-mh-social:before {
    content: '\f1a1';
}

.social-nav li a[href*="soundcloud.com"] .fa-mh-social:before {
    content: '\f1be';
}

.social-nav li a[href*="tumblr.com"] .fa-mh-social:before {
    content: '\f173';
}

.social-nav li a[href*="twitter.com"] .fa-mh-social:before {
    content: '\f099';
}

.social-nav li a[href*="vimeo.com"] .fa-mh-social:before {
    content: '\f194';
}

.social-nav li a[href*="xing.com"] .fa-mh-social:before {
    content: '\f168';
}

.social-nav li a[href*="youtube.com"] .fa-mh-social:before {
    content: '\f167';
}

/***** SlickNav Mobile Menu Core Style *****/

.slicknav_btn {
    position: relative;
    display: block;
    vertical-align: middle;
    float: right;
    padding: 0.438rem 0.625rem;
    line-height: 1.125rem;
    cursor: pointer;
}

.slicknav_menu .slicknav_menutxt {
    display: block;
    line-height: 1.125rem;
    float: left
}

.slicknav_menu .slicknav_icon {
    float: left;
    margin: 0.188rem 0 0 0.438rem;
}

.slicknav_menu .slicknav_no-text {
    margin: 0;
}

.slicknav_menu .slicknav_icon-bar {
    display: block;
    width: 1.125rem;
    height: 0.125rem;
}

.slicknav_btn .slicknav_icon-bar+.slicknav_icon-bar {
    margin-top: 0.188rem
}

.slicknav_nav {
    clear: both;
}

.slicknav_nav ul,
.slicknav_nav li {
    display: block;
}

.slicknav_nav .slicknav_arrow {
    font-size: 0.8rem;
    margin: 0 0 0 0.4rem;
}

.slicknav_nav .slicknav_item {
    display: block;
    cursor: pointer;
}

.slicknav_nav a {
    display: block;
}

.slicknav_nav .slicknav_item a {
    display: inline;
}

.slicknav_menu:before,
.slicknav_menu:after {
    content: " ";
    display: table;
}

.slicknav_menu:after {
    clear: both;
}

.slicknav_menu {
    *zoom: 1;
    display: none;
}

/***** SlickNav User Default Style *****/

.slicknav_btn {
    padding: 0.625rem 1.25rem;
    text-decoration: none;
}

.slicknav_menu {
    font-size: 13px;
    font-size: 0.8125rem;
}

.slicknav_menu .slicknav_menutxt {
    display: none;
}

.slicknav_menu .slicknav_icon-bar {
    width: 1.5625rem;
    height: 0.25rem;
    background: #fff;
}

.slicknav_menu {
    background: #005a8c;
    border-bottom: 1px solid #fff;
}

.slicknav_nav {
    font-size: 16px;
    font-size: 1rem;
    font-weight: 400;
    color: #fff;
    margin: 0;
    padding: 0;
    margin-bottom: 20px;
}

.slicknav_nav,
.slicknav_nav ul {
    list-style: none;
    overflow: hidden;
}

.slicknav_nav ul {
    padding: 20px 0 0 15px;
    border-top: 1px solid #fff;
}

.slicknav_nav ul ul {
    border: 0;
    padding: 0 0 0 15px;
}

.slicknav_nav .slicknav_item {
    padding: 5px 10px;
    margin: 2px 5px;
}

.slicknav_nav a,
.slicknav_nav a:hover {
    padding: 5px 10px;
    margin: 2px 5px;
    text-decoration: none;
    color: #fff;
}

.slicknav_nav .slicknav_item a {
    padding: 0;
    margin: 0;
}

.slicknav_nav .slicknav_item:hover {
    color: #fff;
}

.slicknav_nav .slicknav_txtnode {
    margin-left: 15px;
}

/***** Breadcrumbs *****/

.breadcrumb {
    font-size: 14px;
    font-size: 0.875rem;
    margin-bottom: 20px;
    text-transform: uppercase;
}

.breadcrumb a,
.breadcrumb .bc-text {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    background: #1f1e1e;
}

.breadcrumb a:hover {
    color: #fff;
    text-decoration: underline;
}

.breadcrumb .bc-home {
    background: #2f8e4c;
}

/***** Posts/Pages *****/

.entry-title,
.page-title {
    font-size: 38px;
    font-size: 2.375rem;
    margin-bottom: 20px;
    text-transform: capitalize;
}

.entry-content {
    font-size: 17px;
    font-size: 1.063rem;
    line-height: 1.4;
}

.entry-content h1,
.entry-content h2,
.entry-content h3,
.entry-content h4,
.entry-content h5,
.entry-content h6,
.entry-content p,
.entry-content blockquote,
.entry-content table,
.entry-content .mh-video-container {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}

.entry-content a {
    font-weight: 600;
}

.entry-content a:hover {
    text-decoration: underline;
}

.entry-thumbnail {
    margin-bottom: 20px;
}

.entry-meta {
    font-size: 12px;
    font-size: 0.75rem;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.entry-meta a:hover {
    text-decoration: underline;
}

.entry-meta .entry-meta-author,
.entry-meta a {
    color: #005a8c;
    font-weight: 700;
}

.entry-meta-cats,
.entry-meta-author {
    margin-right: 10px;
}

.entry-tags {
    display: block;
    overflow: hidden;
    font-size: 15px;
    font-size: 0.9375rem;
}

.entry-tags span {
    font-weight: 900;
    margin-right: 15px;
}

.entry-tags a {
    display: inline-block;
    margin: 0 15px 5px 0;
    text-transform: capitalize;
}

.entry-tags a:hover {
    text-decoration: underline;
    color: #1f1e1e;
}

/***** Front Page Template *****/

.home-columns .sb-widget .content-list:first-child {
    margin-top: 0;
}

.home-columns .mh-fp-grid-widget {
    margin-top: -10px;
}

.home-columns .mh-fp-grid-widget,
.home-columns .mh-fp-large-widget,
.home-columns .mh-fp-list-widget {
    margin-bottom: -20px;
}

/***** Sitemap Template *****/

.sitemap-list {
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
}

/***** Loop / Archives / Search Results *****/

.content-lead-title {
    font-size: 38px;
    font-size: 2.375rem;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.content-list-title {
    font-size: 24px;
    font-size: 1.5rem;
    margin-bottom: 10px;
    text-transform: capitalize;
}

.content-thumb {
    margin-bottom: 5px;
}

.content-grid {
    margin-top: 10px;
    margin-bottom: 10px;
}

.content-grid-title {
    font-size: 16px;
    font-size: 1.0rem;
}

.content-grid-excerpt,
.content-grid-separator {
    display: none;
}

.category .content-grid .entry-meta {
    display: none;
}

.content-list {
    margin-top: 30px;
}

.archive-list .content-list:first-child {
    margin-top: 10px;
}

.content-list-thumb {
    float: left;
    max-width: 260px;
    margin: 0 20px 10px 0;
}

.content-list-excerpt {
    overflow: hidden;
}

.not-found-widgets {
    margin-top: 20px;
}

.sticky {}

/***** Author Box *****/

.author-box {
    padding: 20px;
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
    background: #efefef;
}

.author-box-avatar {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.author-box-name {
    font-size: 18px;
    font-size: 1.125rem;
    margin-bottom: 10px;
}

.author-box-desc {
    font-size: 15px;
    font-size: 0.9375rem;
    overflow: hidden;
}

/***** Related Content *****/

.related-content {
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
}

.related-content .content-grid {
    margin-top: 0;
    margin-bottom: 0;
}

/***** Lists *****/

.entry-content ul,
.commentlist ul {
    list-style: square;
}

.entry-content ol,
.commentlist ol {
    list-style: decimal;
}

.entry-content ul,
.commentlist ul,
.entry-content ol,
.commentlist ol {
    margin: 0 0 30px 40px;
    margin: 0 0 1.875rem 2.5rem;
}

.entry-content ul ul,
.commentlist ul ul,
.entry-content ol ol,
.commentlist ol ol {
    margin: 0 0 0 40px;
    margin: 0 0 0 2.5rem;
}

dl {
    margin: 0 0 30px 40px;
    margin: 0 0 1.875rem 2.5rem;
}

dt,
dd {
    display: list-item;
}

dt {
    list-style-type: square;
    font-weight: bold;
}

dd {
    list-style-type: circle;
    margin-left: 30px;
    margin-left: 1.875rem;
}

select {
    max-width: 100%;
}

/***** Comments *****/

.comment-section-title {
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 400;
    color: #fff;
    background: #ccdee8;
    padding: 0;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    text-transform: uppercase;
    overflow: hidden;
}

.comment-section-title span {
    padding: 20px;
    background: #005a8c;
}

.comment-section-title .comment-count {
    float: left;
    color: #fff;
}

.comment-section-title .comment-count-more {
    float: left;
    color: #1f1e1e;
    background: transparent;
}

.commentlist {
    padding: 20px 20px 5px 20px;
    margin-bottom: 20px;
    list-style: none;
    background: #efefef;
}

.commentlist .depth-1 {
    padding: 20px 20px 10px 20px;
    margin-bottom: 20px;
    border-bottom: 5px solid #ccdee8;
    background: #fff;
}

.commentlist .children {
    list-style: none;
    margin: 0 0 10px 0;
}

.commentlist .children li {
    padding: 0 20px;
    background: #fafafa;
    margin-top: 20px;
}

.commentlist .children .depth-2 {
    padding: 20px;
}

.commentlist .comment {
    padding-top: 20px;
    padding-top: 1.25rem;
}

.commentlist .comment .vcard {
    position: relative;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}

.commentlist .comment .avatar {
    width: 70px;
    height: 70px;
    float: left;
    margin-right: 20px;
}

.commentlist h1,
.commentlist h2,
.commentlist h3,
.commentlist h4,
.commentlist h5,
.commentlist h6 {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}

.comment-text p,
.comment-text blockquote {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}

.comment-text blockquote p:last-child {
    margin: 0;
}

.commentlist .bypostauthor .avatar {
    border: 5px solid #ccdee8;
}

.comment-author {
    font-weight: 700;
}

.comment-info {
    color: #005a8c;
    margin: 20px 0px;
    margin: 1.25rem 0rem;
}

.comment-reply .comment-reply-link,
.comment-reply .comment-edit-link {
    font-size: 13px;
    font-size: 0.8125rem;
    background: #ccc;
    color: #fff;
    padding: 5px 10px;
}

.pinglist {
    background: #efefef;
    padding: 20px;
    margin-bottom: 20px;
    list-style: none;
}

.pinglist .pings:first-child {
    border-top: 1px dotted #cdcdcd;
}

.pinglist .pings {
    line-height: 2.5;
    padding: 5px 0;
    padding: 0.3125rem 0;
    border-bottom: 1px dotted #cdcdcd;
}

.pinglist .fa-link {
    margin-right: 10px;
    margin-right: 0.625rem;
}

.no-comments {
    padding: 10px;
    padding: 0.625rem;
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
    background: #efefef;
}

/***** Comment Form *****/

#respond {
    padding: 20px 20px 10px;
    padding: 1.25rem 1.25rem 0.625rem;
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
    background: #efefef;
}

#respond h3 {
    margin-bottom: 20px;
    margin-bottom: 1.25rem;
}

#commentform p {
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
}

#cancel-comment-reply-link {
    margin-left: 20px;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 400;
    background: #ccc;
    padding: 5px;
    padding: 0.3125rem;
    color: #fff;
}

#cancel-comment-reply-link:hover {
    background: #005a8c;
}

.required {
    color: #be2844;
}

/***** Forms *****/

input {
    font-size: 12px;
    font-size: 0.75rem;
    padding: 5px;
    padding: 0.3125rem;
    border: 1px solid #d7d8d8;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    transition: all 0.25s ease-in-out;
}

input[type=text],
input[type=email],
input[type=tel],
input[type=url] {
    width: 60%;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=tel]:hover,
input[type=url]:hover,
textarea:hover {
    border: 1px solid #005a8c;
}

input[type=submit] {
    color: #fff;
    padding: 14px;
    cursor: pointer;
    background: #005a8c;
    display: inline-block;
    border: 0;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

input[type=submit]:hover {
    background: #1f1e1e;
    color: #fff;
    border: 0;
    padding: 14px;
}

textarea {
    width: 96%;
    line-height: 1.5;
    padding: 5px;
    padding: 0.3125rem;
    border: 1px solid #d7d8d8;
}

/***** Pagination *****/

.pagination {
    margin-bottom: 20px;
    overflow: hidden;
}

.pagination .page-numbers {
    display: inline-block;
    padding: 10px 20px;
    background: #efefef;
}

.pagination .current {
    color: #fff;
    background: #005a8c;
}

.pagination a.page-numbers:hover,
.dots:hover {
    background: #ccdee8;
}

.pagination .pagelink {
    display: inline-block;
    color: #fff;
    padding: 10px 20px;
    background: #005a8c;
}

.pagination a .pagelink {
    color: #000;
    font-weight: 400;
    background: #efefef;
}

.pagination a:hover .pagelink {
    color: #005a8c;
    background: #ccdee8;
}

.post-nav-wrap {
    text-align: center;
    margin: 20px auto 40px;
}

.post-nav-wrap li {
    display: inline-block;
    font-weight: 900;
    margin: 0 20px;
}

.post-nav-wrap li .fa {
    margin: 0 10px;
}

/***** Images / Video *****/

img {
    max-width: 100%;
    width: auto \9;
    /* ie8 */
    height: auto;
    vertical-align: bottom;
}

iframe,
embed,
object,
video {
    max-width: 100%;
}

.alignnone {
    display: block;
    margin: 20px 0;
    margin: 1.25rem 0;
}

.aligncenter {
    display: block;
    margin: 20px auto 20px;
    margin: 1.25rem auto 1.25rem;
}

.alignleft {
    display: inline;
    float: left;
    margin: 5px 20px 20px 0;
    margin: 0.3125rem 1.25rem 1.25rem 0;
}

.alignright {
    display: inline;
    float: right;
    margin: 5px 0 20px 20px;
    margin: 0.3125rem 0 1.25rem 1.25rem;
}

.wp-caption {
    max-width: 100%;
}

.wp-caption-text {
    font-size: 14px;
    font-size: 0.875rem;
    color: #454545;
    line-height: 1.4;
    margin: 5px 0 20px;
    margin: 0.3125rem 0 1.25rem;
    display: block;
}

.alignnone .wp-caption-text,
.aligncenter .wp-caption-text,
.alignleft .wp-caption-text,
.alignright .wp-caption-text {
    margin-bottom: 0;
}

/***** Gallery *****/

.gallery {
    margin-bottom: 20px;
}

.gallery-item {
    float: left;
    margin: 0 4px 4px 0;
    overflow: hidden;
    position: relative;
}

.gallery-columns-1 .gallery-item {
    max-width: 100%;
}

.gallery-columns-2 .gallery-item {
    max-width: 48%;
    max-width: -webkit-calc(50% - 4px);
    max-width: calc(50% - 4px);
}

.gallery-columns-3 .gallery-item {
    max-width: 32%;
    max-width: -webkit-calc(33.3% - 4px);
    max-width: calc(33.3% - 4px);
}

.gallery-columns-4 .gallery-item {
    max-width: 23%;
    max-width: -webkit-calc(25% - 4px);
    max-width: calc(25% - 4px);
}

.gallery-columns-5 .gallery-item {
    max-width: 19%;
    max-width: -webkit-calc(20% - 4px);
    max-width: calc(20% - 4px);
}

.gallery-columns-6 .gallery-item {
    max-width: 15%;
    max-width: -webkit-calc(16.7% - 4px);
    max-width: calc(16.7% - 4px);
}

.gallery-columns-7 .gallery-item {
    max-width: 13%;
    max-width: -webkit-calc(14.28% - 4px);
    max-width: calc(14.28% - 4px);
}

.gallery-columns-8 .gallery-item {
    max-width: 11%;
    max-width: -webkit-calc(12.5% - 4px);
    max-width: calc(12.5% - 4px);
}

.gallery-columns-9 .gallery-item {
    max-width: 9%;
    max-width: -webkit-calc(11.1% - 4px);
    max-width: calc(11.1% - 4px);
}

.gallery-columns-1 .gallery-item:nth-of-type(1n),
.gallery-columns-2 .gallery-item:nth-of-type(2n),
.gallery-columns-3 .gallery-item:nth-of-type(3n),
.gallery-columns-4 .gallery-item:nth-of-type(4n),
.gallery-columns-5 .gallery-item:nth-of-type(5n),
.gallery-columns-6 .gallery-item:nth-of-type(6n),
.gallery-columns-7 .gallery-item:nth-of-type(7n),
.gallery-columns-8 .gallery-item:nth-of-type(8n),
.gallery-columns-9 .gallery-item:nth-of-type(9n) {
    margin-right: 0;
}

.gallery-columns-1.gallery-size-medium figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-1.gallery-size-thumbnail figure.gallery-item:nth-of-type(1n+1),
.gallery-columns-2.gallery-size-thumbnail figure.gallery-item:nth-of-type(2n+1),
.gallery-columns-3.gallery-size-thumbnail figure.gallery-item:nth-of-type(3n+1) {
    clear: left;
}

.gallery-caption {
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #fff;
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1.5;
    margin: 0;
    max-height: 50%;
    opacity: 0;
    padding: 6px 8px;
    position: absolute;
    bottom: 0;
    left: 0;
    text-align: left;
    width: 100%;
}

.gallery-caption:before {
    content: "";
    width: 100%;
    height: 100%;
    min-height: 49px;
    position: absolute;
    top: 0;
    left: 0;
}

.gallery-item:hover .gallery-caption {
    opacity: 1;
}

.gallery-columns-7 .gallery-caption,
.gallery-columns-8 .gallery-caption,
.gallery-columns-9 .gallery-caption {
    display: none;
}

/***** Tables *****/

table {
    width: 100%;
}

table th {
    color: #fff;
    background: #005a8c;
    padding: 10px;
    padding: 0.625rem;
}

table tr:nth-child(odd) {
    background-color: #eae9e8;
}

table tr:nth-child(even) {
    background-color: #fff;
}

table td {
    font-size: 12px;
    font-size: 0.75rem;
    border: 1px solid #ebebeb;
    border-top: 0;
    text-align: center;
    vertical-align: middle;
    padding: 10px;
    padding: 0.625rem;
}

.mh-footer table th {
    background: #1f1e1e;
}

.mh-footer table tr:nth-child(odd) {
    background-color: #464646;
}

.mh-footer table tr:nth-child(even) {
    color: #000;
}

.mh-footer table td {
    border: 1px solid #1f1e1e;
}

/***** Search *****/

.header-search .search-form {
    float: right;
}

.search-form input {
    min-width: 200px;
    font-size: 11px;
    line-height: 1;
    color: #1f1e1e;
    text-transform: uppercase;
}

.search-form input:hover {
    min-width: 240px;
}

.search-form .search-submit {
    display: none;
}

.search-form .screen-reader-text {
    position: absolute;
    left: -9999px;
    overflow: hidden;
}

.search-form .search-field {
    background: #fff;
    border: 1px solid #cdcdcd;
    cursor: pointer;
    margin: 0;
    padding: 10px;
    position: relative;
    -webkit-appearance: none;
    -webkit-border-radius: 0;
    border-radius: 0;
}

.search-form .search-field:active,
.search-form .search-field:focus {
    cursor: text;
}

.sb-widget .search-form {
    display: block;
    margin: 0 auto;
    padding: 5%;
    background: #efefef;
}

.sb-widget .search-form .search-field {
    display: block;
    margin: 0 auto;
    width: 90%;
}

.sb-widget .search-form .search-field:hover {
    min-width: 200px;
}

.footer-widgets .search-form input {
    width: 100%;
}

/***** Contact Form 7 *****/

.wpcf7-form {
    font-size: 14px;
    font-size: 0.875rem;
    padding: 20px;
    padding: 1.25rem;
    background: #efefef;
}

.wpcf7-form input,
.wpcf7-form textarea {
    font-size: 14px;
    font-size: 0.875rem;
}

.wpcf7-form input[type="submit"] {
    min-width: 100px;
}

.wpcf7-form p {
    margin-bottom: 10px;
    margin-bottom: 0.625rem;
}

.wpcf7-response-output {
    background: #fff;
}

/***** Buttons *****/

.button {
    display: block;
}

.button span {
    font-size: 14px;
    font-size: 0.875rem;
    color: #fff;
    background: #005a8c;
    padding: 15px;
    margin: 15px 0 10px 0;
    text-transform: uppercase;
    display: inline-block;
}

.button span:hover {
    background: #1f1e1e;
}

.ord_button_red {
    background-color: #D61C1C;
    color: #ffffff !important;
    display: inline-block;
    padding: 10px 30px;
    font-size: 25px;
    box-shadow: 1px 3px 5px #999999;
    text-decoration: none;
    margin: 20px 0px 30px;
    line-height: 27px;
}

.ord_button_red:hover {
    background-color: #E94A4A;
    box-shadow: 1px 2px 3px #999999;
    text-decoration: none;
    color: #fff !important;
}

/***** Social Buttons *****/

.mh-share-buttons {
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
    padding: 20px;
    background: #f0f0f0;
    overflow: hidden;
}

.mh-share-buttons a,
.mh-share-buttons a:hover {
    color: #fff;
}

.mh-share-buttons .fa {
    display: inline-block;
    font-size: 1.25em;
    margin-right: 10px;
}

.mh-share-button {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 12px;
    font-size: 0.75rem;
    padding: 10px 0;
    text-align: center;
    text-transform: uppercase;
}

.mh-share-button:hover {
    opacity: 0.7;
}

.mh-facebook span {
    background: #3e64ad;
}

.mh-twitter span {
    background: #6aadd1;
}

.mh-pinterest span {
    background: #de010d;
}

.mh-googleplus span {
    background: #cd3627;
}

/***** Footer *****/

.mh-footer {
    color: #fff;
    background: #1f1e1e;
    overflow: hidden;
}

.mh-footer a {
    color: #fff;
}

.footer-ad-wrap {
    background: #333;
    padding: 40px;
    text-align: center;
    display: block;
    overflow: hidden;
}

.footer-bottom {
    font-size: 12px;
    font-size: 0.75rem;
    padding: 10px 0;
    padding: 0.625rem 0;
    text-transform: uppercase;
    background: #333;
}

.copyright-wrap {
    float: left;
    width: 50%;
    overflow: hidden;
}

.copyright-wrap a:hover {
    text-decoration: underline;
}

/***** Sidebars/Widgets *****/

.sb-widget {
    margin-bottom: 30px;
    margin-bottom: 1.875rem;
    overflow: hidden;
}

.widget-title {
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: 400;
    color: #fff;
    background: #ccdee8;
    padding: 20px 0;
    margin-bottom: 20px;
    text-transform: uppercase;
    overflow: hidden;
}

.widget-title a,
.widget-title a:hover {
    color: #fff;
}

.widget-title span {
    padding: 20px;
    background: #1f1e1e;
}

.widget-list li {
    list-style-type: none;
    display: block;
}

.widget-list>li {
    padding: 10px 0;
    border-bottom: 1px dotted #dcdcdc;
}

.widget-list li:hover {
    background: #fdfdfd;
    padding-left: 10px;
}

.widget-list .children li {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px dotted #dcdcdc;
}

.footer-widgets .widget-list li:hover {
    background: none;
}

.footer-widgets {
    font-size: 15px;
    font-size: 0.9375rem;
    margin: 30px 0;
}

.footer-widgets .widget-title {
    font-size: 16px;
    font-size: 1rem;
    padding: 10px;
    background: #464646;
}

.footer-widget {
    margin: 20px;
    overflow: hidden;
}

.footer-1,
.footer-2,
.footer-3 {
    background: #333;
}

.banner-pic {
    display: block;
    float: none;
    width: 100%;
    max-width: 250px;
    margin: 0 auto;
}

.banner {
    padding: 11px 0 42px;
    border: 1px solid #ccc;
    border-top: none;
    text-align: center;
}

.banner h1 {
    font-size: 75px;
    margin: 0.4em 0px;
}

.banner p {
    color: #888;
    font-weight: bold;
    margin-bottom: 40px;
}

.promotion_btn_green {
    border: none;
    border-bottom: 3px solid #00B91E;
    background: #3DD055;
    border-radius: 5px;
    padding: 11px 36px;
    font-size: 17px;
    font-weight: 600;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.d_in-block {
    display: inline-block;
}

.promotion_btn_green:hover {
    color: #fff;
    background: #27B140;
    text-decoration: none;
}

/***** MH Custom Posts Widget *****/

.mh-cp-widget .mh-separator:last-child {
    margin-bottom: 0;
}

.cp-small {
    padding-bottom: 4px;
}

.cp-thumb-xl {
    margin-bottom: 5px;
}

.cp-thumb-small {
    float: left;
    max-width: 120px;
    margin: 0 20px 0 0;
}

.cp-title-xl {
    font-size: 36px;
    font-size: 2.25rem;
}

.cp-title-small {
    font-size: 16px;
    font-size: 1.0rem;
    overflow: hidden;
}

.cp-excerpt-xl {
    margin-top: 20px;
}

/***** MH YouTube Video Widget *****/

.mh-video-widget {
    margin-top: 10px;
}

.mh-video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.mh-video-container iframe,
.mh-video-container object,
.mh-video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

/***** MH Authors & MH Comments Widget *****/

.sb-widget .uw-wrap {
    padding: 15px 0px;
    padding: 0.9375rem 0rem;
    border-bottom: 1px dotted #ebebeb;
}

.user-widget li:first-child {
    padding-top: 0;
}

.uw-avatar {
    float: left;
    margin-right: 10px;
    margin-right: 0.625rem;
}

.uw-text {
    font-size: 18px;
    font-size: 1.125rem;
}

.uw-data {
    font-size: 14px;
    font-size: 0.875rem;
    color: #979797;
}

/***** Default WordPress Widgets *****/

.sb-widget ul>.cat-item,
.sb-widget ul>.menu-item,
.sb-widget ul>.page_item,
.footer-widgets ul>.cat-item,
.footer-widgets ul>.menu-item,
.footer-widgets ul>.page_item {
    padding: 10px 0;
    border-bottom: 1px dotted #dcdcdc;
}

.sb-widget ul .cat-item:hover,
.sb-widget ul .menu-item:hover,
.sb-widget ul .page_item:hover,
.footer-widgets ul .cat-item:hover,
.footer-widgets ul .menu-item:hover,
.footer-widgets ul .page_item:hover {
    background: #fdfdfd;
    padding-left: 10px;
}

.sb-widget ul .children .cat-item,
.sb-widget ul .sub-menu .menu-item,
.sb-widget ul .children .page_item,
.footer-widgets ul .children .cat-item,
.footer-widgets ul .sub-menu .menu-item,
.footer-widgets ul .children .page_item {
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 0;
    border-top: 1px dotted #dcdcdc;
    border-bottom: none;
}

.footer-widgets ul .cat-item:hover,
.footer-widgets ul .menu-item:hover,
.footer-widgets ul .page_item:hover {
    background: none;
}

.footer-widgets .textwidget {
    padding: 0 5px;
    padding: 0 0.3125rem;
}

#wp-calendar caption {
    text-align: left;
    padding: 10px;
    padding: 0.625rem;
    background: #f7f7f7;
}

#wp-calendar th,
#wp-calendar td {
    padding: 5px 10px;
    padding: 0.3125rem 0.625rem;
    text-align: center;
}

#wp-calendar th {
    font-weight: 300;
}

#wp-calendar #prev {
    text-align: left;
}

.footer-widgets #wp-calendar caption {
    background-color: #464646;
}

/***** Advertisements *****/

.header-ad .textwidget {
    text-align: right;
    overflow: hidden;
}

.header-ad img {
    margin: 0;
    padding: 0;
}

.post-ad,
.ad-spot {
    padding: 18px;
    background: #efefef;
}

.post-ad .textwidget,
.ad-spot {
    text-align: center;
    overflow: hidden;
}

.footer-ad-wrap .textwidget {
    overflow: hidden;
}

.quasar {
    color: blue;
    text-decoration: none;
    font-weight: bold;
}

.menu .burg {
    display: none;
}

/***** Media Queries *****/

@media only screen and (max-width: 980px) {
    #mh-wrapper,
    .wrapper-inner {
        max-width: 777px;
    }
    .header-ad .textwidget {
        text-align: center;
        margin-top: 20px;
    }
    .logo-wrap {
        text-align: center;
    }
    .mh-right-sb #main-content,
    .mh-left-sb #main-content,
    .mh-col {
        margin: 0;
    }
    #main-content,
    .mh-sidebar,
    .home-sidebar,
    .mh-1-2,
    .mh-2-3,
    .mh-1-3,
    .mh-3-4,
    .mh-1-4 {
        width: 100%;
    }
    .home-2,
    .home-3 {
        width: 48.07%;
    }
    .home-3 {
        margin-left: 3.86%;
    }
    .mh-share-buttons .mh-col {
        width: 23.125%;
        margin-left: 2.5%;
    }
    .mh-share-buttons .mh-col:first-child {
        margin: 0;
    }
    .content-grid {
        width: 23.125%;
        margin: 10px 0 10px 2.5%;
    }
    .news-ticker {
        width: 65.83%;
    }
    .header-search {
        width: 31.66%;
    }
    .search-form input:hover {
        min-width: 200px;
    }
    .home-sidebar .cp-thumb-xl,
    .mh-sidebar .cp-thumb-xl {
        text-align: center;
        background: #efefef;
    }
    .contact-page .entry-content {
        margin-bottom: 30px;
        margin-bottom: 1.875rem;
    }
    .footer-1,
    .footer-2 {
        margin-bottom: 20px;
    }
    .js .main-nav {
        display: none;
    }
    .js .slicknav_menu {
        display: block;
    }
}

@media only screen and (max-width: 768px) {
    .hidden-sm {
        display: none;
    }
    .news-ticker {
        display: none;
    }
    .header-search {
        float: none;
        width: 100%;
    }
    .header-search .search-form {
        float: none;
        width: 100%;
        text-align: center;
    }
    .header-search .search-form input,
    .entry-content .search-form input {
        width: 90%;
        max-width: 300px;
    }
    .search-form {
        width: 90%;
    }
    .footer-widgets .search-form {
        width: 100%;
    }
    .home-2,
    .home-3 {
        width: 100%;
        margin: 0;
    }
    .mh-cp-widget .cp-thumb-xl {
        text-align: center;
        background: #efefef;
    }
    .category .content-grid .entry-meta {
        display: block;
    }
    .content-grid {
        float: none;
        width: 100%;
        margin: 25px 0 20px;
    }
    .content-grid-separator {
        display: block;
    }
    .content-grid-separator,
    .content-list-separator {
        padding: 0;
    }
    .content-grid-title {
        font-size: 24px;
        font-size: 1.5rem;
    }
    .content-grid-thumb,
    .content-list-thumb {
        text-align: center;
        background: #efefef;
    }
    .content-list-thumb {
        float: none;
        width: 100%;
        max-width: 100%;
    }
    .content-list-thumb img {
        max-width: 180px;
    }
    .content-list-excerpt,
    .content-list-header .entry-meta-date {
        display: none;
    }
    .mh-fp-grid-widget .mh-group .content-grid:first-child,
    .archive-grid .content-grid:first-child {
        margin: 5px 0 20px;
    }
    .comment-section-title .comment-count-more {
        display: none;
    }
    .commentlist ul,
    .commentlist ol,
    dl {
        margin: 0 0 30px 20px;
        margin: 0 0 1.875rem 20px;
    }
    .commentlist ul ul,
    .commentlist ol ol {
        margin: 0;
    }
    .commentlist .children li,
    .commentlist .children .depth-2 {
        padding: 0;
        background: #fff;
    }
    .footer-nav,
    .copyright-wrap {
        float: none;
        width: 100%;
    }
    .footer-nav ul {
        float: none;
        display: table;
        margin: 0 auto 10px;
    }
    .copyright {
        text-align: center;
    }
    .footer-ad-wrap {
        display: none;
    }
    .mh-footer .mh-section {
        display: none;
    }
}

@media only screen and (max-width: 580px) {
    .entry-content ul,
    .commentlist ul,
    .entry-content ol,
    .commentlist ol {
        margin: 0px;
    }
    #mh-wrapper,
    .wrapper-inner {
        width: 85%;
    }
    .menu li {
        display: none;
    }
    .menu .burg {
        display: block;
        margin: 0 auto;
        width: 30px;
    }
    .logo-title {
        font-size: 32px;
        font-size: 2.0rem;
    }
    .header-nav,
    .social-nav {
        float: none;
        width: 100%;
        margin: 0;
    }
    .header-nav ul {
        display: table;
        margin: 0 auto;
    }
    .social-nav ul {
        text-align: center;
    }
    .mh-share-buttons .mh-col {
        float: none;
        width: 100%;
        margin: 10px 0 0 0;
    }
    .author-box {
        text-align: center;
    }
    .author-box-avatar {
        float: none;
        width: 100%;
        margin: 0 0 20px;
    }
    .commentlist .comment .avatar {
        float: none;
        display: block;
        margin: 0 0 10px;
    }
    .commentlist .comment .vcard {
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 420px) {
    #mh-wrapper,
    .wrapper-inner {
        min-width: 160px;
    }
    .header-ad .textwidget {
        margin-top: 10px;
    }
    .content-thumb {
        text-align: center;
    }
    .logo-title {
        font-size: 28px;
        font-size: 1.75rem;
    }
    .logo-tagline {
        font-size: 12px;
        font-size: 0.75rem;
        margin-bottom: 10px;
    }
    .sb-widget .search-form .search-field {
        width: 86%;
    }
    .post-ad .textwidget,
    .ad-spot {
        padding: 0;
        background: none;
    }
    .footer-nav li {
        margin-left: 5px
    }
}

.cta .cta-ul>li {
    position: relative;
    margin: 0.818em 0;
    list-style-type: none;
}

.cta .cta-ul {
    margin-bottom: 1.618em;
    counter-reset: list;
}

.cta {
    padding: 1.236em 5px;
    position: relative;
    margin: 1.5em 0;
    display: inline-block;
}

.cta .cta-ul li ol li:before {
    display: none;
}

.cta .cta-ul li ol {
    list-style: upper-roman;
}

.cta h3 {
    position: absolute;
    left: -1px;
    top: -15px;
    background: white;
    padding: 0 20px 20px 0;
}

.big-button {
    font-size: 1.125em;
    width: 100%;
    text-align: center;
}

.cta-ul li img {
    padding: 10px 0px;
}

.button {
    background: #319C4D;
    background: -moz-linear-gradient(top, #319C4D 0%, #198536 100%) !important;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #319C4D), color-stop(100%, #198536)) !important;
    background: -webkit-linear-gradient(top, #319C4D 0%, #198536 100%) !important;
    background: -o-linear-gradient(top, #319C4D 0%, #198536 100%) !important;
    background: -ms-linear-gradient(top, #319C4D 0%, #198536 100%) !important;
    background: linear-gradient(to bottom, #319C4D 0%, #198536 100%) !important;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#000000', GradientType=0) !important;
    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    -ms-box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.2);
    color: white;
    border: 1px solid #004D14;
    border-radius: 3px;
    padding: 0.7em 1.4em;
    display: inline-block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    font-weight: bold;
}

.timer {
    margin-top: 0.618em;
    color: #B51800;
    width: auto;
    text-align: center;
}

.red {
    color: red;
    font-weight: 600;
}

@media all and (max-width: 320px) {
    .content-thumb img {
        width: 100%;
    }
}

.fb_box {
    float: left;
    width: 92%;
    padding: 10px 25px 10px 5px;
    margin: 0px 0 0 0;
    display: inline;
    border-top: 1px solid #ccc;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}

.fb_box a,
.fb_box_reply a {
    text-decoration: none;
}

.fb_box a:hover,
.fb_box_reply a:hover {
    text-decoration: underline;
    color: #3B5998;
}

.fb_box_reply {
    float: left;
    width: 85%;
    margin-left: 7%;
    padding: 10px 25px 10px 5px;
    display: inline;
    border-top: 1px solid #ccc;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}

.fb_box_com {
    float: left;
    width: 65%;
    padding: 10px 25px 0px 5px;
    margin: 0px 0 0 0;
    display: inline;
    border-top: 1px solid #ccc;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    background-color: rgba(190, 190, 190, 0.2);
    -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33bebebe, endColorstr=#33bebebe);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33bebebe, endColorstr=#33bebebe);
    zoom: 1;
    border: solid #E9E9E9;
    border-width: 1px 0;
}

.comment_top_box {
    float: left;
    width: 100%;
    padding-bottom: 1px;
}

.comment_top_box .comment_img {
    float: left;
    width: 50px;
}

.city {
    color: gray;
    font-size: 11px;
    line-height: 11px;
    font-weight: normal;
    cursor: pointer;
    margin-left: 10px;
}

.city:hover {
    text-decoration: underline;
}

.comment_top_box .comment_detail {
    float: left;
    padding: 0 0 0 10px;
    width: 75%;
}

.fb_box_reply .comment_top_box .comment_detail {
    float: left;
    padding: 0 0 0 10px;
}

.comment_top_box .comment_detail .name {
    float: left;
    width: 100%;
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 15px;
    font-weight: bold;
    cursor: pointer;
    color: #3B5998;
}

.comment_top_box .comment_detail .date {
    float: left;
    width: 100%;
    font-size: 11px;
    color: #1A1A1A;
    line-height: 14px;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}

.fb_box_reply.comment_top_box .comment_detail .date {
    float: left;
    width: 400px;
    font-size: 11px;
    color: #1A1A1A;
    line-height: 14px;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
}

.reply,
.reply2,
.reply3 {
    font-size: 11px;
    color: #3B5998;
    margin: 4px 3px 0px
}

.reply:hover {
    cursor: pointer;
    text-decoration: underline;
}

.gray {
    color: gray
}

.submit_box {
    background: none;
    border: 0;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    font-weight: bold;
    line-height: 13px;
    margin: 10px;
    padding: 4px;
    white-space: nowrap;
    background-color: #5B74A8;
    border-color: #29447E #29447E #1A356E;
    float: right;
    margin-right: 60px;
}

.message_box {
    overflow: hidden;
    resize: none;
    font-family: 'lucida grande', tahoma, verdana, arial, sans-serif;
    font-size: 11px;
    border-width: 0;
    border: 1px solid;
    color: #000000;
    border-color: #899BC5;
    padding: 3px;
    margin-left: 10px;
    width: 86%;
}

.tipped {
    color: #BBB;
}

textarea {
    overflow: scroll;
    word-wrap: normal;
    overflow-y: hidden;
}

/* Accesspress social shares - frontend css */

.clearfix:after,
.clearfix:before {
    display: table;
    content: ""
}

.clearfix:after,
.clearfix:before {
    clear: both;
}

.clearfix {
    *zoom: 1
}

.apss-social-share a:hover,
.apss-social-share a:focus {
    color: #636363;
}

.entry-content .apss-social-share a {
    border-bottom: none;
}

.entry-content .apss-social-share a {
    text-decoration: none;
}

.apss-theme-6 .apss-single-icon a::before .entry-content .apss-social-share a:hover {
    color: #fff;
}

.apss-social-share {
    font-family: 'Open Sans', sans-serif;
}

.apss-social-share a:hover {
    text-decoration: none;
}

.apss-total-share-count {
    display: inline-block;
    vertical-align: top;
    margin-top: 4px;
}

.apss-count-number {
    font-size: 28px;
    display: inline-block;
    vertical-align: top;
}

.apss-total-shares {
    display: inline-block;
    font-size: 13px;
    vertical-align: middle;
    margin-top: 11px;
}

.apss-total-text {
    display: block;
    line-height: 9px;
}

/***********************************theme1 css********************************************************/

.apss-theme-1 .apss-social-share {
    font-family: 'MyriadPro-Regular';
}

.apss-theme-1 .apss-social-text {
    display: none;
}

.apss-theme-1 .apss-share {
    color: #636363;
    font-size: 14px;
    margin: 0 0 0 7px;
}

.apss-theme-1 .apss-single-icon .apss-icon-block {
    font-size: 18px;
    border: 1px solid #dcdcdc;
    border-radius: 5px;
    padding: 1px 4px;
    position: relative;
    background-color: #f7f7f7;
    width: 86px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.apss-theme-1 .apss-icon-block:before {
    position: absolute;
    height: 2px;
    width: 100%;
    content: "";
    left: 0;
    top: -1px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.apss-theme-1 .apss-single-icon:hover .apss-icon-block:before {
    width: 0;
}

.apss-theme-1 .apss-single-icon a {
    position: relative;
    display: block;
    float: left;
    margin: 10px;
}

.apss-theme-1 .count {
    background-color: #f7f7f7;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    color: #666666;
    font-size: 14px;
    /* height: 20px;*/
    padding: 3px 5px;
    line-height: 1;
    position: absolute;
    text-align: center;
    top: 0px;
    min-width: 60px;
    left: 50%;
    margin-left: -30px;
    opacity: 0;
    filter: alpha(opacity=0);
    /*ie8*/
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.apss-theme-1 .apss-single-icon a:hover .count {
    opacity: 1;
    filter: alpha(opacity=100);
    /*ie8*/
    top: -32px;
}

.apss-theme-1 .count:after {
    background: url(front.css) no-repeat;
    width: 20px;
    height: 10px;
    bottom: -10px;
    content: "";
    left: 50%;
    margin-left: -10px;
    position: absolute;
}

.entry-content .apss-social-share.apss-theme-1 a:hover,
.entry-content .apss-social-share.apss-theme-1 a:focus {
    border: none;
}

.apss-theme-1 .apss-icon-block .fa {
    min-width: 22px;
}

.apss-icon-block .fa {
    text-align: center;
    vertical-align: middle;
}

.apss-theme-1 .apss-facebook .fa {
    color: #3b5998;
}

.apss-theme-1 .apss-facebook .apss-icon-block:before {
    border-top: 2px solid #3b5998;
}

.apss-theme-1 .apss-twitter .fa {
    color: #1dcaff;
}

.apss-theme-1 .apss-twitter .apss-icon-block:before {
    border-top: 2px solid #1dcaff;
}

.apss-theme-1 .apss-google-plus .fa {
    color: #dd4b39;
}

.apss-theme-1 .apss-google-plus .apss-icon-block:before {
    border-top: 2px solid #dd4b39;
}

.apss-theme-1 .apss-pinterest .fa {
    color: #C92228;
}

.apss-theme-1 .apss-pinterest .apss-icon-block:before {
    border-top: 2px solid #C92228;
}

.apss-theme-1 .apss-linkedin .fa {
    color: #3f729b;
}

.apss-theme-1 .apss-linkedin .apss-icon-block:before {
    border-top: 2px solid #3f729b;
}

.apss-theme-1 .apss-digg .fa {
    color: #2169a8;
}

.apss-theme-1 .apss-digg .apss-icon-block:before {
    border-top: 2px solid #2169a8;
}

.apss-theme-1 .apss-print .fa {
    color: #5e5959;
}

.apss-theme-1 .apss-print .apss-icon-block:before {
    border-top: 2px solid #5e5959;
}

.apss-theme-1 .apss-email .fa {
    color: #8f8f8f;
}

.apss-theme-1 .apss-email .apss-icon-block:before {
    border-top: 2px solid #8f8f8f;
}

.apss-theme-1 .apss-single-icon.apss-print a .count {
    display: none;
}

.apss-theme-1 .apss-single-icon.apss-email a .count {
    display: none;
}

/**********************************************THEME 2 CSS ************************************************************/

.apss-theme-2 .apss-share {
    display: none;
}

.apss-theme-2 .apss-single-icon a {
    position: relative;
    display: block;
    float: left;
    margin: 10px 8px;
    color: #fff;
}

.apss-theme-2 .apss-icon-block {
    font-size: 14px;
    position: relative;
    min-width: 207px;
}

.apss-theme-2 .apss-single-icon .fa {
    color: #fff;
    font-size: 20px;
    line-height: 29px;
    min-width: 38px;
    vertical-align: top;
    padding: 3px 0;
    position: relative;
    height: 35px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.apss-theme-2 .apss-single-icon .fa:before {
    left: 55%;
    margin-left: -19px;
    position: absolute;
    text-align: center;
    width: 35px;
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.apss-theme-2 .apss-single-icon a:hover .fa:before {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
}

.apss-theme-2 .apss-social-text {
    display: inline-block;
    line-height: 29px;
    vertical-align: middle;
    padding: 3px 9px;
    margin: 0 0 0 -4px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.apss-theme-2 .apss-facebook .fa {
    border-right: 1px solid #28447d;
}

.apss-theme-2 .apss-facebook .apss-social-text {
    border-left: 1px solid #476dbe;
}

.apss-facebook .apss-icon-block {
    background-color: #3b5998;
}

.apss-twitter .apss-icon-block {
    background-color: #1dcaff;
}

.apss-theme-2 .apss-twitter .fa {
    border-right: 1px solid #1ca2cb;
}

.apss-theme-2 .apss-twitter .apss-social-text {
    border-left: 1px solid #77dfff;
}

.apss-google-plus .apss-icon-block {
    background-color: #dd4b39;
}

.apss-theme-2 .apss-google-plus .fa {
    border-right: 1px solid #b73c2c;
}

.apss-theme-2 .apss-google-plus .apss-social-text {
    border-left: 1px solid #f57060;
}

.apss-pinterest .apss-icon-block {
    background-color: #C92228;
}

.apss-theme-2 .apss-pinterest .fa {
    border-right: 1px solid #a23034;
}

.apss-theme-2 .apss-pinterest .apss-social-text {
    border-left: 1px solid #c84146;
}

.apss-linkedin .apss-icon-block {
    background-color: #3f729b;
}

.apss-theme-2 .apss-linkedin .fa {
    border-right: 1px solid #365a76;
}

.apss-theme-2 .apss-linkedin .apss-social-text {
    border-left: 1px solid #5391c2;
}

.apss-digg .apss-icon-block {
    background-color: #2169a8;
}

.apss-theme-2 .apss-digg .fa {
    border-right: 1px solid #1f588a;
}

.apss-theme-2 .apss-digg .apss-social-text {
    border-left: 1px solid #3785ca;
}

.apss-print .apss-icon-block {
    background-color: #5e5959;
}

.apss-theme-2 .apss-print .fa {
    border-right: 1px solid #474747;
}

.apss-theme-2 .apss-print .apss-social-text {
    border-left: 1px solid #696161;
}

.apss-email .apss-icon-block {
    background-color: #8f8f8f;
}

.apss-theme-2 .apss-email .fa {
    border-right: 1px solid #717171;
}

.apss-theme-2 .apss-email .apss-social-text {
    border-left: 1px solid #a1a1a1;
}

.apss-theme-2 .count {
    background-color: #f7f7f7;
    border: 1px solid #dcdcdc;
    border-radius: 4px;
    color: #666666;
    font-size: 14px;
    line-height: 1;
    min-width: 55px;
    opacity: 0;
    filter: alpha(opacity=0);
    /*ie8*/
    padding: 10px 5px;
    position: absolute;
    right: 0px;
    text-align: center;
    top: 0;
    z-index: 1;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.apss-theme-2 .apss-single-icon a:hover .count {
    opacity: 1;
    filter: alpha(opacity=100);
    /*ie8*/
    right: -67px;
}

.apss-theme-2 .count:after {
    background: url(front.css) no-repeat;
    width: 10px;
    height: 20px;
    bottom: -10px;
    content: "";
    top: 50%;
    left: -10px;
    margin-top: -10px;
    position: absolute;
}

.apss-theme-2 .apss-single-icon.apss-print a:hover .count {
    display: none;
}

.apss-theme-2 .apss-single-icon.apss-email a:hover .count {
    display: none;
}

/**********************************************THEME 3 CSS ************************************************************/

.apss-theme-3 .apss-share {
    display: none;
}

.apss-theme-3 .apss-single-icon a {
    position: relative;
    display: block;
    float: left;
    margin: 7px 1.5px;
    color: #fff;
}

.apss-theme-3 .apss-single-icon a .apss-icon-block {
    font-size: 13px;
    position: relative;
    border-radius: 36px;
    float: left;
    z-index: 5;
    height: 36px;
    width: 36px;
}

.apss-theme-3 .apss-single-icon a:hover .apss-icon-block {
    width: auto;
}

.apss-theme-3 .apss-single-icon .fa {
    color: #fff;
    font-size: 20px;
    line-height: 1;
    min-width: 36px;
    min-height: 36px;
    vertical-align: top;
    padding: 8px 0 0;
    /*padding: 8px 0px 8px 0px;*/
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.apss-theme-3 .apss-social-text {
    display: inline-block;
    line-height: 1;
    opacity: 0;
    padding: 11px 0 0;
    filter: alpha(opacity=0);
    /*ie8*/
    width: 0;
    font-size: 0;
    transition: opacity 0.8s ease-in-out;
    -webkit-transition: opacity 0.8s ease-in-out;
    -moz-transition: opacity 0.8s ease-in-out;
    -o-transition: opacity 0.8s ease-in-out;
    -ms-transition: opacity 0.8s ease-in-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.apss-theme-3 .apss-single-icon a:hover .apss-social-text {
    display: inline-block;
    line-height: 1;
    font-size: 13px;
    opacity: 1;
    filter: alpha(opacity=100);
    /*ie8*/
    width: auto;
    position: relative;
}

.apss-theme-3 .count {
    border-bottom-right-radius: 36px;
    border-top-right-radius: 36px;
    float: left;
    font-size: 0px;
    line-height: 1;
    text-align: center;
    width: 0px;
    opacity: 0;
    filter: alpha(opacity=0);
    /*ie8*/
    right: 0;
    z-index: 4;
}

.apss-theme-3 .apss-single-icon a:hover .count {
    min-width: 36px;
    opacity: 1;
    padding: 11px 10px;
    filter: alpha(opacity=100);
    /*ie8*/
    width: auto;
    font-size: 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.apss-theme-3 .apss-single-icon.apss-print a:hover .count {
    min-height: 36px;
    display: none;
}

.apss-theme-3 .apss-single-icon.apss-email a:hover .count {
    min-height: 36px;
    display: none;
}

.apss-theme-3 .apss-single-icon a {
    border-radius: 36px;
}

.apss-theme-3 .apss-single-icon a:hover {
    padding-right: 9px;
}

.apss-theme-3 .apss-facebook a {
    background-color: #3b5998;
}

.apss-theme-3 .apss-twitter a {
    background-color: #1dcaff;
}

.apss-theme-3 .apss-google-plus a {
    background-color: #dd4b39;
}

.apss-theme-3 .apss-pinterest a {
    background-color: #C92228;
}

.apss-theme-3 .apss-linkedin a {
    background-color: #3f729b;
}

.apss-theme-3 .apss-digg a {
    background-color: #2169a8;
}

.apss-theme-3 .apss-print a {
    background-color: #5e5959;
}

.apss-theme-3 .apss-email a {
    background-color: #8f8f8f;
}

.apss-theme-3 .apss-single-icon .apss-icon-block {
    background: none;
}

/**********************************************THEME 4 CSS ************************************************************/

.apss-theme-4 .apss-share {
    display: none;
}

.apss-theme-4 .apss-single-icon a {
    position: relative;
    display: block;
    float: left;
    margin: 8px;
    color: #fff;
    min-height: 60px;
}

.apss-theme-4 .apss-icon-block {
    border-radius: 36px;
    margin: 0 auto;
    position: relative;
    width: 36px;
    height: 36px;
}

.apss-theme-4 .apss-single-icon .fa {
    color: #fff;
    font-size: 20px;
    line-height: 1;
    min-width: 36px;
    vertical-align: top;
    padding: 8px 0px 8px 0px;
    position: relative;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.apss-theme-4 .apss-social-text {
    display: none;
}

.apss-theme-4 .count {
    color: #2d2d2d;
    font-family: arial;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.apss-theme-4 .apss-single-icon a:hover .apss-icon-block:after {
    background: none repeat scroll 0 0 #fff;
    border-radius: 100%;
    content: "";
    height: 100%;
    left: -3px;
    position: absolute;
    top: -3px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    width: 100%;
}

.apss-theme-4 .apss-single-icon a:hover .fa {
    z-index: 5;
}

.apss-theme-4 .apss-facebook a:hover .fa {
    color: #3b5998;
}

.apss-theme-4 .apss-twitter a:hover .fa {
    color: #1dcaff;
}

.apss-theme-4 .apss-google-plus a:hover .fa {
    color: #dd4b39;
}

.apss-theme-4 .apss-pinterest a:hover .fa {
    color: #C92228;
}

.apss-theme-4 .apss-linkedin a:hover .fa {
    color: #3f729b;
}

.apss-theme-4 .apss-digg a:hover .fa {
    color: #2169a8;
}

.apss-theme-4 .apss-print a:hover .fa {
    color: #5e5959;
}

.apss-theme-4 .apss-email a:hover .fa {
    color: #8f8f8f;
}

.apss-theme-4 .apss-single-icon.apss-print .count {
    display: none;
}

.apss-theme-4 .apss-single-icon.apss-email .count {
    display: none;
}

/**********************************************THEME 5 CSS ************************************************************/

.apss-theme-5 .apss-social-text {
    display: none;
}

.apss-theme-5 .apss-single-icon a {
    border-radius: 76px;
    color: #fff;
    display: block;
    float: left;
    height: 76px;
    margin: 5px;
    padding: 9px;
    position: relative;
    width: 76px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.apss-theme-5 .apss-icon-block {
    position: relative;
}

.apss-theme-5 .apss-single-icon .fa {
    color: #fff;
    font-size: 22px;
    line-height: 1;
    position: relative;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    display: block;
}

.apss-theme-5 .apss-share {
    display: block;
    font-size: 13px;
    text-align: center;
    line-height: 1;
    padding: 3px 0 2px;
    text-transform: capitalize;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.apss-theme-5 .count {
    display: block;
    font-size: 13px;
    text-align: center;
    line-height: 1;
    padding: 2px;
}

.apss-theme-5 .apss-facebook a {
    background-color: #3b5998;
}

.apss-theme-5 .apss-facebook a:hover {
    color: #3b5998;
    border: 2px solid #3b5998;
}

.apss-theme-5 .apss-facebook a:hover .fa {
    color: #3b5998;
}

.apss-theme-5 .apss-twitter a {
    background-color: #1dcaff;
}

.apss-theme-5 .apss-twitter a:hover {
    color: #1dcaff;
    border: 2px solid #1dcaff;
}

.apss-theme-5 .apss-twitter a:hover .fa {
    color: #1dcaff;
}

.apss-theme-5 .apss-google-plus a {
    background-color: #dd4b39;
}

.apss-theme-5 .apss-google-plus a:hover {
    color: #dd4b39;
    border: 2px solid #dd4b39;
}

.apss-theme-5 .apss-google-plus a:hover .fa {
    color: #dd4b39;
}

.apss-theme-5 .apss-pinterest a {
    background-color: #C92228;
}

.apss-theme-5 .apss-pinterest a:hover {
    color: #C92228;
    border: 2px solid #C92228;
}

.apss-theme-5 .apss-pinterest a:hover .fa {
    color: #C92228;
}

.apss-theme-5 .apss-linkedin a {
    background-color: #3f729b;
}

.apss-theme-5 .apss-linkedin a:hover {
    color: #3f729b;
    border: 2px solid #3f729b;
}

.apss-theme-5 .apss-linkedin a:hover .fa {
    color: #3f729b;
}

.apss-theme-5 .apss-digg a {
    background-color: #2169a8;
}

.apss-theme-5 .apss-digg a:hover {
    color: #2169a8;
    border: 2px solid #2169a8;
}

.apss-theme-5 .apss-digg a:hover .fa {
    color: #2169a8;
}

.apss-theme-5 .apss-print a {
    background-color: #5e5959;
}

.apss-theme-5 .apss-print a:hover {
    color: #5e5959;
    border: 2px solid #5e5959;
}

.apss-theme-5 .apss-print a:hover .fa {
    color: #5e5959;
}

.apss-theme-5 .apss-email a {
    background-color: #8f8f8f;
}

.apss-theme-5 .apss-email a:hover {
    color: #8f8f8f;
    border: 2px solid #8f8f8f;
}

.apss-theme-5 .apss-email a:hover .fa {
    color: #8f8f8f;
}

.apss-theme-5 .apss-single-icon a:hover {
    background-color: #fff;
}

.apss-theme-5 .apss-single-icon .apss-icon-block {
    background: none;
}

.apss-theme-5 .apss-single-icon.apss-print .count {
    display: none;
}

.apss-theme-5 .apss-single-icon.apss-email .count {
    display: none;
}

/**********************************************THEME 6 CSS ************************************************************/

.apss-theme-6 .apss-social-text {
    display: none;
}

.apss-theme-6 .apss-share {
    display: none;
}

.apss-theme-6 .apss-single-icon {
    border-bottom: none;
    margin-bottom: 20px;
    display: inline-block;
}

.apss-theme-6 .apss-single-icon a {
    color: #fff;
    display: block;
    float: left;
    height: 30px;
    margin: 5px;
    padding: 5px;
    position: relative;
    width: 30px;
    background: none !important;
    text-align: center;
    vertical-align: middle;
    line-height: 30px;
}

.apss-theme-6 .apss-single-icon a:before {
    content: '';
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: #E6E6E6;
    width: 33px;
    height: 33px;
    display: inline-block;
    position: absolute;
    left: 50%;
    margin-left: -17px;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
}

.apss-theme-6 .apss-single-icon .apss-icon-block {
    vertical-align: middle;
    line-height: 46px;
    display: inline-block;
}

.apss-theme-6 .apss-icon-block {
    position: relative;
}

.apss-theme-6 .apss-single-icon .fa {
    color: #8A8A8A;
    font-size: 17px;
    line-height: 1;
    position: relative;
    display: block;
}

.apss-theme-6 .apss-share {
    font-size: 13px;
    text-align: center;
    line-height: 1;
    padding: 3px 0 2px;
    text-transform: capitalize;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.apss-theme-6 .count {
    display: block;
    font-size: 13px;
    text-align: center;
    padding: 2px;
    color: #000;
    margin-top: 5px
}

.apss-theme-6 .apss-icon-block a:hover .fa,
.apss-theme-6 .apss-single-icon:hover .fa {
    color: #fff;
}

.apss-theme-6 .apss-facebook a:hover:before {
    background-color: #3b5998;
}

.apss-theme-6 .apss-twitter a:hover:before {
    background-color: #1dcaff;
}

.apss-theme-6 .apss-google-plus a:hover:before {
    background-color: #dd4b39;
}

.apss-theme-6 .apss-pinterest a:hover:before {
    background-color: #C92228;
}

.apss-theme-6 .apss-linkedin a:hover:before {
    background-color: #3f729b;
}

.apss-theme-6 .apss-digg a:hover:before {
    background-color: #2169a8;
}

.apss-theme-6 .apss-print a:hover:before {
    background-color: #5e5959;
}

.apss-theme-6 .apss-email a:hover:before {
    background-color: #8f8f8f;
}

.apss-theme-6 .apss-single-icon a:hover {
    background-color: #fff;
}

.apss-theme-6 .apss-single-icon .apss-icon-block {
    background: none;
}

.apss-theme-6 .apss-single-icon.apss-print .count {
    display: none;
}

.apss-theme-6 .apss-single-icon.apss-email .count {
    display: none;
}

/* ********************************************theme 6 ends ******************************************************** */

.apss-share-text {
    opacity: 0.4;
    line-height: 16px;
    color: #333;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 9px;
}

/************************************************responsive*************************************************************/

@media screen and (max-width:768px) {
    .apss-theme-3 .apss-single-icon {
        display: inline-block;
        /*width: 50%;*/
    }
}

@media screen and (max-width:480px) {
    .apss-theme-3 .apss-single-icon {
        display: inline-block;
        /*width: 100%;*/
        clear: both;
    }
}

.footer-fixed {
    position: fixed;
    width: 100%;
    background: #ccdee8;
    bottom: 0;
    text-align: center;
    padding: 5px 0;
    color: #000;
    text-align: center;
    margin: 0 auto;
    z-index: 100;
}

.footer-fixed .tl {
    float: left;
    width: 54.5%;
    text-align: right;
    font-size: 15px;
    line-height: 21px;
}

.footer-fixed .tr {
    float: right;
    width: 44.5%;
}

.footer-fixed .tcenter {
    float: right;
    width: 100%;
}

.btn-danger {
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.btn {
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.blink_me {
    animation: blinker 1s linear infinite
}

@keyframes blinker {
    50% {
        opacity: .3;
        color: red
    }
}

/* (Iphone 6/7/8 Plus  landscape) */

/* Screen 736px */

@media (max-width: 767px) {
    .header-wrap {
        padding: 10px 0;
    }
    .logo-wrap img {
        width: 25%;
    }
    .mh-header {
        margin-bottom: 20px;
    }
    .breadcrumb {
        margin-bottom: 10px;
    }
    .main-nav .menu {
        display: flex;
        justify-content: space-between;
    }
    .main-nav .menu li a {
        padding: 0.625rem 5px;
    }
}

/* Portrait for all phone */

/* Screen 320px */

@media (max-width: 479px) {
    .logo-wrap img {
        width: 40%;
    }
}