@charset "UTF-8";





@supports (display:grid) {
}

.video-js .vjs-menu :focus:not(:focus-visible), .video-js :focus:not(:focus-visible) {
    outline: 0;
    background: 0 0
}



.video-js:fullscreen {
    width: 100%;
    height: 100%
}


@media screen and (max-width:991px) and (min-width:767px){
    body:not(#site01net):not(.site01net):not(.mediaplayer) #wrap-mobile{
        padding-top: 70px !important;
    }
}

@media (max-width: 1030px) {
    .container {
        width: 100%
    }
}

@media (max-width: 767px) {

    .article h1 {
        font-size: 24px;
        padding-right: 0
    }

    .main_containt {
        box-shadow: 0 0 0 rgba(0, 0, 0, 0);
        margin: 0
    }
}

@media (max-width: 650px) {

    .article p {
        text-align: left !important;
        font-size: 14px !important;
        line-height: 20px !important
    }

    .article h3 {
        font-size: 22px;
        line-height: 28px;
        margin: 15px 0 15px 0
    }

    .article .main-figure {
        margin-right: -14px;
        margin-left: -14px
    }

    .article .title-ultra {
        font-size: 24px !important;
        line-height: 28px !important
    }

    .title-large {
        font-size: 20px;
        line-height: 22px
    }

    .article .title-large {
        font-size: 16px;
        line-height: 20px
    }

    .title-ultra {
        font-size: 22px;
        line-height: 26px
    }

    .title-large {
        font-size: 20px;
        line-height: 22px
    }

    #bfmbusiness .title-large {
        font-size: 15px;
        line-height: 18px;
        margin: 0
    }

    #bfmbusiness .title-large {
        font-size: 20px;
        line-height: 22px
    }

    #bfmbusiness .title-ultra {
        font-size: 40px;
        line-height: 40px
    }

    .content_full_size {
        padding: 0
    }

    .main_containt {
        padding: 0 9px 0 9px
    }

    .content_full_size .container {
        padding-top: 9px
    }

    .bloc {
        margin-bottom: 9px
    }
}

@media (min-width: 768px) {
    .pane-aside {
        display: none
    }
}

@media (max-width: 767px) {

    html, body {
        width: 100%;
        overflow-y: scroll;
        overflow-x: hidden
    }

    #bb5-site-wrapper {
        position: static !important
    }

    .pane-asides .pane-aside {
        position: absolute;
        top: 0;
        bottom: 0;
        left: -265px;
        right: 0;
        width: 265px;
        overflow: auto;
        -webkit-overflow-scrolling: touch;
        -webkit-backface-visibility: hidden
    }

    .pane-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 90
    }
}

@media (max-width: 1030px) {

    .article {
        text-align: left !important
    }
}

@media (min-width: 650px) and (max-width: 1300px) {

    .article p {
        text-align: left !important
    }
}

@media (min-width: 980px) and (max-width: 1300px) {

    .container {
        width: 998px
    }

    [class*="col-md-1000-"] {
        float: left
    }

    .col-md-1000-3 {
        width: 25%
    }

    .col-md-1000-12 {
        width: 100%
    }

    .hidden-1000 {
        /* display: none !important */
    }
    .padding-rightx2{

        padding-right: 4px; 
    }
    .padding-leftx2 {
        padding-left:4px;
    }
    .title-xs {
        font-size: 11px;
        line-height: 14px
    }

    .title-large {
        font-size: 23px;
        line-height: 30px;
        letter-spacing: -1px
    }

    .title-ultra {
        font-size: 49px;
        line-height: 53px;
        letter-spacing: -1px
    }
}

@media (min-width: 768px) and (max-width: 1300px) {

    .no-padding-tablette {
        padding: 0
    }
}

@media (max-width: 991px) {

    header[class^="nx-"] {
        top: auto
    }
}

.keet-btn {
    color: white !important;
    text-align: center;
    padding: 12px;
    background: #004578;
    border-radius: 4px;
    margin: 25px 0;
    display: block;
    font-size: 22px;
    text-transform: uppercase;
}


img {
    margin: 10px 0;
}

.img-caption {
    color: #696969;
    font-style: italic;
    margin-bottom: 15px;
}

.comment {
    display: flex;
    flex-direction: column;
}

.comment > div {
    display: flex;
    padding-bottom: 12px;

}

.comment > div > img {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    border-radius: 5px;

}

.comment > div  > div > p {
    margin: 5px 0;
}

.comment > div > div > span {
    color: gray;
}

.comment > .comment {
    margin-left: 70px;
    padding-left: 10px;
    padding-bottom: 0;
    margin-bottom: 12px;
    border-left: 2px solid #1d284b;
}

.comment >div > div> p > a {
    font-family: "Mn paethai demibd v3";
    font-size: 23px;
}
